<ul class="od-dropdown" style='width:{{width}}px'>
	{{#each values}}
	<li>{{this}}</li>
	{{/each}}
	<!--
	<li class="top">选项1</li>
	<li class="interval">选项2</li>
	<li>选项3</li>
	<li class="interval">选项4</li>
	<li class="bottom">选项5</li>
	-->
</ul>