<div class="od-left-icon-btn" style='width:{{width}}px'>
<span class="left-icon-btn-bg-l">{{#if icon}}<em class="icon od-icon-{{icon}}"></em>{{else}}+{{/if}}</span><span class="left-icon-btn-bg-r">{{text}}</span>
</div>