<div class='od-time-selector'>
	<ul>
		<li class='ts-year'>
			<select>
				<option value='-1'>- 请选择 -</option>
			</select>
			<div>年</div>
		</li>
		<li class='ts-month'>
			<select>
				<option value='-1'>- 请选择 -</option>
			</select>
			<div>月</div>
		</lid>
		<li class='ts-date'>
			<select>
				<option value='-1'>- 请选择 -</option>
			</select>
			<div>日</div>
		</li>
		<li class='ts-hour'>
			<select>
				<option value='-1'>- 请选择 -</option>
			</select>
			<div>时</div>
		</li>
		<li class='ts-minute'>
			<select>
				<option value='-1'>- 请选择 -</option>
			</select>
			<div>分</div>
		</lid>
		<li class='ts-second'>
			<select>
				<option value='-1'>- 请选择 -</option>
			</select>
			<div>秒</div>
		</li>
	</ul>
</div>