<% content_for :head do %>
  <%= stylesheet_link_tag "pages/sample/sign_up-bundle", :media => "all" %>
  <%= javascript_include_tag "pages/sample/sign_up-bundle" %>
<% end %>

      <div class="login_con">
        <div class="con_login">
          <h3>欢迎注册！</h3>  
          <div class="form">
            <div class="wraper">账户名：<br />
              <div>
                <input type="text" name="account" placeholder="请输入邮箱/手机号" class="account"/>
              </div>
              <!-- <div style="clear:both;"></div> -->
            </div>
            
            <div class="wraper">密码：<br />
              <input type="password" name="password"  placeholder="请输入密码" />
              <!-- <div style="clear:both;"></div> -->
            </div>
            
            <div class="wraper login_password">确认密码：<br />
              <input type="password" name="password_confirmation" placeholder="请输入确认密码" />
             <!--  <div style="clear:both;"></div> -->
            </div>
            
<!--          <div class="pro">
              <input type="checkbox"  checked="checked" class="protocol"/>
              <span>我已阅读并同意
                <a href="" target="_blank" class="proto_info">《问卷吧用户注册协议》</a>
              </span>
              <div style="clear:both;"></div>  
            </div> -->
            <input class="login_btn" type="submit" value="立即注册" />
          </div>
        </div>

        
        <div class="line"></div>
        <div class="con_regist">
          <!-- <h1>立即注册</h1> -->
          <div class="none_account">已有账户?<a href="<%=sign_in_account_path%>" target="_blank">立即登录</a></div>
          <div class="img_container">
            <img src= "/assets/od-quillme/third_party_reg.png">
          </div>
          


<!--           <div>您还可以用以下方式直接登录</div>
          <div class="other_login">
            <dl>
              <dt><a href="" target="_blank"><img src="/assets/od-quillme/acc_sina.png" width="20" height="20" /></a></dt>
              <dd><a href="" target="_blank">新浪微博</a></dd>
            </dl>
            <dl>
              <dt><a href="" target="_blank"><img src="/assets/od-quillme/acc_tecent.png" width="20" height="20" /></a></dt>
              <dd><a href="" target="_blank">腾讯微博</a></dd>
            </dl>
            <dl>
              <dt><a href="" target="_blank"><img src="/assets/od-quillme/acc_sou.png" width="20" height="20" /></a></dt>
              <dd><a href="" target="_blank">搜狐微博</a></dd>
            </dl>
            <dl>
              <dt><a href="" target="_blank"><img src="/assets/od-quillme/acc_qq.png" width="20" height="20" /></a></dt>
              <dd><a href="" target="_blank">QQ账号</a></dd>
            </dl>
            <dl>
              <dt><a href="" target="_blank"><img src="/assets/od-quillme/acc_ali.png" width="20" height="20" /></a></dt>
              <dd><a href="" target="_blank">支付宝</a></dd>
            </dl>
            <dl>
              <dt><a href="" target="_blank"><img src="/assets/od-quillme/acc_renren.png" width="20" height="20" /></a></dt>
              <dd><a href="" target="_blank">人人网</a></dd>
            </dl>
          </div> -->
        </div>
        <div style="clear:both;"></div>
      </div>



