.bundle
db/*
log/*.log
log
tmp/
.sass-cache/
.tags
.tags_sorted_by_file
db/*.lock
db/journal
.DS_Store
config/mongoid.yml
Gemfile.lock
public/uploads/*
public/uploads/avatar/*
public/assets/*
public/manyime/*
lib/data.csv
