<% content_for :head do %>
  <%= stylesheet_link_tag "pages/admin/agents-bundle" %>
  <%= javascript_include_tag "pages/admin/agents/form-bundle" %>
<% end %>

<% content_for :sidenav do %>
  <li>
    <a href="/admin/agents">
    <i class="icon-chevron-right"></i>
    代理列表
    </a>
  </li>
  <li>
    <a href="/admin/agents/new">
      <i class="icon-chevron-right"></i>
      新建代理
    </a>
  </li>
  <li class="active">
    <a href="">
      <i class="icon-chevron-right"></i>
      编辑代理
    </a>
  </li>    
  <li>
    <a href="/admin/agent_tasks">
    <i class="icon-chevron-right"></i>
    代理任务列表
    </a>
  </li>
<% end %>

<%= render "form" %>
<% content_for :foot do %>

<% end %>
