@import "common";
@import "compass/css3/inline-block";
@import "od-icon/*.png";
@import "od-button/*.png";

.od-item {
	.drag-btn {
		@include inline-block;
		@include size(16px, 16px);
		border: none;
		@include od-icon-sprite(drag);	
		margin-right: 5px;
		cursor: move;
	}	
	.drag-btn-hide {
		background: none;
		cursor: default;
	}
	
	>div {
		@include inline-block;
	}
	
	.close-btn {
		@include inline-block;
		@include size(26px, 25px);
		border: none;
		cursor: pointer;
		margin: 1px 0 0 -3px;
		@include od-button-sprite(close);
		position: relative;
		
		&:hover  {
			@include od-button-sprite(close_hover);
		}
		&:active {
			@include od-button-sprite(close_active);
		}
	}

	&.highlight {
		
	}
}