@import "common";
@import "compass/css3/inline-block";
@import "editors/*.png";

.od-item {
	.drag-btn {
		@include inline-block;
		@include size(20px, 20px);
		border: none;
		@include editors-sprite(drag);	
		margin-right: 5px;
		cursor: move;
	}	
	.drag-btn-hide {
		background: none;
		cursor: default;
	}
	
	>div {
		@include inline-block;
	}
	
	.close-btn {
		@include inline-block;
		@include size(32px, 32px);
		border: none;
		cursor: pointer;
		margin: 1px 0 0 -3px;
		@include editors-sprite(del);
		position: relative;
		
		&:hover  {
			@include editors-sprite(del_hover);
		}
	}

	&.highlight {
		
	}
}