/*
*=require ./../../icons
*/
@import "common";
@import "compass/css3/inline-block";

.od-left-icon-btn{
	font-size: 12px;
	@include one-line(32px);
	@include inline-block;
	color: #666;
	cursor:pointer;
	padding-right:10px;
	&:hover{
		.left-icon-btn-bg-l{
			background: #FFD337;
		}	
	}
	.left-icon-btn-bg-l{
		@include inline-block;
		width:32px;
		height:32px;
		line-height: 29px;
		background: #FFC800;
		color:#FFF;	
		font-size: 20px;
		// font-weight: bold;
		text-align: center;
	}
	.left-icon-btn-bg-r{
		@include one-line(30px);
		padding:0 10px;
		border:1px $borderColor solid;
		border-left:0;
		@include inline-block;
	}
}
