@import "common";
@import "compass/css3/inline-block";
@import "od-icon/*.png";

.od-rich-input {
	
	@include inline-block;
	position: relative;
	input[type='text'] {
		$input-width: 538px;
		$input-height: 32px;
		
		@include ipt;
		@include inline-block;
		@include size($input-width - 68 - 5 - 2, $input-height - 3 - 2);
		padding: 3px 5px 0 5px;
		border: 1px #dbdbdb solid;
		color: #666;
		font-size: 14px;
		background: #FFF;
		
		&:focus { border-color:$exblue; }
		&.other { color: $blue; }
	}
	
	textarea {
		$input-width: 569px;
		$input-height: 42px;
		@include ipt;
		@include inline-block;
		@include size($input-width - 5 * 2 - 2, $input-height - 5 * 2 - 2);
		line-height: 1.3em;
		padding: 5px;
		border:1px #dbdbdb solid;
		color: #333;
		font-size: 14px;
		resize:none;	/*禁止鼠标拖动调大小*/
	}
}
