/*
 *=require ./od_dropdown
 */
 
@import "common";
@import "compass/css3/inline-block";
@import "editors/*.png";
$url-od-selector: image-url("widgets/od-selector.png");
$url-od-selector-yellow: image-url("widgets/od-selector-yellow-1px.png");
$od-selector-height: 32px;

.od-selector {
	position: relative;
	@include inline-block;
	font-size: 12px;
	.selector-box {
		@include one-line($od-selector-height);
		cursor: pointer;
		> b {
			position: relative;
			margin-right:24px;
			@include one-line($od-selector-height - 2);
			margin-left:3px;
			display: block;
			font-weight: normal;
			padding-left: 0.5em;
			padding-right: 0.5em;
			text-align: left;
			color:#666;
			background: #FFF;
			border:1px #cbcccc solid;
			border-right:0;

			span { 
				overflow: hidden; 
				display: block;
				height: $od-selector-height - 2;
			}
			
			.pull-down {
				width: 32px;
				height: $od-selector-height;
				@include editors-sprite(select);
				position: absolute;
				right:-24px;
				top:-1px;
				@include inline-block;
			}
		}
		
		&:hover {
			.pull-down{
				@include editors-sprite(select_hover);
			}
		}
	}
}