<div id='sf_main'>
	<div class='welcome no_reward'>
		<div class='inner'>
			<h1>{{title}}</h1>
			<div class='msg red'>
				<em></em>
				<span>
					<b>呼唤真实认真的答题</b><br />
					系统检测到您没有认真答题，真实的数据是我们所追求的，您还有一次重答的机会，请认真答题
					{{#if audit_message}}
					<br />
					未通过审核理由:{{audit_message}}
					
					{{/if}}
					。
				</span>
			</div>
			<div class='form'>
				<button id='redo_btn'>开始重新答题</button>
			</div>
			<div class="share">
				<div class="jiathis_style">
					<span class="jiathis_txt">分享到：</span>
					<a class="jiathis_button_tools_1"></a>
					<a class="jiathis_button_tools_2"></a>
					<a class="jiathis_button_tools_3"></a>
					<a class="jiathis_button_tools_4"></a>
					<a class="jiathis_button_tools_5"></a>
					<a class="jiathis_button_tools_6"></a>
					<a class="jiathis_button_tools_7"></a>
					<a class="jiathis_button_tools_8"></a>	
					<a class="jiathis_button_tools_9"></a>
					<a class="jiathis_button_tools_10"></a>	
					<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
				</div>	
			</div>			
		</div>
	</div>
</div>