<div class="page">
	<div class="describe">
		<span>抱歉，系统检测到您没有认真答题，您还有一次重新答题的机会，请认真答题，感谢您的支持。</span>
	</div>
</div>
<div class="footer">
	<a href="javascript:void(0)" class="resume"  id='redo_btn'>重新答题</a>
</div>
