<div id='sf_main'>
	<div class='welcome no_reward'>
		<div class='inner'>
			<h1>{{title}}</h1>
			<div class='msg red'>
				<em></em>
				<span>
					<b>呼唤真实认真的答题</b><br />
					系统检测到您没有认真答题，真实的数据是我们所追求的，您还有一次重答的机会，请认真答题
					{{#if audit_message}}
					<br />
					未通过审核理由:{{audit_message}}
					
					{{/if}}
					。
				</span>
			</div>
			<div class='form'>
				<button id='redo_btn'>开始重新答题</button>
			</div>
		</div>
	</div>
</div>