<div class="page">
	<div class="describe">
		<div class="answer_finish">
			<b><i></i>答题完成啦！</b>
			<div>恭喜您获得了一次抽奖机会</div>
		</div>
	</div>
	<div class="free_form">
		<button class="rew_next" id="rew_next" >马上抽奖</button>
		{{#if spreadable}}
    	<button id="socal_share">分享得{{spread_point}}积分</button>
    {{else}}
    	<button id="socal_share">分享问卷</button>
    {{/if}}
	</div>		
</div>
<div class="footer">
	{{#if allow_pageup}}	
	<a href="javascript:void(0)" class="prev" id="check_btn" title="返回检查答案"></a>
	{{/if}}	
	<i class="footer-divide"></i>
	{{#if show_restart}}
	<a href="javascript:void(0)" class="resume" id="restart_btn">重新答题</a>
	{{else}}
		{{#if allow_replay}}
			<a href="javascript:void(0)" class="resume" id="replay">重新答题</a>
		{{/if}}
		{{#if allow_multianswer}}
			{{#if signin}}
				<a class='signout-btn' href='javascript:void(0);'>再答一份</a>
			{{else}}
				<button class='newanswer-btn'>再答一份</button>
			{{/if}}
		{{/if}}			
	{{/if}}
</div>