
<div class="page">
	<div class="order_finish">
		{{#if failed}}
			<div>答卷未通过审核</div>
		{{else}}
			<div>答题完成啦！</div>
		{{/if}}

		{{#if waiting}}
			<div>
			订单已提交，订单号为：<em>{{order_code}}</em><br />
			您可以<a href="/users/orders">查看详情</a>
			</div>
		{{/if}}

		{{#if success}}
			<div>
				我们已经向您发放了<em>{{reward_money}}</em>元奖励，如长时间未收到请<a 	href='/help/aboutus#contact' >联系客服</a>。
			</div>
		{{/if}}
	
		{{#if failed}}
			<div>
				很抱歉，您的答卷未通过管理员审核，系统已经取消您的奖励兑换申请，如有疑问请<a href='/help/aboutus#contac'>	联系客服</a>。
			</div>
		{{/if}}	
	</div>
	{{#if spreadable}}
		<div class="share">
			<button id="socal_share">分享问卷得{{spread_point}}积分</button>
			<button id="close">关闭窗口</button>
		</div>
	{{/if}}
</div>