<div class="page">
	<div class="free_describe">
		<div class="answer_finish">
			<b>答题完成啦！</b>
			<div>恭喜您获得了{{spread_point}}积分，我们会在审核后将积分发放到您的账户</div>
		</div>
	</div>
	<div class="free_form">
		<button class="rew_next" id="rew_next" >查看积分记录</button>
	</div>		
</div>