<div id='sf_main'>
	<div class='welcome no_reward'>
		<div class='inner'>
			<h1>{{title}}</h1>

			{{#if filter}}
			<div class='msg red'>
				<em></em>
				<span>
					<b>对不起，您不在我们的调研范围内。</b>{{#if publish_result}}<a href='/surveys/{{../survey_id}}/result'>查看问卷报告</a>{{/if}}
					<!--<br />问卷针对不同人群进行了配额，根据您的答题情况，您不在我们的调研范围内，感谢您的热心参与！-->
					{{#if spreadable}}
					<br />您可以 <a id='start_spread' href='javascript:void(0);'>邀请好友答题</a> 获取<em>{{spread_point}}</em>积分奖励。
					{{/if}}
					{{#if show_subscribe}}
					<!--<br />（<a id='subscribe_btn' href='/surveys#subscribe' target='_blank'>订阅</a>问卷提醒，不错过任何问卷）-->
					{{/if}}
				</span>
			</div>
			{{/if}}

      {{#if reach_max}}
      <div class='msg red'>
        <em></em>
        <span>
          <b>对不起，问卷已经达到回收数量，下次请记得提前来哦。</b>
          <!--<br />问卷针对不同人群进行了配额，根据您的答题情况，您不在我们的调研范围内，感谢您的热心参与！-->
          {{#if show_subscribe}}
          <!--<br />（<a id='subscribe_btn' href='/surveys#subscribe' target='_blank'>订阅</a>问卷提醒，不错过任何问卷）-->
          {{/if}}
        </span>
      </div>
      {{/if}}

			{{#if quality}}
			<div class='msg red'>
				<em></em>
				<span>
					<b>已取消答题资格</b><br />
					由于您没有认真答题，系统已经取消您的答题资格，真实的数据是我们所追求的，下次请认真答题。
				</span>
			</div>
			{{/if}}

			{{#if timeout}}
			<div class='msg time'>
				<em></em>
				<span>
					<b>答题超时，您没有在规定时间内完成答题。</b><br />
					需要在开始答题后 48 小时内完成答题，下次记得要一口气答完哦~
				</span>
			</div>
			{{/if}}

			{{#if review_failed}}
			<div class='msg red'>
				<em></em>
				<span>
					<b>您的答卷未通过管理员审核，原因为：</b><br />
					“{{reject_reason}}”，如有疑问，请 <a href='/help/aboutus#contact' target='_blank'>联系我们</a>。
				</span>
			</div>
			{{/if}}

			<div class='form'>
				<button id='close_btn'>关闭窗口</button>
			</div>
		</div>
	</div>
</div>