<div>
	<div id='sf_main'>
		<div class='welcome no_reward'>
			<div class='inner'>
				<h1>{{title}}</h1>
				<div class='msg green'>
					<em></em>
					<span>
						<b>确认提交答案</b><br />
						您已经回答完所有问题，是否提交答案并结束答题？{{#if allow_pageup}}结束答题后将无法再次修改答案。{{/if}}
					</span>
				</div>
				<div class="share">
					<div class="jiathis_style">
						<span class="jiathis_txt">分享到：</span>
						<a class="jiathis_button_tools_1"></a>
						<a class="jiathis_button_tools_2"></a>
						<a class="jiathis_button_tools_3"></a>
						<a class="jiathis_button_tools_4"></a>
						<a class="jiathis_button_tools_5"></a>
						<a class="jiathis_button_tools_6"></a>
						<a class="jiathis_button_tools_7"></a>
						<a class="jiathis_button_tools_8"></a>	
						<a class="jiathis_button_tools_9"></a>
						<a class="jiathis_button_tools_10"></a>	
						<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
					</div>	
				</div>				
			</div>
		</div>
	</div>
	{{#if remind}}
	<div id='remind'>注意：系统检测出您第一次答题时没有认真填写，您只剩一次答题机会，请认真答题。</div>
	{{/if}}
	<div id='page_buttons'>
		{{#if allow_pageup}}
		<button id='check_btn' class='light'>返回检查答案</button>
		{{/if}}
		<button id='submit_btn'>提交答案结束答题</button>
	</div>
</div>