<div class="page">
	<div class="free_describe">
		<div class="answer_finish">
			<b>答题完成啦！</b>
			<div>恭喜您获得了一次抽奖机会</div>
		</div>
	</div>
	<div class="free_form">
		<button class="rew_next" id="rew_next" >马上抽奖</button>
	</div>		
</div>