<!-- content for head -->
<% content_for :head do %>
	<%= javascript_include_tag "pages/admin/template_questions-bundle" %>
	<%= stylesheet_link_tag "pages/admin/template_questions-bundle", :media => "all" %>
<% end %>

<%
	question_types=["选择题", "矩阵选择题", "文本填充题", "数值填充题", "邮箱题",
		"网址链接题", "电话题", "时间题", "地址题", "组合填充题", 
		"MATRIX_BLANK_QUESTION", "比重题", "排序题", "RANK_QUESTION", "文本段",
		"FILE_QUESTION", "TABLE_QUESTION", "量表题"]
%>

<!-- put html code below -->
<div class="template_questions">
	<div class="title">
		<h5>新建模板题<h5>
		<h5 style="color: white; float: right; display: block;" ><a style="color: white; float: right; display: block;"  href="/admin/template_questions">返回模板题列表</a><h5>
	</div>

	<div class="nNote nWarning hideit">
		<p>英文标示题目和组合填充题未实现!</p>
	</div>

	<div class="tab-content" id="new-tab">
		<form action="#">	
			<p>
				<label class="child-title f14 pl2">问题类型</label>
				<select name="question_type">
					<% question_types.each_with_index do |item, index| %>
						<option value="<%= index %>"><%= item %></option>
					<%end%>
				</select>
			</p>

			<p>
				<input class="blueBtn btn-new-ok" type="button" value="确 定" />
			</p>

		</form>	
	</div>
	<!-- new tab end -->
</div>