<div class='q-filler'>
	<span class='q-idx'></span>
	<div class='q-title'>
		<span class='q-title-content'></span>
		<span class='q-info'></span>
		<span class='q-required'>*</span>
		<span class='q-error'></span>
	</div>
	<div class='q-note'>说明：{{note}}</div>
	<div class='q-content'></div>
</div>