<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
		<p>
			<%= user.username%>
		</p>
		<br />
		<p>
		<%* surveys|survey %>
			</p>
				<%=* survey %>
			<p>
		<%* end %>
		</p>
		<br />
		<p>Oops!Data团队</p>
  </body>
</html>
