<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
		<p>
			<%=@user.username%>
		</p>
		<br />
		<p>
			请点击以下链接重置密码
		</p>
		<p>
			<a href="<%= @password_link %>"><%= @password_link %></a>
		</p>
		<p>感谢您使用</p>
		<br />
		<p>Oops!Data团队</p>
  </body>
</html>
