<p>您的调查问卷<strong>《<%=@survey.title%>》</strong>已经成功发布，点击下面按钮可查看问卷回收情况：</p>
<p><a class='od-button' href="<%=@url%>" target="_blank">查看回收情况</a></p>
<br />
<p>如果上述按钮无效，您也可点击下面链接查看回收情况：</p>
<p><a class="activate-link" href="<%=@url%>" target="_blank"><%=@url%></a></p>
<br />
<p>感谢您选择优数调研。</p>