<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
		<p>
			<%=@user.username%>
		</p>
		<br />
		<p>
			您的调查问卷已经发布，您可以点击下面链接查看回收情况
		</p>
		<p>
		</p>
		<p>感谢您选择Oops!Data</p>
		<br />
		<p>Oops!Data团队</p>
  </body>
</html>
