<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
		<p>
			<%=@user.username%>
		</p>
		<br />
		<p>
			您的调查问卷被拒绝发布，原因为：
		<p>
			<%=@survey.reject_message%>
		</p>
		<p>
			您可以点击以下链接进行修改
		</p>
		<p>
		</p>
		<p>感谢您选择Oops!Data</p>
		<br />
		<p>Oops!Data团队</p>
  </body>
</html>
