<% content_for :head do %>
	<%= stylesheet_link_tag "pages/sample/demo-bundle", :media => "all" %>
	<%= javascript_include_tag "pages/sample/homes-bundle" %>
	<script type="text/javascript">
 //    function test(){
 //        copyToClipboard("hahahahahahahaha");
 //    }

 //    copyToClipboard = function(txt) {
	// 	if(window.clipboardData) {
	// 	   window.clipboardData.clearData();
	// 	   window.clipboardData.setData("Text", txt);
	// 	} else if(navigator.userAgent.indexOf("Opera") != -1) {
	// 		window.location = txt;
	// 	} else if (window.netscape) {
	// 		try {
	// 			netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
	// 		} catch (e) {
	// 			alert("您的firefox安全限制限制您进行剪贴板操作，请打开’about:config’将signed.applets.		codebase_principal_support’设置为true’之后重试");
	// 			return false;
	// 		}

	// 		var clip = Components.classes['@mozilla.org/widget/clipboard;1'].createInstance(Components.interfaces.nsIClipboard);

	// 		if (!clip)
	// 			return;

	// 		var trans = Components.classes['@mozilla.org/widget/transferable;1'].createInstance(Components.interfaces.nsITransferable);

	// 		if (!trans)
	// 			return;

	// 		trans.addDataFlavor('text/unicode');

	// 		var str = new Object();
	// 		var len = new Object();
	// 		var str = Components.classes["@mozilla.org/supports-string;1"].createInstance(Components.interfaces.nsISupportsString);

	// 		var copytext = txt;
	// 		str.data = copytext;
	// 		trans.setTransferData("text/unicode",str,copytext.length*2);
	// 		var clipid = Components.interfaces.nsIClipboard;
	// 		if (!clip)
	// 			return false;
	// 		clip.setData(trans,null,clipid.kGlobalClipboard);
	// 	}
	// }	


	var selecttext="";
	function InsertString(tbid){
	    var str = selecttext;
	    var tb = document.getElementById(tbid);
	    tb.focus();
	    if (document.all){
	        var r = document.selection.createRange();
	        document.selection.empty();
	
	        r.text = str;
	
	        r.collapse();
	
	        r.select();
	
	    }
	
	    else{
	
	        var newstart = tb.selectionStart+str.length;
	
	        tb.value=tb.value.substr(0,tb.selectionStart)+str+tb.value.substring(tb.selectionEnd);
	
	        tb.selectionStart = newstart;
	
	        tb.selectionEnd = newstart;
	
	    }
	
	}
	
	function GetSelection(tbid){
	
	    var sel = '';
	
	    if (document.all){
	
	        var r = document.selection.createRange();
	
	        document.selection.empty();
	
	        sel = r.text;
	
	    }
	
	    else{
	
	        var tb = document.getElementById(tbid);
	
	           // tb.focus();
	
	        var start = tb.selectionStart;
	
	        var end = tb.selectionEnd;
	
	        sel = tb.value.substring(start, end);
	
	    }
	
	    return sel;
	
	}
	
	function ShowSelection(tbid){
	
	    var sel = GetSelection(tbid);
	
	    if (sel){
	
	        alert('你选中的文本是 : '+sel);
	
	         selecttext=sel;
	
	    }else {
	
	        alert('未选中文本');
	
	    }
	
	}
	


	</script>

<% end %>
<div class="inner-page fix ex">
	<div class="tettt" style="width:100px;height:100px;background-color:red;" onclick="test()">
	</div>
	<div class="select">
	<div class="select-content active"> <!-- 点击后请用js 加上 .active -->
		<span class="select-txt">请选择..</span>
		<i class="triangle"></i>
	</div>	
	<ul class="w100 demo">
		<li>选项一</li>
		<li>选项二</li>
		<li class="bbr">选项三</li><!-- 最后一个li的class bbr -->
	</ul>
	</div>
	
	<div class="select">
	<div class="select-content">
		<span class="select-txt">请选择..</span>
		<i class="triangle"></i>
	</div>	
	</div>
	
	<div class="select2">
	<div class="select-content active"> <!-- 点击后请用js 加上 .active -->
		<span class="select-txt">10元</span>
		<i class="triangle"></i>
	</div>	
	<ul>
		<li>20元</li>
		<li>30元</li>
		<li class="bblr">50元</li>
		<li class="bbrr">100元</li><!-- 最后一个li的class bbr -->
	</ul>
	</div>
	
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
	<div class="exc-panel">
	<div class="focus">
		<label class="w80" for="exc-alipay">支付宝账号</label>
		<input type="text" id="exc-alipay" value="请输入支付宝账号">
	</div>
	<div>
		<label class="w80" for="exc-qq">QQ账号</label>
		<input type="text" id="exc-qq" value="请输入支付宝账号">
	</div>
	<div>
		<label class="w80" for="exc-phone">兑换数量</label>
		<input type="text" id="exc-alipay-number" value="请输入兑换数量">
	</div>
	<div>
		<label class="w80" for="exc-qq">手机号码</label>
		<input type="text" id="exc-qq" value="请输入支付宝账号">
	</div>
	<div class="active">
		<label class="w80" for="exc-phone">充值面额</label>
		<div class="select2">
			<div class="select-content active">
				<span class="select-txt">10元</span>
				<i class="triangle"></i>
			</div>	
			<ul>
				<li>20元</li>
				<li>30元</li>
				<li class="bblr">50元</li>
				<li class="bbrr">100元</li>
			</ul>
		</div>
	</div>
	</div>	
</div>



