<% content_for :head do %>
	<%= stylesheet_link_tag "pages/sample/demo-bundle", :media => "all" %>
	<%= javascript_include_tag "pages/sample/homes-bundle" %>
	<script type="text/javascript"></script>

<% end %>

<div class="main inner-page">
	<div class="content-account-box redBorder">
		<h3 class="content-left-title whiteTxt f14 b redBg">参与抽奖</h3>
		<div class='help-con'>
			<h2>抽奖规则及流程</h2>
			<h3 id='rule'>抽奖规则</h3>
			<h4>每个抽奖活动有固定的开奖时间，开奖期间您可以使用抽奖号进行抽奖。</h4>
			<h4>一个抽奖号为一次抽奖机会。</h4>
			<h4>中奖后提交您的配送信息，以便我们配送奖品。</h4>

			<h3 id='flow'>抽奖流程</h3>
			<ol>
				<li>通过回答“抽奖调研”专区的问卷获得抽奖号或使用积分兑换抽奖号；</li>
				<li>关注开奖时间，抽奖号只能在规定开奖期间使用；</li>
				<li>开奖期间，点击标题栏“参与抽奖”的“抽奖列表”按钮，进入抽奖活动页面，该页面显示正在进行的抽奖活动；</li>
				<li>点击抽奖号进行抽奖；</li>
				<li>中奖之后填写配送信息；</li>
				<li>管理员审核通过后，配送礼品。</li>
			</ol>

			<h2 id='qualification'>抽奖资格</h2>
			<h3>通过回答“抽奖调研”专区的问卷获得抽奖号或使用积分兑换抽奖号。使用抽奖号时参与抽奖的唯一方式。</h3>
		</div>
	</div>
</div>



