<% content_for :head do %>
  <%= javascript_include_tag "pages/home-bundle" %>
<% end %>


<div class="bg">
  <img src="/assets/home/bg.jpg" alt="" />
</div>
<div class="login-reg">
  <div class="container">
    <div class="login-reg-l">
      <h1>中国旅游业综合调查测算与运行监测数据平台</h1>
      <p class="txt">专注于跨平台的旅游市场调查、运行监测分析</p>
      <p class="number">国内市场·出境市场·入境市场·旅游业发展质量评价·数据直报</p>
    </div>
    <div class="login-reg-r">
      <!-- 注册 -->
      <form class="reg" action="" style="display:none;" autocomplete="off">
        <p>
          <input type="text" id="reg-username" class="">
          <!-- 邮箱提示 -->
          <ul class="tip-panel">

          </ul>
        </p>
        <p><input type="text" id="reg-password"></p>
        <p><button class="submit-reg"></button></p>
        <p class="divide h40 tc" style="margin-top:15px;">
          已有账号,<a href="javascript:;" id="cto_signin">立即登录</a>
        </p>
        <p class="pop h30 error_msg">
          账号已存在
        </p>
        
      </form>
      <!-- 登录 -->
      <form class="login" action="" autocomplete="off">
        <p><input type="text" id="login-username" class=""></p>
        
        <p><input type="password" id="login-password" class=""></p>
        <p><button class="submit-login"></button></p>
        <p class="h40">
          <span class="remember">
            <a class="checkbox active" id="keep_signin" href="javascript:;"></a>
            下次自动登录
          </span>
          <a href="javascript:;" class="forget-pw r">忘记密码?</a>
        </p>
        <p style="clear:both;"></p>
        <p class="divide h40 tc">
        </p>
        <p class="pop h30 error_msg">
          密码错误
        </p>
      </form>
    </div>
  </div>
</div>

<div class="forget-password">
  <h2>忘记密码?</h2>
  <p>
    <input type="text" placeholder="请输入登录邮箱" name='email'><button>发送</button>
  </p>
  <p class="tip"></p>
</div>
<div class="page">
  <div class="reason">
    <div class="container">
      <ul>
        <li><span class="img"><img src="/assets/home/one.png"/></span><span class="img-title">美观易用</span></li>
        <li><span class="img"><img src="/assets/home/two.png"/></span><span class="img-title">题型丰富</span></li>
        <li><span class="img"><img src="/assets/home/three.png"/></span><span class="img-title">多媒体问卷</span></li>
        <li><span class="img"><img src="/assets/home/fore.png"/></span><span class="img-title">质控严格</span></li>
        <li style="margin:0;"><span class="img"><img src="/assets/home/five.png"/></span><span class="img-title">灵活配额</span></li>
        <li><span class="img"><img src="/assets/home/six.png"/></span><span class="img-title">样本精准</span></li>
        <li><span class="img"><img src="/assets/home/seven.png"/></span><span class="img-title">多终端发布</span></li>
        <li><span class="img"><img src="/assets/home/eight.png"/></span><span class="img-title">降低成本</span></li>
        <li><span class="img"><img src="/assets/home/nine.png"/></span><span class="img-title">在线分析</span></li>
        <li style="margin:0;"><span class="img"><img src="/assets/home/ten.png"/></span><span class="img-title">智能报告</span></li>
      </ul>
    </div>
  </div>
  <div class="logos">
    <h2>他们都在用</h2>
    <div class="container">
      <ul>
        <!-- <li><img src="/assets/home/logos/1.png" alt=""></li> -->
        <li><img src="/assets/home/logos/2.png" alt=""></li>
        <li><img src="/assets/home/logos/3.png" alt=""></li>
        <li><img src="/assets/home/logos/4.png" alt=""></li>
        <li><img src="/assets/home/logos/5.png" alt=""></li>
        <li><img src="/assets/home/logos/6.png" alt=""></li>
      </ul>
    </div>
  </div>
</div>

