%form#agent_form.form-horizontal{action: admin_supervisors_path + (@supervisor["created_at"].present? ? "/#{@supervisor["_id"]}" : ""), enctype: "multipart/form-data", method: "post", name: "agent"}
  %input{name: "_method", type: "hidden", value: @supervisor["_id"].present? ? 'put' : 'post'}/
  %input.hide{name: "id", type: "text", value: @supervisor["_id"]}/
  .control-group
    %label.control-label 邮箱:
    .controls
      %input.input-large{name: "supervisor[email]", type: "text", value: @supervisor['email']}/
  .control-group
    %label.control-label 密码:
    .controls
      %input.input-large{name: "supervisor[password]", type: "text"}/
  .control-group
    %label.control-label 帐户名:
    .controls
      %input.input-large{name: "supervisor[name]", type: "text", value: @supervisor['name']}/
  .control-group
    .controls
      %input.btn{type: "submit"}/