- content_for :head do
  = javascript_include_tag "pages/admin/interviewers-bundle"
  = stylesheet_link_tag "pages/admin/interviewers-bundle", :media => "all"

- content_for :sidebar do
  %ul.nav.nav-list.flowy-admin-sidenav
    %li
      %a{href: "/admin/supervisors"}
        %i.icon-chevron-right
        监督员列表
    %li
      %a{href: "/admin/supervisors/new"}
        %i.icon-chevron-right
        新建监督员

= render "form"
