<!-- content for head -->
<% content_for :head do %>
	<%= javascript_include_tag "pages/account/activate_new_quillme-bundle" %>
	<%= stylesheet_link_tag "pages/account/signup_quillme-bundle", :media => "all" %>
<% end %>

<% content_for :left do %>
<div class="content-account-box redBorder">
	<h3 class="content-left-title whiteTxt f14 b redBg">激活账户</h3>
	<div class="w896 fix">
		<div class="reg-finish">
			<p class="f14 g3">请输入您的注册邮箱激活账户：</p>
			<p class='mt10'>
				<input id='activate_ipt' type='text' param='e' placeholder='请输入注册邮箱' />
				<button id='activate_btn' class="homepage-btn red-btn">激活账户</button>
			</p>
			<p id='error'></p>
	    </div>
	</div>   	
</div>
<% end %>
