<!-- content for head -->
<% content_for :head do %>
	<%= stylesheet_link_tag "pages/account/signup_quillme-bundle", :media => "all" %>
<% end %>

<% content_for :left do %>
<div class="content-account-box redBorder">
	<h3 class="content-left-title whiteTxt f14 b redBg"><%= @success ? '激活完成' : '激活失败' %></h3>
	<div class="w896 fix">
		<div class="reg-finish">
			<% if @success %>
			<p class="f14 g3">激活成功，点击下面按钮进入系统。</p>
			<a href="<%= signin_path %>" class="homepage-btn red-btn mt10">进入系统</a>
			<% else %>
			<p class="f14 g3">激活失败，可能是激活链接已经过期，请点击下面按钮重新激活账户。</p>
			<a href="<%= new_activate_path %>" class="homepage-btn red-btn mt10">重新激活</a>
			<% end %>
    </div>
	</div>   	
</div>
<% end %>
