<% content_for :head do %>
<%= javascript_include_tag "pages/quill/customers-bundle" %>
<%= stylesheet_link_tag "pages/quill/customers-bundle", :media => "all" %>
<% end %>
<div class="page">
	<h2 id='c1' class="category">学术机构成功案列</h2>
	<ul class="customer-list">
		<li>
			<span class="customer-img"><img src="assets/images/logos/qhxw.png" alt=""></span>
			<span class="customer-name">清华大学新闻学院</span>
			<span class="customer-title">中国汽车和快速消费品企业社会责任调查</span>
		</li>

		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">交通运输科学研究院</span>
			<span class="customer-title">六十年代公路修建工役制人员现状调研</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">浙江旅游科学研究院有限公司</span>
			<span class="customer-title">2012年上半年浙江省游客满意度调查</span>
		</li>
		<li>
			<span class="customer-img"><img src="assets/images/logos/qhjg.png" alt=""></span>
			<span class="customer-name">清华大学（经管学院）</span>
			<span class="customer-title">公众风险认知调查 </span>
			<span class="customer-title">老年人反向抵押贷款</span>
			<span class="customer-title">人人网用户使用情况调查</span>

		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">中国旅游研究院</span>
			<span class="customer-title">中国游客消费行为与满意度调查</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">中国社会科学院马克思主义研究院</span>
			<span class="customer-title">“五个赣州”建设考核评价指标体系研究</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">中国思想政治工作研究会秘书处</span>
			<span class="customer-title">2012年社会思想动态调查研究</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京市水利科学研究所</span>
			<span class="customer-title">北京公众节水意识与行为研究</span>
			<span class="customer-title">北京市居民用水特征调查咨询</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">中国思想政治工作研究会</span>
			<span class="customer-title">国有和国有控股企业思想政治工作调查问卷数据录入和数据统计分析</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京市城市规划设计研究院</span>
			<span class="customer-title">北京市科技园区配套设施现状和需求调查研究</span>
			<span class="customer-title">北京市典型老旧居住小区停车问卷调查</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">中国林业科学研究院湿地研究所</span>
			<span class="customer-title">中国湿地游憩价值评估调查</span>
		</li>
		<li>
			<span class="customer-img"><img src="assets/images/logos/qhyj.png" alt=""></span>
			<span class="customer-name">清华大学金融中心</span>
			<span class="customer-title">消费金融网络调查</span>
		</li>
		
		<li style="margin:0">
			<span class="customer-img"><img src="assets/images/logos/beida.png" alt=""></span>
			<span class="customer-name">北京大学科技开发部</span>
			<span class="customer-title">公众对于巨灾风险的认知和时空选择研究</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京市科学技术情报研究所</span>
			<span class="customer-title">互联网科普服务标准评价模型建立</span>
		</li>
		<li>
			<span class="customer-img"><img src="assets/images/logos/mxg.png" alt=""></span>
			<span class="customer-name">密歇根州立大学</span>
			<span class="customer-title">Google/WPP中国网络广告效果研究</span>
		</li>
	</ul>
	<h2 id='c2' class="category">政府机构成功案列</h2>
	<ul class="customer-list">
		<li>
			<span class="customer-img"><img src="assets/images/logos/jsw.png" alt=""></span>
			<span class="customer-name">国家人口计生委</span>
			<span class="customer-title">全国人口和计划生育宣传教育创新范例评选</span>	
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">清华北京市市政市容管理委员会</span>
			<span class="customer-title">首都城市环境社会公众满意度调查（2011下半年）</span>	
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">人力资源和社会保障部、<br/>北京市人力资源和社会保障局</span>
			<span class="customer-title">留学人员创业园评估指标体系项目研究</span>		
		</li>
		<li>
			<span class="customer-img"><img src="assets/images/logos/gjzs.png" alt=""></span>
			<span class="customer-name">国家知识产权局</span>
			<span class="customer-title">中国知识产权文化素养调查</span>	
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京市海淀区园林绿化局</span>
			<span class="customer-title">2012年海淀区街道自管绿地养护监理项目</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">江西省旅游局</span>
			<span class="customer-title">2012年江西省游客满意度调查</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">中共昆山市委宣传部</span>
			<span class="customer-title">"发达地区思想政治工作创新研究"调查问卷数据录入和数据统计分析</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">首都精神文明建设委员会办公室</span>
			<span class="customer-title">互联网、手机等新兴媒体与文明传播研究</span>
		</li>
		<li >
			<span class="customer-img"><img src="assets/images/logos/fulian.png" alt=""></span>
			<span class="customer-name">北京市妇联</span>
			<span class="customer-title">整合民营机构力量参与家庭教育社会服务模式研究</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京市朝阳区卫生局</span>
			<span class="customer-title">朝阳区医疗服务国际现状、需求及对策研究</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京市丰台区水务局</span>
			<span class="customer-title">丰台区经济社会用水普查专项数据汇总处理与成果报告提交</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京市市政市容管理委员会</span>
			<span class="customer-title">2012年首都城市环境社会满意度</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京市东城区发展和改革委员会</span>
			<span class="customer-title">天坛演艺区发展战略研究</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">万寿路街道办事处</span>
			<span class="customer-title">万寿路街道垃圾分类试点小区日常监理</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京市海淀区政府公共服务委员会</span>
			<span class="customer-title">海淀区属卫生系统专业人员基地培训项目效益评估</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">成都市旅游局</span>
			<span class="customer-title">2012上半年成都市旅游规划</span>
		</li>
		<li style="margin:0">
			<span class="customer-img"><img src="assets/images/logos/gjlvj.png" alt=""></span>
			<span class="customer-name">国家旅游局</span>
			<span class="customer-title">港澳台入境游客消费行为与满意度调研</span>
			<span class="customer-title">2012年第三与第四季度全国游客满意度现场调查</span>
		</li>
		<li>
			<span class="customer-img"><img src="assets/images/logos/hblyj.png" alt=""></span>
			<span class="customer-name">湖北省旅游局</span>
			<span class="customer-title">2012-2013年度湖北省游客满意度调查</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京市人力资源和社会保障局流动调配处</span>
			<span class="customer-title">高端人才服务机制研究</span>
			<span class="customer-title">留学人员创业园评估指标体系项目研究</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京市深化医疗卫生体制改革领导小组办公室</span>
			<span class="customer-title">未来3-5年北京市居民医疗服务需求调研</span>
		</li>
		<li >
			<span class="customer-img"><img src="assets/images/logos/cl.png" alt=""></span>
			<span class="customer-name">东华门街道残联</span>
			<span class="customer-title">东华门街道残疾人现状及需求调研报告撰写</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">中国思想政治工作研究会</span>
			<span class="customer-title">推荐社会主义核心价值体系建设问卷调查</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京市旅游发展委员会</span>
			<span class="customer-title">北京市A级旅游景区游客满意度调查</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京市公安局</span>
			<span class="customer-title">2012年北京市公安局人民群众满意度调查</span>
		</li>
		<li >
			<span class="customer-img"><img src="assets/images/logos/zjj.png" alt=""></span>
			<span class="customer-name">北京市质量技术监督局</span>
			<span class="customer-title">北京市质监局公众评价</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">中国思想政治工作研究会</span>
			<span class="customer-title">工业化、信息化、城镇化进程对人民道德观念和价值取向的影响问卷调查及数据分析报告撰写</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京市海淀区市政市容管理委员会</span>
			<span class="customer-title">2012年下半年海淀区环卫工作监理项目</span>
			<span class="customer-title">城市监督员直属队服务外包</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">中国思想政治工作研究会秘书处</span>
			<span class="customer-title">2012年社会思想动态调查</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京市人民政府办公厅</span>
			<span class="customer-title">2012年政府信息公开舆情监测与分析研究</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京市市政市容管理委员会</span>
			<span class="customer-title">2012年上半年首都农村环境社会公众满意度调查</span>
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">浙江省旅游质量监督管理所</span>
			<span class="customer-title">2012年下半年浙江省游客满意度数据采集</span>
		</li>
	</ul>
	<h2 id='c3' class="category">企业成功案列</h2>
	<ul class="customer-list">
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京天盈九州网络技术有限公司</span>
			<span class="customer-title">2012年全国两会网络媒体传播价值调研</span>	
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京博鳌雅庄文化传媒有限公司</span>
			<span class="customer-title">亚洲中产阶层消费方式调查</span>	
		</li>
		<li class="dn">
			<span class="customer-img"><img src="assets/images/logos/xkzz.png" alt=""></span>
			<span class="customer-name">小康杂志社</span>
			<span class="customer-title">关于小康指数连续性月度调查合同的补充协议</span>	
		</li>
		<li >
			<span class="customer-img"><img src="assets/images/logos/xkgc.png" alt=""></span>
			<span class="customer-name">北京醒客工场咨询有限公司</span>
			<span class="customer-title">新浪微博用户特征及使用情况调查</span>	
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京科技咨询中心</span>
			<span class="customer-title">北京经济技术开发区园区企业资源现状调研</span>	
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京华瑞君合文化传播有限公司</span>
			<span class="customer-title">"三桶油"公众形象调查</span>	
		</li>
		<li class="dn">
			<span class="customer-img"><img src="assets/images/logos/xxb.png" alt=""></span>
			<span class="customer-name">拓普金榜（北京）休闲文化传媒有限公司</span>
			<span class="customer-title">北京节庆活动调查</span>	
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京市电力公司</span>
			<span class="customer-title">北京市电力公司2012年供电营业窗口服务监测、业扩报装大客户评价监测</span>	
			<span class="customer-title">2012年北京电力与其他能源和公共服务行业公众评价</span>
		</li>
		<li>
			<span class="customer-img"><img src="assets/images/logos/tencent.png" alt=""></span>
			<span class="customer-name">腾讯科技（深圳）有限公司</span>
			<span class="customer-title">腾讯奥运传播影响力研究</span>	
			<span class="customer-title">腾讯视频首页用户体验研究</span>
		</li>
		<li>
			<span class="customer-img"><img src="assets/images/logos/sohu.png" alt=""></span>
			<span class="customer-name">搜狐</span>
			<span class="customer-title">搜狐“2010年世博会”频道媒体价值调研及测评</span>	
		</li>
		<li style="margin:0">
			<span class="customer-img"><img src="assets/images/logos/xhs.png" alt=""></span>
			<span class="customer-name">新华社服务新闻专线</span>
			<span class="customer-title">清华大学与新华社合作项目</span>	
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京市电力公司</span>
			<span class="customer-title">北京市电力公司品牌维护和危机公关课题研究项目管理咨询</span>
			<span class="customer-title">北京市电力公司营销与服务模式优化</span>	
	
		</li>
		<li>
			<span class="customer-img"><img src="assets/images/logos/cntv.png" alt=""></span>
			<span class="customer-name">中央人民广播电台</span>
			<span class="customer-title">华夏之声覆盖与听众调查</span>
			<span class="customer-title">广播广告与听众节目收听行为关系调查</span>	
		</li>
		<li>
			<span class="customer-img"><img src="assets/images/logos/kjg.png" alt=""></span>
			<span class="customer-name">中国科学技术馆</span>
			<span class="customer-title">2012年中国科技馆观众调查</span>	
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京市地铁运营有限公司</span>
			<span class="customer-title">北京地铁乘客需求及满意度调研</span>	
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京市电力公司海淀供电公司市场营销处</span>
			<span class="customer-title">海淀供电公司2012年供电营业窗口管理监测</span>	
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">冀北电力有限公司张家口供电公司</span>
			<span class="customer-title">2012年张家口供电公司客户满意度第三方测评</span>	
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">冀北电力有限公司廊坊供电公司</span>
			<span class="customer-title">2012年廊坊供电公司客户满意度第三方测评</span>	
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">冀北电力有限公司唐山供电公司</span>
			<span class="customer-title">2012年唐山供电公司客户满意度第三方测评</span>	
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">冀北电力有限公司</span>
			<span class="customer-title">2012年冀北电力有限公司客户满意度第三方测评</span>	
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">冀北电力有限公司秦皇岛电力公司</span>
			<span class="customer-title">2012年秦皇岛供电公司客户满意度第三方测评</span>	
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">冀北电力有限公司承德供电公司</span>
			<span class="customer-title">2012年承德供电公司客户满意度第三方测评</span>	
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">江苏中江网传媒有限公司</span>
			<span class="customer-title">江苏网络舆情分析</span>	
		</li>
	</ul>	
	<h2 id='c4' class="category">协会组织成功案列</h2>
	<ul class="customer-list">
		<li>
			<span class="customer-img"><img src="assets/images/logos/kxjsxh.png" alt=""></span>
			<span class="customer-name">中国科学技术协会</span>
			<span class="customer-title">中国科协科普网站布局调研</span>	
		</li>
		<li>
			<span class="customer-img"><img src="assets/images/logos/zx.png" alt=""></span>
			<span class="customer-name">中国造血肝细胞捐献者资料库北京管理中心</span>
			<span class="customer-title">中国造血干细胞捐献者资料库北京分库造血干细胞捐献者流失率与反悔率影响因素调查</span>	
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">中国科技馆发展基金会</span>
			<span class="customer-title">全国科技馆展教人员状况调查</span>	
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">北京城市系统工程研究中心</span>
			<span class="customer-title">北京公众应对暴雨认知及行为调查</span>	
		</li>
		<li class="dn">
			<span class="customer-img"></span>
			<span class="customer-name">全国高等学校就学生信息咨询与就业服务指导中心</span>
			<span class="customer-title">2012年高校毕业生就业满意度调查</span>	
		</li>
		<li>
			<span class="customer-img"><img src="assets/images/logos/bjhsz.png" alt=""></span>
			<span class="customer-name">北京市红十字血液中心</span>
			<span class="customer-title">北京市献血宣传效果评估</span>	
		</li>
	</ul>	
	<h2 id='c5' class="category">公益组织成功案列</h2>
	<ul class="customer-list">
		<li>
			<span class="customer-img"><img src="assets/images/logos/lshp.png" alt=""></span>
			<span class="customer-name">国际绿色和平组织</span>
			<span class="customer-title">实施绿色防控和有机种植现在调查</span>	
		</li>
		<li>
			<span class="customer-img"><img src="assets/images/logos/lsh.png" alt=""></span>
			<span class="customer-name">乐施会</span>
			<span class="customer-title">"乐施会”品牌认知度调查</span>	
		</li>
	</ul>	
</div>

