<div class="inner-page sample-nav">
    <img src="/assets/od-quillme/uc/69.png" />
    <div>
        <a href="/home">首页</a>
         > 
         <a href="/users/join_surveys">帐户中心</a>
         > 
         <a class="active"  href="/users/<%= @path %>"><%= @text %></a>
    </div>
</div>