<% content_for :head do %>
  <%= stylesheet_link_tag "pages/carnival/campaigns-bundle", :media => "all" %>
  <%= javascript_include_tag "pages/carnival/campaigns-bundle" %>
  <script type="text/javascript">
    $(function(){      
    })
  </script>
<% end %>




<div class='fullPage'>
  <div class='section'>section_1</div>
  <div class='section'>section_2</div>
  <div class='section active'>
   <!-- 摩天轮 Start -->
		<div id="ferris-wheel">
			<span class="ferris-wheel-box">
			<a href="javascript:void(0);" class="one active"></a>
			<a href="javascript:void(0);" class="two"></a>
			<a href="javascript:void(0);" class="three"></a>
			<a href="javascript:void(0);" class="four"></a>
			
			<!--  
			<span class="ferris"></span>
			<span class="holder"></span> 
			-->

			</span>
    </div>
    <!-- 摩天轮 End -->    
  </div>
  <div class='section'>section_4</div>

