<% content_for :head do %>
  <%= stylesheet_link_tag "pages/carnival/campaigns-bundle", :media => "all" %>
  <%= javascript_include_tag "pages/carnival/campaigns-bundle" %>
  <script type="text/javascript">
    $(function(){      
    })
  </script>
<% end %>

<!-- 摩天轮 Start -->
<div id="ferris-wheel">
 <a href="javascript:void(0);" class="one"></a>
 <a href="javascript:void(0);" class="two"></a>
 <a href="javascript:void(0);" class="three"></a>
 <a href="javascript:void(0);" class="four"></a>
 <a href="javascript:void(0);" class="five"></a>
</div>
<!-- 摩天轮 End -->