<% content_for :head do %>
  <%= stylesheet_link_tag "pages/carnival/campaigns-bundle", :media => "all" %>
  <%= javascript_include_tag "pages/carnival/campaigns-bundle" %>
  <script type="text/javascript">
    $(function(){
      //continue game
      $('#continue_game').click(function() {
        $.carnivalbox({
          width:460,
          title:'继续游戏',
          content:'如果您之前已经开始过游戏，可输入您的手机号继续游戏进度：',
          btnCont:'继续游戏',
          showClose: true,
          beforeshow:function(){
            $('.carnival-popup p').after('<p><input style="padding: 0.5em; width: 250px;font-size: 14px; font-weight:bold;" class="mobile-ipt" type="text" /></p><p class="mobile-error" style="color: #E75C72; display:none;">手机格式有误</p>');
          },
          aftershow:function(){
            $('.fancybox-skin a.popup-close').text('X').css('color', '#999');
            $('.carnival-popup a.btn').click(function() {
              var mobile = $.trim($('.carnival-popup input.mobile-ipt').val());
              if(!$.regex.isMobile(mobile)) {
                $('.carnival-popup p.mobile-error').text('手机格式有误').show();
                return;
              }
              $('.carnival-popup p.mobile-error').hide();
              $.postJSON('/carnival/users/login', {mobile: mobile}, function(retval) {
                if(retval.success && retval.value) {
                  location.reload(true);
                } else {
                  $('.carnival-popup p.mobile-error').text('该手机尚未开始游戏').show();
                }
              });
            });
          }
        });
      });

      window.data = <%= raw (@obj).to_json %>;

      //background status
      if(window.data.background_survey_status == 32) {
        $('.sun').addClass('active');
        $('#light_sun').remove();
      }

      var pre_status = parseInt(window.data.pre_status,10);
      window.current_step = parseInt(window.data.step,10);

      if(window.data.pre_status > 0){
        $('#ad').hide();
      }

      //如果拿到票后刷新页面，直接进入第一个任务
      if( $.cookie('ticket') && window.current_step == 0){
        window.current_step = 1; 
      }

      //已经领取第一关的手机充值,再次进入页面的时候直接进入下一个场景
      if($.cookie('reward_1')){
        window.current_step = 2;
      }

      //第二关任务完成 再次来到页面,直接进入第三个任务场景
      if($.cookie('reward_2')){
        window.current_step = 3; 
      }

      if (pre_status) {     
        if(pre_status == 2){// for reject
          $('.door > p.last').remove();
          $('.door > a.start').remove();
            $.carnivalbox({
              width:460,
              title:'呃..您不符合本次活动要求',
              content:'有<b>' + window.data.pre_reject_count + '</b>个小盆友和您一样挂在了这条路上..',
              btnCont:'我知道了',
              aftershow:function(){
                $('.carnival-popup a.btn').live('click',function(){
                  $.fancybox.close();
                  window.location.href = '/';
                })
              }
            })
        }else if(pre_status == 32){ // for finish
          $('.door > p.last').remove();
          $('.door > a.start').remove();
          // get ticket
          if(window.current_step){
            //每个小任务(及每个大任务)完成后的跳转页面
            setSection(window.current_step);
            if(window.data.t3_status.indexOf(0) < 0){
              $('.share-lottery a').removeClass('disabled');
            }
            openDoor(false);
          }else{
            //预调研通过,通知领取门票,并进入下一个任务
            $.carnivalbox({
              width:460,
              title:'已获得门票',
              content:'',
              btnCont:'立即前往',
              aftershow:function(){
                $('.carnival-popup a.btn').live('click',function(){
                  $.fancybox.close();
                  openDoor(true);
                })
              }
            })
          }
        } 
      }


      $('a.start').live('click',function(){
        var d = new Date();
        window.location.href = '/s/' + window.data.pre_survey;
      })


      //set full page
      function setFullPage() {
          $('.fullPage').fullpage({
              verticalCentered: true,
              slidesColor: ['#eff2c9', '#eff2c9', '#eff2c9', '#eff2c9'],
              loopTop: false,
              navigationPosition:'right',
              loopBottom: false,
              autoScrolling: true
          })
      }
    
      //up step
      //function foraward(prev_bottom,target_bottom,top){
      function foraward(){
        $('.happy').addClass('act');
        $('.sbottom').addClass('act');
        $('.happy').animate({'bottom':'322px'},3000,function(){
            setTimeout(function(){
              fallback();
            },1000);            
        })

      }

      //down step
      function fallback(){
        $('.happy').animate({'bottom':'35px'},3000,function(){
          $.carnivalbox({
            width:460,
            title:'跳楼机关卡完成，抽话费奖励',
            content:'注意：系统会在问卷审核通过后将<b>话费</b>充值到您的手机',
            btnCont:'抽奖',
            beforeshow:function(){
              var text = '<form action=""><input type="radio" name="charg" checked="checked" value="a" />10元（中奖率99%）<input type="radio" name="charg" value="b" />50元（中奖率20%）<input type="radio" name="charg" value="c" />100元（中奖率10%）</form>'
              $('.carnival-popup p').after(text);
            },
            aftershow:function(){
              var sub_btn   = $('.carnival-popup a.btn');

              sub_btn.live('click',function(){
                if(!sub_btn.hasClass('disabled')){
                    var money =  $('.carnival-popup input:checked').val();
                    if(money == 'a'){
                      money = 10;
                    }else if (money == 'b'){
                      money = 50;
                    }else{
                      money = 100;
                    }
                    sub_btn.addClass('disabled');
                    sendAjax(0,null,money);
                }
              });
            }
          });
        })
      }

      //set section
      function setSection(step){
        var step = parseInt(step,10);
        if(step == 1){
          $('.section.wheel').addClass('active').siblings().removeClass('active');
          setTaskDetail(step,$('.section.wheel'));
        }else if(step == 2){
          $('.section.stair').addClass('active').siblings().removeClass('active');
          setTaskDetail(step,$('.section.stair'));
        }else if(step == 3){
          $('.section.balloon').addClass('active').siblings().removeClass('active');
          setTaskDetail(step,$('.section.balloon'));
        }
      }

      // open door
      function openDoor(move){
        TaskOpen('wheel');// start the wheel section
        $('.door .left').animate({'left':'-175px'},3000,function(){});
        $('.door .right').animate({'right':'-148px'},3000,function(){
          // $.fn.fullpage.moveSectionUp()// go to next section
          var d = new Date();
          $.cookie('ticket',d.getTime(),{ expires: 10 * 365 });

        });
        if(move)
          $.fn.fullpage.moveSectionUp();
      }

      // open task完成上一个任务后设置下一个任务
      function TaskOpen(flag){
        switch(flag){
        case 'wheel':
          setTaskOne();
          break;
        case 'stair':
          setTaskTwo();
          break;
        case 'balloon':
          setTaskThree();
          break;
        case 'reward':
          setTaskFour();
          break;
        }
      }

      //设置第一个大任务
      function setTaskOne(){
        fireUpBackground($('.section.wheel'));
        $('#task_one_ask').hide();
        $('#task_one_text').show();
        $('.section.wheel').addClass('current');
        $('.section.wheel a').each(function(k,v){
          var uri = '/s/' + window.data.t1_surveys[k];
          $(v).attr('href',uri).attr('id',window.data.t1_surveys[k]);
          // add for hide survey start
          if(window.data.t1_status[k] > 0){
            if(window.data.t1_status[k] != 2){
              if($(v).hasClass('five')){
                $(v).removeClass('five');  
              }
              $(v).addClass('act');  
            }
          } 
          // add for hide survey end
        })
      }

      //设置第二个大任务
      function setTaskTwo(){
        setTaskOne();
        fireUpBackground($('.section.stair'));
        $('#task_two_ask').hide();
        $('#task_two_text').show();
        $('.section.stair').addClass('current');

        $('.section.stair a').each(function(k,v){
          var uri = '/s/' + window.data.t2_surveys[k];
          $(v).attr('href',uri).parent().attr('id',window.data.t2_surveys[k]);

          if(parseInt(window.data.t2_status[k]) > 0){
            if( parseInt(window.data.t2_status[k]) != 2 ){
              $(v).addClass('act');  
            }
          }
          
        })
      }

      //设置第三个大任务
      function setTaskThree(){
        setTaskTwo();
        fireUpBackground($('.section.balloon'));
        $('#task_three_ask').hide();
        $('#task_three_text').show();
        $('.section.balloon').addClass('current');
        $('.section.balloon a').each(function(k,v){
          if(window.data.t3_surveys[k]){
            var uri = '/s/' + window.data.t3_surveys[k];
            $(v).attr('href',uri).parent().attr('id',window.data.t3_surveys[k]);
          }else{
            //第三个大任务,如果小任务不足五个，移除多于的绳子和答题链接
            $(v).parent().remove();
            $($('.line-wrap .line')[k -1]).hide();
          }
        })
      }

      //设置抽奖
      function setTaskFour(){
        setTaskThree();
      }

      //答题跳转回来用
      function setTaskDetail(step,content){

        fireUpBackground(content);
        switch(step){
        case 1:
          flagSurvey(step,window.data.t1_surveys,window.data.t1_status);
          break;
        case 2:
          flagSurvey(step,window.data.t2_surveys,window.data.t2_status);
          break;
        case 3:
          flagSurvey(step,window.data.t3_surveys,window.data.t3_status);
          break;
        default:
          break;
        }
      }

      //点亮不同场景的背景颜色
      function fireUpBackground(secContent){
        // do something
      }

      // 获取剩余抽奖机会
      function get_remain(){
        if(window.data.share_lottery_num == 0 && window.data.share_num == 0){
          //第一次抽奖且没有分享过,只有一次抽奖机会
          var rem = '您还有1次抽奖机会';
        }else if(window.data.share_num > 0){
          // 有多次抽奖机会
          if(window.data.share_num == window.data.share_lottery_num){
            //所有机会已经用尽
            var rem = '您还有0次抽奖机会';
            $("#lotteryBtn").addClass('disabled');
          }

          if(window.data.share_num > window.data.share_lottery_num){
            // 有多次抽奖机会,但是还没有用尽
            var rem = '您还有' + (window.data.share_num - window.data.share_lottery_num) + '次抽奖机会';
          }

          if(window.data.own){
            //已经中奖
            var rem = '您还有0次抽奖机会';
            $("#lotteryBtn").addClass('disabled');
          }

        }

        $('.ly-plate .draw_remain').text(rem)


        // if(window.data.share_lottery_num >= window.data.share_num){
        //   $("#lotteryBtn").addClass('disabled');
        // }
        // if(window.data.share_num > 0){
        //   var rem = window.data.share_num - window.data.share_lottery_num;
        // }else{
        //   var rem = '您还有1次抽奖机会'
        // }
        // $('.ly-plate .draw_remain').text(rem)  
      }

      //标识某个问卷是否已经回答完毕
      function flagSurvey(step,survey_arr,status_arr){

        //for test
        switch(step){
        case 1:
          setTaskOne();
          break;
        case 2:
          setTaskTwo();
          break;
        case 3:
          setTaskThree();
          break;                    
        }

        setFlag(step,survey_arr,status_arr);

        if(step == 1){
          //摩天轮,如果该大任务的每个小任务都完成,则加载动画效果
          if($.inArray(0,status_arr) < 0 ){
            turnWheel();
            //弹出话费充值提示
            setTimeout(function(){
              $.carnivalbox({
                width:460,
                title:'摩天轮关卡已完成',
                content:'系统会在问卷审核通过后将<b>10元话费</b>充值到您的手机',
                btnCont:'马上领取',
                beforeshow:function(){
                  $('.carnival-popup p').after('<form action=""><input type="text" name="phone"/></form>')
          
                },
                aftershow:function(){
                  var phone_ipt = $('.carnival-popup form input');
                  var sub_btn   = $('.carnival-popup a.btn');
                  phone_ipt.live('focus',function(){
                    $(this).removeClass('error');
                    sub_btn.removeClass('disabled');
                  });
                  sub_btn.live('click',function(){
                    if(!sub_btn.hasClass('disabled')){
                      var phone = phone_ipt.val();
                      if($.regex.isMobile(phone)){
                        sub_btn.addClass('disabled');
                        phone_ipt.removeClass('error');
                        sub_btn.addClass('disabled');
                        sendAjax(3,phone);                   
                      }else{
                        phone_ipt.addClass('error');
                        sub_btn.removeClass('disabled');
                      }
                    }
                  });
                }
              })              
            },1000)
          }
        }

        if(step == 2){
          if($.inArray(0,status_arr) < 0){
            foraward();
          }
        }

        if(step == 3){
          if($.cookie('reward_3')){
            //第三个大任务充值话费已经领取

            $('.bg4').css({'background-position-y': '0%'});
            $('.ball-body').css({'top':'-1000px'});
            $('.bg-grass').hide();
            $('.line-wrap').hide();


            var remain = window.data.share_num -  window.data.share_lottery_num;
            if($.cookie('reward_4')){
              //已经参加了转盘抽奖
              if(remain <= 0){
                //首次完成全部任务后并已经抽奖，再次来到页面
                $("#lotteryBtn").addClass('disabled');
                $.carnivalbox({
                  width:460,
                  title:'你已完成抽奖活动,感谢您的参与',
                  content:'',
                  btnCont:'离开',
                  beforeshow:function(){},
                  aftershow:function(){
                    var sub_btn   = $('.carnival-popup a.btn');
                    sub_btn.live('click',function(){
                      $.fancybox.close();
                    });
                  }
                }) 
              }else{
                //已经完成了转盘抽奖,但是可以重复抽奖
                if(window.data.own){
                  //已经抽中奖品,不允许再次抽奖
                  $("#lotteryBtn").addClass('disabled');
                  var title ='恭喜您,中奖了';
                  var cont = '您已经抽中奖品' +  window.data.prize_name + '我们会在审核后联系您!'  ;
                  var btn_cont = '我知道了';
                  $('#lotteryBtn').addClass('disabled');
                }else{
                  //分享抽奖情况
                  var title ='欢迎您再次抽奖';
                  var cont = '您共有' + window.data.share_num + '次抽奖机会,还剩余'
                + remain + '次抽奖机会';
                  var btn_cont = '继续抽奖';
                }

                $.carnivalbox({
                  width:460,
                  title:title,
                  content:cont,
                  btnCont:btn_cont,
                  beforeshow:function(){},
                  aftershow:function(){
                    var sub_btn   = $('.carnival-popup a.btn');
                    sub_btn.live('click',function(){
                      $.fancybox.close();
                      get_remain();
                      $('.ly-plate').fadeIn(3000);
                    });
                  }
                })
              }
            }else{
              //第三关的话费领取完成但是还未抽奖
              get_remain();
              $('.ly-plate').fadeIn(3000);
            } 
          }else{
            //第三个大任务充值话费尚未领取
            if(window.data.t3_status.indexOf(0) < 0){
              $.carnivalbox({
                width:460,
                title:'您已完成全部关卡',
                content:'系统奖励您<b>10元话费</b>,并且赠送您一次<b>抽奖机会</b>',
    
                btnCont:'马上领取',
                beforeshow:function(){},
                aftershow:function(){
                  var sub_btn   = $('.carnival-popup a.btn');
                  sub_btn.live('click',function(){
                    if(!sub_btn.hasClass('disabled')){
                        sub_btn.addClass('disabled');
                        sendAjax(4,null,null);
                    }
                  });
                }
              })
            };
          }
        }

      }

      //t_type 任务类型
      //mobile 手机号
      //数量
      function sendAjax(t_type,phone,num){
        var url = '/carnival/users/draw_lottery';
        $.post(url,
          {mobile: phone, 
           type: t_type, 
           amount: num
          },function(data){
            var code = parseInt(data.value.error_code, 10);
            var notic = $('.carnival-popup .notic');
            var d = new Date();

            function nextSec(){
              $.fancybox.close();
              $.fn.fullpage.moveSectionUp()                
            }

            if(data.success){
              if(t_type == 3){
                $.cookie('reward_1',d.getTime(),{ expires: 10 * 365 });
                TaskOpen('stair');
                notic.html( '领取成功!系统审核通过后会充值到您的手机!' );
                notic.show();
                $('.carnival-popup a.btn').text('继续答题');
                $('.carnival-popup a.btn').unbind('click');
                $('.carnival-popup a.btn').live('click',function(){
                  nextSec();
                })
              }else if(t_type == 0){
                $.cookie('reward_2',d.getTime(),{ expires: 10 * 365 });
                TaskOpen('balloon');
                notic.html('恭喜您抽中了' + data.value + '系统审核后会充值到您的手机!');
                notic.show();  
                $('.carnival-popup a.btn').live('click',function(){
                  nextSec();
                })                           
              }else if(t_type == 4){
                $.cookie('reward_3',d.getTime(),{ expires: 10 * 365 });
                notic.html('获得了10元手机充值奖励,系统会在审核后充值到您的手机!');
                notic.show();
                $('.carnival-popup a.btn').text('现在去抽奖'); 
                $('.carnival-popup a.btn').live('click',function(){
                  $.fancybox.close();
                  makeFire();
                  flyBalloon();
                })
              }
            }else{
              function rebind_click(txt){
                txt = txt || '马上完成';
                $('.carnival-popup .submit').text(txt)
                $('.carnival-popup .submit').unbind('click');
                $('.carnival-popup .submit').bind('click',function(){
                  $.fancybox.close();
                })
                notic.show();
              };

              switch (code) {
                case -1:
                    notic.html( '对不起,该用户不存在!' );
                    rebind_click();
                    break;
                case -2:
                    notic.html( '<a href="/s/' + window.data.background_survey + '">需要先点亮小太阳，点击此处点亮。</a>' );
                    rebind_click('');
                    break;
                case -3:
                    if(t_type == 3){
                      notic.html('请回答完摩天轮关卡的所有答题');
                    }else if(t_type == 0){
                      notic.html('请回答完跳楼机关卡的所有答题');
                    }else if(t_type == 4){
                      notic.html('请回答完热气球关卡的所有答题');
                    }else if(t_type == 1){
                      notic.html('请回答完热气球关卡的所有答题');
                    }
                    rebind_click();
                    break;
                case -4:
                    notic.html( '对不起,该奖品已被您抽中' );
                    rebind_click('我知道了');               
                    break;
                case -5:
                    notic.html( '对不起,您本次没有抽中!' );
                    rebind_click('我知道了');                    
                    break;
                case -6:
                    notic.html('对不起,该手机号不存在!' );
                    rebind_click('我知道了');                  
                    break;
                default:
                  break;
              }
            }
          })
      }

      //转动摩天轮
      function turnWheel(){
        var wheel = $('.section.wheel');
        wheel.find('a').hide();
        wheel.find('span').show();
        flash = wheel.find('.ferris');
        flashWheel();
      }

      //给气球点火
      function makeFire(){
        var umbrella = $('.umbrella');
        var basket = $('.basket');
        if(window.data.t3_status.indexOf(0) < 0){
            umbrella.addClass('act');  
          
          if(basket.hasClass('left')){
            basket.removeClass('left').addClass('right');
          }else{
            basket.removeClass('right').addClass('left');  
          }
          setTimeout(makeFire,300);          
        } 
      }

      // set Active
      function setFlag(step,survey_arr,status_arr){
        percentNotice(step,survey_arr,status_arr)

        // for hide survey start
        $.each(survey_arr,function(k,v){
          if(parseInt(status_arr[k]) > 0){
            if( parseInt(status_arr[k]) != 2 ){
              $('#' + v).addClass('act');  
            }
            if(step == 3){
              //热气球,如果某个小任务完成,删除绳子
              $($('.line-wrap .line')[k]).hide();
            }
          }
        })  
        // for hide survey end

      }

      function percentNotice(step,survey_arr,status_arr){
        var tmp_status = status_arr.filter(function(ele){ return ele > 0})
        if( $.inArray(0,status_arr) > 0 && tmp_status.length > 0 ){
          if(step == 1){
            var con = '摩天轮';
            var reward = '10元话费';
          }else if(step == 2){
            var con = '跳楼机';
            var reward = '10(50或100)元话费抽奖机会';
          }else if(step == 3){
            var con = '热气球'
            var reward = '10元话费及一次抽大奖机会';
          }
          var answered = status_arr.filter(function(ele){ return ele > 0 });
          var perc     = answered.length + '/' +  status_arr.length ;
          var t = '完成任务';
          var con = '恭喜,已完成' + con + '关卡的' + perc + ',全部完成可获得' + reward;   
          $.carnivalbox({
            width:460,
            title:t,
            content: con,
            btnCont:'继续任务',
            aftershow:function(){
              $('.carnival-popup a.btn').live('click',function(){
                $.fancybox.close();
              })
            }
          })
        }
      }

      //摩天轮发光闪烁
      function flashWheel(wheel){
        var wheel = $('.section.wheel');
        flash = wheel.find('.ferris');
        if(flash.hasClass('flash')){
          flash.removeClass('flash');
        }else{
          flash.addClass('flash');  
        }
        setTimeout(flashWheel,300);        
      }

      function flyBalloon(){
        var bg  = parseInt($('.bg4').css('background-position-y'));
        var nbg = bg - 1 + '%'
        $('.bg4').css({'background-position-y': nbg});
        var grass_top = parseInt( $('.ball-line').css('top') );
        var ngrass_top = grass_top + 10 + 'px';
        $('.ball-line').css({'top':ngrass_top});

        if(nbg == '30%'){
          $('.ball-body').animate({'top':'-1000px'},4000,function(){
            get_remain();
            $('.ly-plate').fadeIn(4000,function(){})
          })
          return false;
        }
        setTimeout(flyBalloon,100)
      }

      setFullPage();

    });

  </script>
<% end %>


<div class='fullPage'>
  <div class='section balloon'>
    <div class='page bg4'>
      <div class="page-inner">
        <div class='ball-cont'>
          <div class='ball-body'>
            <div class='umbrella'></div>
            <div class='basket'>
              <!-- <div class='stack stack5'>
                <a href='javascript:void(0);'></a>
              </div> -->
            </div>
          </div>
          <div class='ball-line'>
            <div class='line-wrap'>
              <div class='line line-1'></div>
              <div class='line line-2'></div>
              <div class='line line-3'></div>
              <div class='line line-4'></div>
              <div class='bg-grass'></div>
              <div class="tooltip rqq">
                 <div id='task_three_ask' style='font-size: 60px; color: #ccc; line-height: 70px;'>?</div>
                 <div id='task_three_text' style='display:none;'>点击问号解开热气球绳子,<br>4根全部解开立即获得<b>神秘奖品</b><br>和<b>小米大奖抽奖机会！</b></div>
              </div>
              <div class='stack stack1'><a href='javascript:void(0);'></a></div>
              <div class='stack stack2'><a href='javascript:void(0);'></a></div>
              <div class='stack stack3'><a href='javascript:void(0);'></a></div>
              <div class='stack stack4'><a href='javascript:void(0);'></a></div>
            </div>
          </div>
        </div>
        <div class="ly-plate">
          <div class="rotate-bg">
            <div class='draw_remain'></div>
          </div>
            <div class="lottery-star">
              <img src="/assets/activities/2014-6/ferris/rotate-static.png" id="lotteryBtn">
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class='section stair'>
    <div class='page bg3'>
      <div class="page-inner">
        <div id='machine-wrap'>
          <div class='wrap-skin'>
            <div class="tooltip tlj">
              <div id='task_two_ask' style='font-size: 60px; color: #ccc; line-height: 70px;'>?</div>
              <div id='task_two_text' style='display:none;'>点击跳楼机问号进行闯关,<br>本关分5个小任务,闯关成功<br>可参加<b>神秘抽奖哦！</b></div>
            </div>
            <div class='happy'></div>
            <div class='st5'><a href='javascript:void(0);'></a></div>
            <div class='st4'><a href='javascript:void(0);'></a></div>
            <div class='st3'><a href='javascript:void(0);'></a></div>
            <div class='st2'><a href='javascript:void(0);'></a></div>
            <div class='st1'><a href='javascript:void(0);'></a></div>
            <div class='sbottom'></div>            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='section wheel'>
    <div class="page bg2">
      <div class="page-inner">
        <div id="ferris-wheel">
          <div class="tooltip mtl">
            <div id='task_one_ask' style='font-size: 60px; color: #ccc; line-height: 70px;'>?</div>
            <div id='task_one_text' style='display:none;'>点问号（<b>注意中间问号</b>）闯关,<br> 本关分5个小任务,闯关成功即送<b>10元手机充值卡！</b></div>
          </div>
          <span class="ferris-wheel-box">
          <a href="javascript:void(0);" class="one"></a>
          <a href="javascript:void(0);" class="two"></a>
          <a href="javascript:void(0);" class="three"></a>
          <a href="javascript:void(0);" class="four"></a>
          <a href="javascript:void(0);" class="five"></a>
          <span class="ferris"></span>
          <span class="holder"></span>
          </span>
        </div>        
      </div>
    </div>
  </div>
  <div class='section gate active'>
    <div class="page bg1">
      <div class="page-inner">
        <div class="door-box">
          <div class="door">
            <a href="/s/53859185eb0e5b7282000003" class="start">开始抢票！</a>
            <p class="last">如果您已参加过本活动，可 <a id='continue_game' href="javascript:void(0);">继续游戏</a></p>
          <span class="left"></span>
          <span class="right"></span>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
