<div class='sort-frame'>
	<ul class='sort-left'>
		<!-- <li>
			<span class='sort-index'>1</span>
			<div class='sort-item-con'>
				<div class='sort-item'>
					<em class='sort-item-drag'></em>
					<div class='sort-item-detail'>abc asd asdfasdf sdsad asd </div>
					<em class='sort-item-remove'></em>
				</div>
			</div>
		</li>
		<li class='sort-type2'>
			<span class='sort-index'>2</span>
			<div class='sort-item-con'></div>
		</li>
		<li class='sort-type3'>
			<span class='sort-index'>3</span>
			<div class='sort-item-con'></div>
		</li> -->
	</ul>
	<ul class='sort-right'>
		<!-- <li>
			<div class='sort-item'>
				<em class='sort-item-drag'></em>
				<div class='sort-item-detail'>abc asd asdfasdf sdsad asd </div>
			</div>
		</li>
		<li>
			<div class='sort-item'>
				<em class='sort-item-drag'></em>
				<div class='sort-item-detail'>abc asd asdfasdf sdsad asd abc asd asdfasdf sdsad asd abc asd asdfasdf sdsad asd abc asd asdfasdf sdsad asd abc asd asdfasdf sdsad asd abc asd asdfasdf sdsad asd abc asd asdfasdf sdsad asd abc asdsad asd </div>
			</div>
		</li>
		<li>
			<div class='sort-item'>
				<em class='sort-item-drag'></em>
				<div class='sort-item-detail'>abc asd asdfasdf sdsad asd </div>
			</div>
		</li> -->
	</ul>
</div>