@import "common";
@import "compass/css3/inline-block";

/* items and other item */
.editor-left-body {
	.q-body {
		padding-top: 12px;
	}
}

.q-matrix {
	$body-width: 575px;
	$seperate-width: 15px;

	.q-matrix-half {
		@include inline-block;
		width: ($body-width - $seperate-width) / 2;
		vertical-align: top;
	}

	.q-items-title {
		color: $blue;
		padding: 0 22px 10px 22px;
		font-size: 13px;
	}

	.od-item {
		margin-bottom: 12px;
	}

	.q-new-opt{
		padding-top: 4px;
		padding-left: 22px;
	}
}