@import "common";

.scale-labels {

	margin-top: 20px;
	margin-left: 17px;

	td, th {
		padding: 3px;
		text-align: center;
		color: #666;
	}

	input[type='text'] {
		$input-width: 70px;
		$input-height: 25px;
		
		@include ipt;
		@include inline-block;
		@include size($input-width - 5 - 5 - 2, $input-height - 3 - 2);
		padding: 3px 5px 0 5px;
		border: 1px #dbdbdb solid;
		
		color: #666;
		font-size: 12px;
		text-align: center;
		
		background: image-url('editors/input_edit_bg.png') 0 -88px repeat-x;
		
		&:focus {
			background: image-url('editors/input_edit_bg.png') 0 -53px repeat-x;
		}
		&.highlight {
			background: image-url('editors/input_edit_bg.png') 0 -123px repeat-x;
		}
		&.other {
			color: $blue;
		}
	}

}