<div id="cities">
	<div class="title">
		<a href="javascript:void(0);"><i class="icon icon-map-marker"></i>选择城市</a>
<!-- 		<i class="icon-double-angle-right"></i>
		<a href="javascript:void(0);">市场调查问卷</a>
		<i class="icon-double-angle-right"></i>
		<a class="current" href="javascript:void(0);">访问员A</a> -->
	</div>
	<div class="option-panel">
			<div id="quarter">
				<a href="javascript:void(0);" class="prev"><i class="icon-angle-left"></i></a>
				<span class="cur-quarter">2015年第1季度</span>
				<a href="javascript:void(0);" class="next none"><i class="icon-angle-right"></i></a>
			</div>

			<div id="suffice-finished">
				<input class="l" type="checkbox" name="" id="suffice">
				<label class="l" for="suffice">已通过审核</label>
			</div>
		</div>
	<div class="city-list finished">
		<ul>
			<li>
				<a href="javascript:void(0);">
					<span class="city-name">北京</span>
					<span class="num">151/291</span>
					<span class="progress finished" style="width:100px;"></span><!-- 完成 -->
					<span class="progress suffice" style="width:100px;"></span><!-- 通过 -->
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<span class="city-name">上海</span>
					<span class="num">151/291</span>
					<span class="progress finished" style="width:100px;"></span>
					<span class="progress suffice" style="width:100px;"></span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<span class="city-name">重庆</span>
					<span class="num">151/291</span>
					<span class="progress finished" style="width:200px;"></span>
					<span class="progress suffice" style="width:100px;"></span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<span class="city-name">沈阳</span>
					<span class="num">151/291</span>
					<span class="progress finished" style="width:60px;"></span>
					<span class="progress suffice" style="width:100px;"></span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<span class="city-name">吉林</span>
					<span class="num">151/291</span>
					<span class="progress finished" style="width:150px;"></span>
					<span class="progress suffice" style="width:100px;"></span>
				</a>
			</li>
		</ul>
	</div>
</div>