<div class='q-matrix'>
	<div class='q-matrix-half' style='margin-right: 15px;'>
		<div class='q-items-title'>子问题</div>
		<div class='q-items q-items-row'></div>
		<div class='q-new-opt q-new-opt-row'></div>
	</div><!--
	--><div class='q-matrix-half'>
		<div class='q-items-title'>选项</div>
		<div class='q-items q-items-item'></div>
		<div class='q-new-opt q-new-opt-item'></div>
	</div>
</div>