<div class="editor">
	<div class="editor-paragraph-top"></div>
	<div class="editor-paragraph-main">
		<div class='paragraph-content'>
			<h1>文本段</h1>
			<div class='p-content'></div>
			<div class='p-btn'>
				<div>
					<button class='od-button ok-btn'>确 定</button>
				</div>
				<div>
					<button class='cancel-btn'>取 消</button>
				</div>
			</div>
		</div>
	</div>
	<div class="editor-paragraph-bottom"></div>
</div>