<ul class="ipt-preview">
	<li class='w'>
		<span class="preview-title"></span>
		<span class="preview-title-txt">座机（如：010-8888-8888）</span>
		<span class="preview-title-txt">手机（如：186-8888-8888）</span>
		<span class="preview-title-txt">电话（如：010-8888-8888、186-8888-8888）</span>
	</li>
</ul>	