<div class='min-max'>
	<div>至少填写 <input class="tiny-ipt" type="text" /> 字</div>
	<div>最多填写 <input class="tiny-ipt" type="text" /> 字</div>
	<div>填写 <input class="tiny-ipt" type="text" /> 到 <input class="tiny-ipt" type="text" /> 字</div>
</div>