<div class="container" id="answers">
	<div class="title">
		<a href="javascript:void(0);"><i class="icon icon-map-marker"></i>选择城市</a>
		<i class="icon-double-angle-right"></i>
		<a href="javascript:void(0);">市场调查问卷</a>
		<i class="icon-double-angle-right"></i>
		<a class="current" href="javascript:void(0);">访问员A</a>
	</div>
	<div class="option-panel">
		<div id="quarter">
			<a href="javascript:void(0);" class="prev"><i class="icon-angle-left"></i></a>
			<span class="cur-quarter">2015年第1季度</span>
			<a href="javascript:void(0);" class="next none"><i class="icon-angle-right"></i></a>
		</div>
		<div id="suffice-finished">
			<input class="l" type="checkbox" name="" id="suffice">
			<label class="l" for="suffice">已通过审核</label>
		</div>
	</div>
	<div class="answer-list finished">
		<dl>
			<dt>
				<a class="survey" href="javascript:void(0);">
					<i class="icon-file-text-alt mr5"></i>旅游市场调查问卷1<span class="num r"><em class="finished">123</em><em class="suffice">140</em> / 200</span>
				</a>
			</dt>
			<dd class="dn">
				<ul>
					<li>
						<a href="javascript:void(0);">
							<span class="name"><i class="icon-user mr5"></i>访问员A</span>
							<span class="progress-bar">
								<span class="num"><i class="finished">151</i><i class="suffice">121</i>/291</span>
								<span class="progress finished" style="width:100px;"></span><!-- 完成 -->
								<span class="progress suffice" style="width:100px;"></span><!-- 通过 -->
							</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);">
							<span class="name"><i class="icon-user mr5"></i>访问员A</span>
							<span class="progress-bar">
								<span class="num"><i class="finished">151</i><i class="suffice">121</i>/291</span>
								<span class="progress finished" style="width:100px;"></span><!-- 完成 -->
								<span class="progress suffice" style="width:100px;"></span><!-- 通过 -->
							</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);">
							<span class="name"><i class="icon-user mr5"></i>访问员A</span>
							<span class="progress-bar">
								<span class="num"><i class="finished">151</i><i class="suffice">121</i>/291</span>
								<span class="progress finished" style="width:100px;"></span><!-- 完成 -->
								<span class="progress suffice" style="width:100px;"></span><!-- 通过 -->
							</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);">
							<span class="name"><i class="icon-user mr5"></i>访问员A</span>
							<span class="progress-bar">
								<span class="num"><i class="finished">151</i><i class="suffice">121</i>/291</span>
								<span class="progress finished" style="width:100px;"></span><!-- 完成 -->
								<span class="progress suffice" style="width:100px;"></span><!-- 通过 -->
							</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);">
							<span class="name"><i class="icon-user mr5"></i>访问员A</span>
							<span class="progress-bar">
								<span class="num"><i class="finished">151</i><i class="suffice">121</i>/291</span>
								<span class="progress finished" style="width:100px;"></span><!-- 完成 -->
								<span class="progress suffice" style="width:100px;"></span><!-- 通过 -->
							</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);">
							<span class="name"><i class="icon-user mr5"></i>访问员A</span>
							<span class="progress-bar">
								<span class="num"><i class="finished">151</i><i class="suffice">121</i>/291</span>
								<span class="progress finished" style="width:100px;"></span><!-- 完成 -->
								<span class="progress suffice" style="width:100px;"></span><!-- 通过 -->
							</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);">
							<span class="name"><i class="icon-user mr5"></i>访问员A</span>
							<span class="progress-bar">
								<span class="num"><i class="finished">151</i><i class="suffice">121</i>/291</span>
								<span class="progress finished" style="width:100px;"></span><!-- 完成 -->
								<span class="progress suffice" style="width:100px;"></span><!-- 通过 -->
							</span>
						</a>
					</li>
				</ul>
			</dd>
		</dl>
		<dl>
			<dt>
				<a class="survey" href="javascript:void(0);">
					<i class="icon-file-text-alt mr5"></i>旅游市场调查问卷1<span class="num r"><em class="finished">123</em><em class="suffice">140</em> / 200</span>
				</a>
			</dt>
			<dd class="dn">
				<ul>
					<li>
						<a href="javascript:void(0);">
							<span class="name"><i class="icon-user mr5"></i>访问员A</span>
							<span class="progress-bar">
								<span class="num"><i class="finished">151</i><i class="suffice">121</i>/291</span>
								<span class="progress finished" style="width:100px;"></span><!-- 完成 -->
								<span class="progress suffice" style="width:100px;"></span><!-- 通过 -->
							</span>
						</a>
					</li>
				</ul>
			</dd>
		</dl>
		<dl>
			<dt>
				<a class="survey" href="javascript:void(0);">
					<i class="icon-file-text-alt mr5"></i>旅游市场调查问卷1<span class="num r"><em class="finished">123</em><em class="suffice">140</em> / 200</span>
				</a>
			</dt>
			<dd class="dn">
				<ul>
					<li>
						<a href="javascript:void(0);">
							<span class="name"><i class="icon-user mr5"></i>访问员A</span>
							<span class="progress-bar">
								<span class="num"><i class="finished">151</i><i class="suffice">121</i>/291</span>
								<span class="progress finished" style="width:100px;"></span><!-- 完成 -->
								<span class="progress suffice" style="width:100px;"></span><!-- 通过 -->
							</span>
						</a>
					</li>
				</ul>
			</dd>
		</dl>
	</div>
</div>