<div class='q-render'>
	<div class='q-render-mid'></div>

  <div class="q-render-btns-con">
    <div class="q-render-btns">
      <ul class="edit-panel">
        <li><a class="del" href="javascript:void(0);"></a></li>
        <li><a class="edit" href="javascript:void(0);"></a></li>
        <li><a class="copy" href="javascript:void(0);"></a></li>
        <li><a class="page-break" href="javascript:void(0);"></a></li>
      </ul>
	  </div>
	</div>
</div>