<div class='q-render'>
	<div class='q-render-top'></div>
	<div class='q-render-mid'></div>
	<div class='q-render-bottom'></div>
	<div class='q-render-btns-con'>
		<div class='q-render-btns'></div>
		<div class='q-render-btns-confirm'>
		<!-- 	<button class="od-button ok-btn" >确定删除</button>
			<button class="od-button od-button-white cancel-btn" >取消</button> -->
		</div>
	</div>
</div>