        <div class="rowElem">
          <label>奖品名称:</label>
          <div class="formRight">
            <input type="text" class="prize-input validate[required]" id="prize_name" value="" />
          </div>
          <div class="fix"></div>
        </div>
        <div class="rowElem">
          <label>奖品类型:</label>
          <div class="formRight">
            <select id="prize_type" class="prize-input validate[required]">
              <option value=0>现金红包</option>
              <option value=1>实物奖品</option>
              <option value=2>虚拟奖品</option>
            </select>
          </div>
          <div class="fix"></div>
        </div>
        <div class="rowElem">
          <label>奖品数量:</label>
          <div class="formRight onlyNums">
            <input type="text" class="prize-input validate[required]" id="prize_surplus" value="" />
          </div>
          <div class="fix"></div>
        </div>
        <div class="rowElem">
          <label>上传图片:</label>
          <div class="formRight">
            <img src="" alt="" id="prize_photo_src">
            <br />
            <input type="file" name="material" class="prize-input" id="prize_photo" />
          </div>
          <div class="fix"></div>
        </div>
        <div class="rowElem">
          <label>奖品描述:</label>
          <div class="formRight">
            <textarea rows="8" cols="" class="prize-input validate[required]" id="prize_desc" value=""></textarea>
          </div>
          <div class="fix"></div>
        </div>