<button class="left-sidebar-title">调研结果</button>
<ul class="left-menus">
	<li class='<% if (left_active == 0) %>active<%end%>'><a href="<%=questionaire_filters_path %>"><span class="left-menu-icon"><em class="filter"></em></span><span class="left-menu-name">筛选器</span></a></li>
	<li class='<% if (left_active == 1) %>active<%end%>'><a href="<%=questionaire_result_path %>"><span class="left-menu-icon"><em class="bar"></em></span><span class="left-menu-name">结果分析</span></a></li>
</ul>
<div class="left-sidebar-end"></div>