<ul class="other-login-link l">
	<!-- <li><a href="<%= social_auth_link('sina') %>"><em class="other-icon sina_weibo mr15"></em>新浪微博</a></li> -->
	<li><a href="<%= social_auth_link('renren') %>"><em class="other-icon renren mr15"></em>人人网</a></li>
	<!-- <li><a href="<%= social_auth_link('qq') %>"><em class="other-icon qq mr15"></em>QQ</a></li>
	<li><a href="<%= social_auth_link('kaixin001') %>"><em class="other-icon kaixin mr15"></em>开心网</a></li> -->
</ul>