<ul class="ipt-preview">
	<li class='ipt-preview-0'>
		<span class="preview-title"><em class="jt"></em></span>
		<span class="preview-title-txt">省</span>			
	</li>
	<li class='ipt-preview-1'>
		<span class="preview-title"><em class="jt"></em></span>
		<span class="preview-title-txt">市</span>						
	</li>
	<li class='ipt-preview-2'>
		<span class="preview-title"><em class="jt"></em></span>
		<span class="preview-title-txt">区（县）</span>						
	</li>
	<li class='ipt-preview-3 w'>
		<span class="preview-title"></span>
		<span class="preview-title-txt">详细街道地址</span>						
	</li>
	<li class='ipt-preview-postcode'>
		<span class="preview-title"></span>
		<span class="preview-title-txt">邮编</span>						
	</li>
</ul>	