<div class="editor">
	<div class="editor-top-bg"></div>
	<div class="editor-main">
		
		<!-- 左侧编辑区域 -->
		<div class="editor-left">
			
			<!-- 左侧顶部：题目类型、切换按钮 -->
			<div class="editor-left-head">
				<h1 class="q-type"><strong>?</strong></h1>
				<em class="star">*</em>
				<div class="editor-method"></div>
			</div>
			<!-- /左侧顶部：题目类型、切换按钮 -->

			<!--左侧下方：问题内容 -->
			<div class="editor-left-body editor-left-body-visual" style='display:none;'>
				<div class='q-title'></div>
				<div class='q-note'><textarea>请输入您的答案提示</textarea></div>
				<div class='q-body'></div>
			</div>
			<div class="editor-left-body editor-left-body-code">
				<textarea></textarea>
			</div>
			<!-- /左侧下方：问题内容 -->
			
		</div>
		<!-- /左侧编辑区域 -->
		
		<!-- 右侧编辑区域 -->
		<div class="editor-right">
			<div class="dotted after_items" style='margin-bottom:0;'></div>
			<button class="unfold-btn" title='展开'><em></em></button>
			<button class="packUp-btn" title='收起' style='display:none;'><em></em></button>
		</div>	
		<!-- /右侧编辑区域 -->
			
	</div>

	<div class="editor-bottom-bg"></div>
	
	<div class="btn-confirm-box">
		<button class="btn-cancel">取消</button>
		<button class='btn-confirm'>确定</button>
	</div>
</div>