<ul class="ipt-preview">
	<li class='s'>
		<span class="preview-title"><em class="jt"></em></span>
		<span class="preview-title-txt">年</span>			
	</li>
	<li class='s'>
		<span class="preview-title"><em class="jt"></em></span>
		<span class="preview-title-txt">月</span>						
	</li>
	<li class='s'>
		<span class="preview-title"><em class="jt"></em></span>
		<span class="preview-title-txt">日</span>						
	</li>
</ul>
<ul class="ipt-preview">
	<li class='s'>
		<span class="preview-title"><em class="jt"></em></span>
		<span class="preview-title-txt">时</span>			
	</li>
	<li class='s'>
		<span class="preview-title"><em class="jt"></em></span>
		<span class="preview-title-txt">分</span>						
	</li>
	<li class='s'>
		<span class="preview-title"><em class="jt"></em></span>
		<span class="preview-title-txt">秒</span>						
	</li>
</ul>