//=require ui/widgets/od_button
//=require jquery.placeholder

@charset "utf-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "common";

body, button, input, select, textarea {
	font: 12px '微软雅黑', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color:#333;
}

/* for textarea and input on focus*/
textarea, input[type='text'], input[type='password'] {
	@include ipt;
}

/*针对火狐button行高修复*/
button::-moz-focus-inner, 
input[type="reset"]::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner, 
input[type="file"] > input[type="button"]::-moz-focus-inner {
border:none ;
padding:0;
}
