= form_tag({:controller => "users", :action => "send_password_email"}, :method => "post") do

	%p
		%label 邮箱
		= text_field_tag 'user[email]'

	%p
		= submit_tag "找回密码"

= render :partial => "layouts/navigation"
