/*
 *=require ../fillers/base
 *=require ../editors/
 *=require ui/widgets/od_tip
 *=require ui/widgets/od_waiting
 *=require ui/widgets/od_white_button
 */
@import "common";
@import "compass/css3/border-radius";

.q-render {
	clear: both;
	position: relative;

	.q-render-top, .q-render-bottom { @include size(785px, 14px); }

	.q-render-mid { padding: 1px 30px; }

	.q-render-btns-con {
		font-size: 12px;
		position: absolute;
		top:0;
		right:0;
		display:none;
		.q-render-btns-confirm {
			display: none;
			.cancel-btn {
				margin-left: 10px;
			}
		}
	}

	.q-render-top { background: image-url("editors/tint-gray-top.png") no-repeat 0 0; }
	.q-render-bottom { background: image-url("editors/tint-gray-bottom.png") no-repeat 0 0; }
	.q-render-mid { 
		background: #fff; 
		border:1px $borderColor solid;
		@include border-radius(3px);
	}
	&:hover {
		.q-render-btns-con { display: block; }
	}

	.q-filler {
		border: none;
		padding: 10px 10px 20px 10px;
		.q-idx {
			top: 10px;
			left: -32px;
			font-size: 16px;
			background: #999;
			// background: transparent;
			// color: #000;
		}
	}
}