@import "common";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import "compass/css3/opacity";
@import "od-quillme/icons/*.png";

.exc-panel{
	>div{
		margin-top:10px;
		@include size(auto,30px);
		background: #fff;
		border:1px #dbdbdb solid;
		@include border-radius(4px);
		&.focus{
			border-color:green;
		}
		&.active{
			@include border-radius(0px);
			@include border-top-right-radius(4px);
			.select-content{
			&.active{
					border-left:1px #dbdbdb solid;
					@include border-radius(0px);
					@include border-top-right-radius(4px);
				}
			}	
		}
		label{
			float: left;
			@include one-line(30px);
			background: #f5f5f5;
			color:#666;
			text-align: center;
			@include border-left-radius(2px);
			&.w80{width:80px;}
		}
		input{
			width:140px;
			margin-top:2px;
			border:0;
			padding:4px 10px;
			color:#ccc;
			&:focus {
				border:none;
				outline: none;
				@include box-shadow(inset 0 0px 0px rgba(0, 0, 0, 0.05), 0 0 0px rgba(245, 192, 0, .6));
			}
			&.error {
				border-color: rgb(255, 0, 0);
				@include box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(255, 0, 0, .6));
				outline: none;
				color: #f00;
			}
		}
		.select2{
			@include inline-block;
			position: relative;
			.select-content{
				border:none;
				position: relative;
				width:130px;
				padding:5px 25px 5px 10px;
				color:#999;
				.select-txt{
					@include inline-block;
					@include one-line(20px);
					width:50px;
					overflow: hidden;
				}
				&:hover{
					cursor: pointer;
					background: #fff;
					.triangle{
						border:5px #fff solid;
						border-top-color:#ccc;
					}
				}
			}
			.triangle{
				@include size(1px,1px);
				@include inline-block;
				border:5px #fff solid;
				border-top-color:#dbdbdb;
				position: absolute;
				right:6px;
				top:13px;
				cursor: pointer;
			}
			ul{
				width:170px;
				@include border-bottom-radius(4px);
				border:1px #dbdbdb solid;
				border-top:none;
				border-left:none;
				position: absolute;
				left:0;
				top:30px;
				li{
					width:64px;
					@include one-line(20px);
					float: left;
					padding:5px 10px;
					border:1px #dbdbdb solid;
					border-right:none;
					border-bottom:none;
					background: #fff;
					cursor: default;
					&:hover{
						background: #f9f9f9;
					}
					&.bblr{
						@include border-bottom-left-radius(3px);
					}
					&.bbrr{
						@include border-bottom-right-radius(3px);
					}
				}
			}
		}
	}
}