<div id="mail_success" style="display:none;">
	<div class="rss_notice">
	<div class="title">邮箱订阅</div>
	<div class="rss_content">
		我们已向 <span class="mail"></span><br />
		发送了一条验证信息
		<div class="sub_content">
			请查看您的邮箱并激活,
			如果您长时间没有收到邮件,您可以<br/>
			<a href="javascript:void(0);" class="re_mail">重新发送</a>
		</div>
	</div>
	<div class="activate">
		<button href="" class="mail_act_now">马上激活</button>
		<div style="clear:both;"></div>
	</div>
	</div>
</div>



<div id="rss_error" style="display:none;">
	<div class='rss_notice'>
		<div class="title">系统错误</div>
		<div class="rss_content">
			系统在订阅过程中出错,请重新订阅
		</div>
		<div class="activate">
			<button class='close_f'>我知道了</button>
			<div style="clear:both;"></div>
		</div>
	</div>
</div>

<div id="mobile_success" style="display:none;">
	<div class='rss_notice'>
		<div class="title">短信订阅</div>
		<div class="rss_content">
			我们已向您的手机号<span class='mobi'></span> 发送了一条验证短信
            <div class="sub_content">
            	请查收您的短信,如果超过60秒未收到信息,请
            	<a href='javascript:void(0);' class="re_mobile">重新发送</a>
            </div>
		</div>
		<div class='activate send_code'>
			<span>验证码</span>
			<input type='text' name='code' />
			<button class='next_f'>验证</button>
			<div class="code_exp"><i></i><span>验证码错误或者已过期,请重新生成</span></div>
			<div style="clear:both;"></div>
		</div>
	</div>
</div>	


<div id="mobile_finish" style="display:none;">
	<div class='rss_notice'>
		<div class="title">短信订阅</div>
		<div class="rss_content">
			<div class="finish">
				<img src="/assets/od-quillme/order_s.png" /><span>订阅成功!</span>
			</div>
		</div>
		<div class="activate">
			<button class='close_f'>我知道了</button>
			<div style="clear:both;"></div>
		</div>
	</div>
</div>