<% content_for :head do %>
  <%= stylesheet_link_tag "pages/sample/email_rss_activate-bundle", :media => "all" %>
  <%= javascript_include_tag "pages/sample/email_rss_activate-bundle" %>
<% end %>

<div class="login_con"> 
  <div class="notice_head">
    <img src="/assets/od-quillme/regist_succ.png"  />
    <span class="success">订阅成功 </span>
    <div styl="clear:both;"></div>
  </div>
  <div class="login_email">
    <p>
      <a href="<%= home_path%>">返回首页</a>
    </p>
  </div>     
</div>
