<!-- content for head -->
<% content_for :head do %>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
	<%= javascript_include_tag "ui/widgets/all" %>
	<%= javascript_include_tag "ui/plugins/od_media_upload_button" %>
	<%= stylesheet_link_tag "ui/widgets/all", :media => "all" %>

	<script type="text/javascript">
	jQuery(function($) {
		
		$("#pw").placeholder({
			labelMode: true,
			labelAlpha:true,
			labelAcross:true
		});
		
		// white button
		var wbtn = $.od.odWhiteButton({text: 'test'});
		wbtn.appendTo('#od_wbtn');
		
		// icon buttons
		var icon_buttons = $.od.odIconButtons({
			buttons: [{
				name: 'edit',
				info: 'edit button',
				click: function() {
					alert(1);
				}
			}, {
				name: 'new',
				click: function() {
					alert(2);
				}
			}, {
				name: 'del'
				
			}]
		}).appendTo('#od_icon_btn');
		
		// checkbox
		var checkbox = $.od.odCheckbox({
			checked: true,
			text: '多选',
			onChange: function(checked) {console.log(checked);}
		}).appendTo('#my_checkbox');
		
		$('#my_button').click(function() {
			alert(checkbox.odCheckbox('val'));
		});
		
		// radio
		var radio = $.od.odRadio({
			checked: false,
			text: '选',
			onChange: function(checked) {console.log(checked);},
			group: 'group01'
		}).appendTo('#my_radio');
		
		var radio2 = $.od.odRadio({
			checked: false,
			text: '选',
			onChange: function(checked) {console.log(checked + '-');},
			group: 'group01'
		}).appendTo('#my_radio');
		
		// selector
		var dd = $.od.odSelector({
			values: [1, 2, 3, 4],
			width: 120
		}).appendTo('#dd');
		var dd2 = $.od.odSelector({
			values: [1, 2, 3, 4],
			width: 120
		}).appendTo('#dd2');

		//Tip
		$('#ppbutton1').odMediaUploadButton({
			type:"I",
			change:function(value){
				alert("change");
				console.log(value);
			}
		});
		$('#ppbutton11').odMediaUploadButton({
			type:"I",
			change:function(value){
				alert("change");
				console.log(value);
			},
			_close:function(){
				alert("close");
			}
		});
		$('#ppbutton22').odMediaUploadButton({
			type:"M",
			change:function(value){
				console.log(value);
			}
		});
		$('#ppbutton33').odMediaUploadButton({
			type:"V",
			change:function(value){
				console.log(value);
			}
		});
		//tip
		$('#tip').click(function(event){
			var div=$("<div />");
			div.css({background:"red",width:200+"px",height:10+"px"});
			event.stopPropagation();
			$.od.odTip({
				clickBtn:$(this),
				contentPlace:'center',
				tipContent:"nihaohniasdfafgdsfsdfasdfsjdfla",
				tipWidth:200
			}).odTip('show');
		});
		//Popup
		$('#showA').click(function(event){
			$.od.odPopup({
				contentPosition:"center",
				confirm:function(){alert("popup");},
				close:function(){alert("close");}
			});
		});

		$('#showC').click(function(event){
			$.od.odPopup({type:'confirm',btnObject:$('#showC'),
				popupStyle:"quillme",
				confirm:function(i){
					$.od.odPopup({content:'quedisadfjaldjf;alksjdfkl;asdjf;kasd;fjasdl;kfjasdlkfjasldkfjaklsdfjaskjdflasjdfasdfkalsdjsosidfasfjlfjsadklfj;asdlf',titleStyle:'black',btnObject:$('#showC'),
					size:{width:300},});
					return true;
				},
				cancel:function(){
					var div=$('<div />').html("传入jquery object");		
						$.od.odPopup({content:div,btnObject:$('#showC')});
				},
				close:function(){alert("close");}
			});
		});

		//waiting

		var flag = false;
		var w = null;
		w=$.od.odWaiting({
			type:2,
			message:"have fun! have fun! have fun! have fun!",
			contentId:'#waitContent'
		});
		$('#wait').click(function(event){
			if(!flag) {
				flag = w.odWaiting('open');
			}
			else{ flag = w.odWaiting('close');}
		});

		//autoTip
		var num =0 
		$('#auto').click(function(event){
			if(num%2 == 0)
			{var at = $.od.odAutotip({content:'删除成功删除成功删除成功删除成功'});num++}
		else
			{var at2 = $.od.odAutotip({content:'删除失败',style:'error'});num++;}
			//at.odAutotip('active')
		});

		//pop login
		$('#login').click(function(event){
			var login = $.od.odLogin({
				email:"gaoyang@oopsdata.com",
				message:"请填写密码！",
				callback:function(){alert("成功登录！")}
			});
		});
	// rich input
		var ri = $.od.odRichInput({
			value: {
				text: 'text',
				image: ['http://www.baidu.com/img/baidu_sylogo1.gif', 'http://www.baidu.com/img/baidu_sylogo1.gif', '50a5f534421aa960f7000003'],
				// image: [],
				audio: [],
				video: []
			}
		}).appendTo('#my_ri');
		
		// od option
/*		var op = $.od.odOption({
		}).appendTo('#my_op');*/

		// lefticon button
		var libtn = $.od.odLeftIconButton({text: '添加新选项', icon: 'add'});
		libtn.appendTo('#od_libtn');

		// progress bar
		var pb = $.od.odProgressbar({color: "#6D91A9", width: 600, value: 0.2});
		pb.appendTo('#od_pb');
		pb.odProgressbar("fixedTimer", 5000, 50, false, 0.8, function(){
			pb.odProgressbar("option", "value", 0.5);
			console.log(pb.odProgressbar("option", "value"));
		});


		//bmap
		var bmap = $.od.odBmap({id_name: "baidu-map", width: 760, height: 600});
		bmap.appendTo('#od_bmap');
		bmap.odBmap("init");
		bmap.odBmap("setRegion", "青海", "#ABCDEF", "青海", "像一只兔子");
		bmap.odBmap("setRegion", "黑龙江", "#012345", "黑龙江", "在中国的最东北边上");
		bmap.odBmap("setMarker", "中国广东省广州市", "广州人口", ">100");
		bmap.odBmap("setMarker", "肇庆", "肇庆印象", "她是一座美丽的城市", "广东");
		bmap.odBmap("setMarker", "深圳", "位置", "在香港旁边");
		//var markers = bmap.odBmap("setMarker", "香港", "位置", "在深圳旁边");
		//bmap.odBmap("cluster");

		// hcharts
		return;
		var option = {
			         title: {
			            text: 'Fruit Consumption'
			         },
			         subtitle: {
			         	text: 'This in not real.'
			         },
			         xAxis: {
			            categories: ['Apples', 'Bananas', 'Oranges']
			         },
			         yAxis: {
			            title: {
			               text: 'Fruit eaten'
			            }
			         },
			         series: [{
			            name: '简',
			            data: [1, 0, 4]
			         }, {
			            name: '乔',
			            data: [5, 7, 3]
			         }]
		};

		var barchart = $.od.odHcharts({id_name: 'barchart'});
		barchart.appendTo('#od_hcharts');	
		barchart.odHcharts("drawBar", option);
	

		var columnchart = $.od.odHcharts({id_name: 'columnchart'});
		columnchart.appendTo('#od_hcharts');		
		columnchart.odHcharts("drawColumn", option);

		var linechart = $.od.odHcharts({id_name: 'linechart'});
		linechart.appendTo('#od_hcharts');
		linechart.odHcharts("drawLine", option);


		var areachart = $.od.odHcharts({id_name: 'areachart'});
		areachart.appendTo('#od_hcharts');
		areachart.odHcharts("drawArea", option);

		var splinechart = $.od.odHcharts({id_name: 'splinechart'});
		splinechart.appendTo('#od_hcharts');
		splinechart.odHcharts("drawSpline", option);

		var pieoption = {
			title: {
                text: 'Browser market shares at a specific website, 2010'
            },
            series: [{
                
                // name: 'Browser share',
                data: [
                    ['Firefox',   45.0],
                    ['IE',       26.8],
                    {
                        name: 'Chrome',
                        y: 12.8,
                        sliced: true,
                        selected: true
                    },
                    ['Safari',    8.5],
                    ['Opera',     6.2],
                    ['Others',   0.7]
                ]
            }]
		};

		var piechart = $.od.odHcharts({id_name: 'piechart'});
		piechart.appendTo('#od_hcharts');
		piechart.odHcharts("drawPie", pieoption);


	});
	</script>
<% end %>

<div style='padding:1em 1em 10em 1em;'>
	
	<input type='text' />
	<textarea></textarea>

	<button id='tip' class='m10'>点击显示tip</button>

	<input type="password" id="pw" name="password" placeholder="请输入密码">

	<div id='od_btn' class='m10'></div>
	
	<div id='od_wbtn' class='m10'></div>
	
	<div id='od_icon_btn' class='m10'></div>

	<div id="my_checkbox" class='m10'></div>
	
	<div class='m10'>
		<button id='my_button'>Get value</button>
	</div>
	
	<div id="my_radio" class='m10'></div>
	
	<div id='icon_con'></div>

	<div id="btn_con"></div>
	<br />
	
	<div id="btn_group_con"></div>
	<br />
	
	<div id="dd"></div>
	<div id="dd2"></div>

	<button id='ppbutton1' class='ppbutton' style='top:467px;left:500px;position:absolute;'>上传图片</button>
	<button id='ppbutton2' class='ppbutton' style='top:467px;left:560px;position:absolute;'>上传音频</button>
	<button id='ppbutton3' class='ppbutton' style='top:467px;left:620px;position:absolute;'>上传视频</button>

	<button id='ppbutton11' class='ppbutton' style='top:567px;left:500px;position:absolute;'>上传图片2</button>
	<button id='ppbutton22' class='ppbutton' style='top:567px;left:560px;position:absolute;'>上传音频2</button>
	<button id='ppbutton33' class='ppbutton' style='top:567px;left:620px;position:absolute;'>上传视频2</button>

	<div class='m10'><button id='showA'>show myalert</button></div>
	<div class='m10'><button id='showC'>show myconfirm</button></div>

	<div class='m10'>
		<button id='wait'>waiting</button>
		<div id='waitContent' style = 'display:inline-block; width:400px; height:100px;border:2px solid blue'>测试odWaiting</div>
	</div>

	<div class='m10'>
		<button id='login'>pop login</button>
	</div>

	<div class='m10'>
		<button id='auto'>autoDisappear</button>
	</div>
	
	<div id='my_ri' class='m10'></div>
	
	<div id='my_op' class='m10'></div>

	<div id='od_libtn' class='m10'></div>

	<div id='od_pb' class='m10'></div>

	<div id='od_bmap' class='m10'></div>		

	<div id='od_geochart' class='m10'></div>

	<div id='od_hcharts' class='m10'></div>			
	<button class="od-button od-button-red">确 定</button>	
</div>
