<div class="page">
	<div class="free_describe">
		<span>
			<b>Finished!</b>
		</span>
	</div>
	<div class='free_form'>
		{{#if spreadable}}
			<button id="socal_share" class="single">Share to gain {{spread_point}} points</button>
		{{else}}
		  <button id="socal_share" class="single">Share survey</button>
		{{/if}}
	</div>	
</div>