<div class="page">
	<div class="describe">
		<div class="answer_finish">
			<b><i></i>Finished</b>
			<div>Choose one method:</div>
		</div>
	</div>
	<div class="s_type">
		<select>
			<option value="zhifubao">Transfer 10 Yuan to your Zhifubao</option>
			<option value="chongzhi">Recharge you mobile phone for 10 Yuan.</option>
		</select>
	</div>
	<div class="rew_ipt">
		<div id="zhifubao">
			<label for="zhifubao">Zhifubao account:</label><br />
			<input type="text" name="zhifubao" /><br />
			<label for="zhifubao">Confirm account:</label><br />
			<input type="text" name="confirm_zhifubao" />			
		</div>
		<div id="chongzhi">
			<label for="chongzhi">Mobile number:</label><br />
			<input type="text" name="chongzhi" /><br/>
			<label for="chongzhi">Confirm number:</label><br />
			<input type="text" name="confirm_chongzhi" />			
		</div>
	</div>
	<div class="s_control">
		<button class="rew_next" id="rew_next" >Next</button>
	</div>		
</div>


<!--
<div class="footer">
	{{#if allow_pageup}}	
	<a href="javascript:void(0)" class="prev" id="check_btn" title="返回检查答案"></a>
	{{/if}}	
	<i class="footer-divide"></i>
	{{#if show_restart}}
	<a href="javascript:void(0)" class="resume" id="restart_btn">重新答题</a>
	{{/if}}
</div>
-->

