<% content_for :head do %>
  <%= javascript_include_tag "pages/admin/statistics/show-bundle" %>
  <%= stylesheet_link_tag "pages/admin/statistics-bundle", :meida => 'all' %>  
<% end %>

<div id="canvas" class="span9">
  <h2>
    <span>样本地区分布图</span><br>
        
  </h2>
</div>
<div class="span3">
  这里是侧边栏侧边栏侧边栏~
</div>
