<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			Document
		</title>
	</head>
	<body>
		<div style="background-color: #ccc; padding: 30px;">　　 　
			<table border="0" cellpadding="40" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td>
							<table align="center" border="0" cellpadding="0" cellspacing="0" width="660"
							style="border-collapse: collapse; background-color: #fff;" bgcolor="#fff">
								<tbody>
									<tr>
										<td>
											　 　　 　 　 　 　 　 　　 　
											<table align="center" border="0" cellpadding="0" cellspacing="0" width=""
											style="border-collapse: collapse;">
												<tbody>
													<tr>
														<td>
															<a href="http://www.wenjuanba.com/carnival/campaigns" style='text-decoration: none; border:none;'><img src="<%= Rails.application.config.quillme_host + "/assets/activities/2014-6/email/header.jpg" %>" alt="" style='text-decoration: none; border:none;'></a>
														</td>
													</tr>
												</tbody>
											</table>
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
											style="border-collapse: collapse;">
												<tbody>
													<tr>
														<td colspan="3" height="20">
														</td>
													</tr>
                          <tr>
                            <td colspan="3" height="20">
                            </td>
                          </tr>
													<tr>
														<td colspan="3" height="50" style="font-size: 14px;">
															奖品列表
														</td>
													</tr>
													<tr>
														<td width="200" align="left">
															<a href="" style="width: 180px; height: 180px; display: block; text-align: center; border: 1px solid #dbdbdb;"
															target="_blank">
																<img style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none;"
																width="180" height="180" src="<%= Rails.application.config.quillme_host + "/assets/activities/2014-6/email/2.png" %>">
															</a>
														</td>
														<td width="200" align="left">
															<a href="" style="width: 180px; height: 180px; display: block; text-align: center; border: 1px solid #dbdbdb;"
															target="_blank">
																<img style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none;"
																width="180" height="180" src="<%= Rails.application.config.quillme_host + "/assets/activities/2014-6/email/1.png" %>">
															</a>
														</td>
														<td width="200" align="left">
															<a href="" style="width: 180px; height: 180px; display: block; text-align: center; border: 1px solid #dbdbdb;"
															target="_blank">
																<img style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none;"
																width="180" height="180" src="<%= Rails.application.config.quillme_host + "/assets/activities/2014-6/email/3.png" %>">
															</a>
														</td>
													</tr>
													<tr>
														<td width="200" height="30" align="left">
															<a href="http://www.mi.com/note" style="width: 180px; display: block; text-align: center; font-size: 14px;"
															target="_blank">
																红米NOTE
															</a>
														<td width="200" height="30" align="left">
															<a href="http://www.mi.com/hezis" style="width: 180px; display: block; text-align: center; font-size: 14px;"
															target="_blank">
																小米盒子
															</a>
														</td>
														</td>
														<td width="200" height="30" align="left">
															<a href="http://www.mi.com/item/1135000430" style="width: 180px; display: block; text-align: center; font-size: 14px;"
															target="_blank">
																小米电源
															</a>
														</td>
													</tr>
													<tr style="border-bottom-width: 1px; border-bottom-color: #dbdbdb; border-bottom-style: solid;">
														<td colspan="3" height="20">
														</td>
													</tr>

													<tr height="24">
														<td colspan="3" style="font-size: 16px;">
															<p style="line-height:1.5em;">
																问卷吧嘉年华重磅来袭！穿上斗篷你就是超人，闯关即送话费，还有红米note、小米盒子、小米电源等神秘大礼等你拿哟！活动名额有限，还不快来？
															</p>
															<p style="line-height:1.5em;margin-top:10px;"><b style="color:red">奖品介绍：</b>闯过第一关就送10元话费充值卡，二关、三关更是惊喜不断，连闯三关即可参与小米大奖抽奖尖叫活动。性格即命运，手快才能赢！！
																</p>	
															<p style="line-height:1.5em;margin-top:10px;">
																<b style="color:red">活动时间：</b>2014.6.1 - 2014.7.1

															</p>
														</td>
													</tr>
												
													<tr style="border-bottom-width: 1px; border-bottom-color: #dbdbdb; border-bottom-style: solid;">
														<td colspan="3" height="20">
														</td>
													</tr>
													
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>

</html>