<% content_for :head do %>
  <%= javascript_include_tag "pages/account/profile_find_password_quill"%>
<% end %>
	<!--找回密码 开始 -->
<div class="find-password">
	<div class="blackbg left"></div>
	<div class="blackbg-content">
		<div class="content-top">
			<a href="/login" class="od-close3-btn r mt20 mr15" title="关闭"></a>
			<h3 class="title g9 b f16">找回密码</h2>
			<p class="g9"><b class="b">OopsData!</b> 将向您的注册邮件发送找回密码的信息</p>
			<form class="mt20">
                <input type="text" class="mail_address l" value="请输入您的注册邮箱">
                <button class="od-button l ml10"><em class="btn-bg-l"></em><b class="btn-bg-c">发 送</b><em class="btn-bg-r"></em></button>            
            </form>
            <p class="g9 pwd-info pwd-success cl pt10 dn"><b class="b">OopsData!</b> 已发送邮件至<b class="b user-email">iamnat@126.com</b></p>
            <p class="g9 pwd-info pwd-error cl pt10 dn"><b class="b">OopsData!</b> 未能成功发送邮件至<b class="b user-email">iamnat@126.com</b>，请再次确认邮件是否正确并重新发送。</p>
		</div>
		<div class="content-bottom">
			<a id="login-btn-s" class="r" href="<%=signin_path %>">登 录</a>
		</div>
	</div>
	<div class="blackbg right"></div>
</div>


