<div class='survey-editor'>
	<div class='s-title'>
		<div class='t-top'></div>
		<div class='t-mid'>
			<div class='s-title-preview'>{{title}}</div>
			<div class='s-title-con'>
				<input type='text' value='{{title}}' />
				<button class='od-button ok'>确 定</button>
				<button class='od-button od-button-white cancel'>取 消</button>
			</div>
		</div>
		<div class='t-bottom'></div>
		<div class='t-btns'></div>
	</div>
	<div class='s-no-question'>
		<h1>您尚未添加任何题目，请点击左侧或下方按钮添加问题。</h1>
		<p>
			<!-- <button t='Paragraph' class='od-button'>添加文本段</button> -->
			<button t='Choice' class='od-button'>添加一道选择题</button>
			<!-- <button t='TextBlank' class='od-button'>添加填充题</button> -->
		</p>
	</div>
	<div class='s-pages'>
	</div>
</div>