<div class="page">
	<div class="describe">
		<span>
			感谢您参加本次调研。我们正在审核您所提交的答卷，整个过程大概需要 24 小时，请耐心等候。

			{{#if reward_point}}
			<br />审核通过后，您将获得 {{point}} 积分奖励。
			{{/if}}

			{{#if reward_lottery}}
			<br />审核通过后，我们会将<a href="/lotteries/{{lottery_id}}">{{{lottery_title}}}</a>的抽奖号码及抽奖方式发送至您的邮箱。
			{{/if}}
		</span>
	</div>
</div>
<div class="footer">
	<i class="footer-divide"></i>
	<a href="javascript:void(0)" class="next" id="close_btn">关闭窗口</a>
	{{#if show_restart}}
	<a href="javascript:void(0)" class="resume" id="restart_btn">重新答题</a>
	{{/if}}
</div>