<div class="page">
	<div class="free_describe">
		<span>
			<b>答题完成啦！</b>
		</span>
	</div>
	<div class='free_form'>
		{{#if spreadable}}
			<button id="socal_share">分享问卷得{{spread_point}}积分</button>
		{{else}}
		  <button id="socal_share">分享问卷</button>
		{{/if}}	
		
		<button id='close_btn'>关闭窗口</button>
	</div>	
</div>