<div class="page">
	<div class="free_describe">
		<div class="answer_finish">
			<b><i></i>答题完成啦！</b>
			<div>恭喜您获得了{{reward_point}}积分，我们会在审核后将积分发放到您的账户</div>
		</div>
	</div>
	<div class="free_form">
    {{#if signin}}
		  <button class="rew_next" id="rew_next" >查看积分记录</button>
    {{else}}
      <button class="rew_next" id="rew_next" >登录领取</button>
    {{/if}}
    {{#if spreadable}}
      <button id="socal_share">分享得{{spread_point}}积分</button>
    {{else}}
      <button id="socal_share">分享问卷</button>
    {{/if}}
	</div>		
</div>