<div class='media-{{size}} media-type-{{type}}'>
	<img class='media-preview' src="{{url}}" />
	<div class='media-hover'><em class='media-action-normal' /><em class='media-action-hover' /></div>
</div>