<% content_for :head do %>
	<%= javascript_include_tag "pages/account/password_reset_quill-bundle" %>
<% end %>
<div class="reset">
	<h1>修改密码</h1>
	<div id='input_con'>
		<span>请输入两次新密码：</span>
		<p>
			<em class="icon icon-i"></em>
			<input type="password" id="password_ipt" name="password" placeholder="新密码"/>
		</p>
		<p>
			<em class="icon icon-o"></em>
			<input type="password" id="password_confirmation_ipt" name="password_repeat" placeholder="重复密码" />
		</p>	
		<button id='ok_btn' class="od-button" style='width: 100%;'>修改密码</button>
		<p>
			<span id='error' class="error-prompt" style='display:none;'>
				<span class="error-prompt-t"></span><!-- 
				 --><span class="error-prompt-txt">a</span><!-- 
				 --><a href="javascript:void(0);" class="close-error"></a><!-- 
				 --><span class="error-prompt-r"></span>
			</span>
		</p>
	</div>
	<span id='success' style='display:none; line-height: 1.8em; color:#f5c000'>修改密码成功，请用新密码 <a href="<%= signin_path %>">登录</a> 系统。</span>
</div>