//=require ui/widgets/od_address_selector_mobile
//=require ui/widgets/od_popup
//=require jquery.fancybox
//=require jquery.colorbox

@import "common";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/utilities/general/clearfix";
@import "od-button/*.png";
@import "od-mobile/*.png";
html,body{
	height:100%;
}
#f_body{
	height:100%;
	.page{
		min-height:-moz-calc(100% - 50px);
		min-height:-webkit-calc(100% - 50px);
		min-height: calc(100% - 50px);
		&.true{
			height:100%;	
		}
		
		.describe{
			height:100%;
		}
	}
}

.spread{
	top:-2000px;
	// width:100%;
	left:0;
	right:0;
	// height:50%; 
	min-height: 50%;
	max-height: 100%;
	position: fixed;  
	z-index: 1000;   
	overflow: hidden;  
	background-color: #fff;
	color:#000;
	border:2px solid #000; 
	.s_icon{
		width:100%;
		height:70%;
		position:relative;
		.share_top{
			width: 70%;
			position:relative;
			// height: 100%;
			margin: 0 auto;
			ul{
				height:32px;
				position:relative;
				li{
					position:absolute;
				}
				li.l{
					left:0;
				}
				li.c{
					left:45%;
				}
				li.r{
					right:0;
				}
			}

		}

	}
	.describe-txt{
		max-height:56px;
		min-height:28px;
		width:100%;
		position: absolute;
		bottom: 0px;		
		background: #F7F7F8;
		em{
			color:#ff6600;
		}
		> div {
			text-align: center;
			width:70%;
			margin:0 auto;
		}
	}
}

strong{
	font-weight: bold;
}
a{
	text-decoration: underline;
}
body{
	font-size: 14px;
	line-height: 2em;
}
input[type="text"]{
	margin-bottom:10px;
	padding:2%;
	background:#F7F7F8;
	@include border-radius(6px);
	&:focus{background: -webkit-gradient(linear, left top, left bottom, from(#C3C3C3), to(#F7F7F8), color-stop(0.1, #F7F7F8));}
}
textarea{
	padding:2%;
	background:#F7F7F8;
	@include border-radius(6px);
	&:focus{background: -webkit-gradient(linear, left top, left bottom, from(#C3C3C3), to(#F7F7F8), color-stop(0.03, #F7F7F8));}
}
.title{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	background: #141414;
	padding:14px;
}
.page{
	width:90%;
	margin:0 auto;
	min-height: 366px;
	&.true{
		width:100%;
	}
}
.share-direc{
	display:none;
	width:90%;
	height:100%;
	position:absolute;
	top:0;
	right:5%;
	background:#000;
	opacity:0.8;
	img{
		width:100%;
	}
}
.length-desc{
	text-align:center;
	margin-top:10px;
	font-size:18pt;
	color:#fff;
}
.qrcode{
	margin-top:10px;
	img{
		width:100%;
	}
}
/*进度条*/
.progress{
	height:8px;
	background: #5A5A5A;
	position: relative;
	em{
		height:8px;
		@include inline-block;
		background: #FBC919;
		position: absolute;
		left:0;
		top:0;
	}
	.progress-number{
		position: absolute;
		right:10px;
		top:-25px;
		float: right;
		color: #fff;
		font-weight: bold;
		font-size: 12px;
	}
}
/*描述*/
.describe{
	background: #F7F7F8;
	text-indent: 2em;
	border-bottom:1px #ccc dotted;
	margin-bottom:15px;
	padding:15px;
	@include clearfix;
	.describe-txt{text-indent: 0;}
	.answer_finish{
		text-align: center;
		b{
			font-size:16px;
			i{
				display:inline-block;
				vertical-align: middle;
				width:20px;
				height:20px;
				background: url('/assets/od-quillme/success.png')
			}
		}
	}
	&.wechart{
		background:#c6373d;
		min-height: inherit;
		margin-bottom:0px;
		img{
			display: block;
			margin:0 auto;
		}
		b{
			color:#fff;
		}
		.amount{
			color:#f9e452;
			padding:10px 0px;
			font-size:12pt;
			span{
				font-size:18pt;
			}
		}
		a{
			display:block;
			background:#f9e452;
			color:#337ab7;
			font-size:14pt;
			text-decoration: none;
			height:40px;
			line-height:40px;
			@include border-radius(3px);
		}		
	}
}

.free_describe{
	text-align: center;
	background: #F7F7F8;
	text-indent: 2em;
	border-bottom:1px #ccc dotted;
	margin-bottom:15px;
	padding:15px;
	@include clearfix;	
}

.free_form{
	text-align: center;
	button{
		color: #fff;
		display: inline-block;
		margin-top:20px;
		height: 54px;
		line-height: 54px;
		vertical-align: middle;
		font-size: 16px;
		font-weight: bold;
		background: #5691f0;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		cursor: pointer;
		border: none;
		width: 40%;
		&.single{
			width:100%;
		}
	}
}


.s_type{
	text-align: center;
}
.s_control{
	button,a{
		color: #fff;
		display: block;
		margin: 20px auto 40px auto;
		height: 54px;
		line-height: 54px;
		vertical-align: middle;
		font-size: 16px;
		font-weight: bold;
		background: #5691f0;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		cursor: pointer;
		border: none;
		width: 100%;
		text-align:center;
	}
}

.order_finish{
	background: #F7F7F8;
	text-align:center;
	> div {
		margin-bottom:10px;
	}
}

.share{
	text-align: center;
	button{
		color: #fff;
		display: inline-block;
		margin-top:20px;
		height: 54px;
		line-height: 54px;
		vertical-align: middle;
		font-size: 16px;
		font-weight: bold;
		background: #5691f0;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		cursor: pointer;
		border: none;
		width: 40%;
	}

}

.rew_ipt{
	> div{
		display:none;
		margin: 0px auto;
		display: block;
		width: 100%;
		input{
			width:96%;
		}		
	}
}

.q-idx{
	float: left;
	margin-left:-10px;	
	margin-right:10px;
	background: #404040;
	@include border-right-radius(5px);
	text-align: center;
	color: #fff;
	padding:0 6px;
	font-weight: bold;
}
.q-info{
	font-size: 12px;
	color: #999;
}
.q-filler {
	padding:15px 10px;
	.q-required, .q-error {color:red;}
}
.q-content{
	margin-top:10px;
	.bg{
		display: block;
		@include border-radius(20px);
		padding:4px 15px 4px 15px;
		@include clearfix;
		.sort-item{
			input[type="text"]{
				width:40%;
			}
		}
		.divide{
			height:23px;
			width:1px;
			border-left:1px #BEBEBE solid;
			border-right:1px #fff solid;
			margin:3px 10px 0 10px;
			float: right;
		}
		.top-btn,.bottom-btn{
			width:35px;
			height:23px;
			margin-top:3px;
			float: right;
			cursor:default;
		}
		.top-btn{
			@include od-button-sprite(top);
		 }
		.bottom-btn{
			@include od-button-sprite(bottom);
		 }
		.idx{
			font-weight: bold;
			margin-right:10px;
			float: left;
		}
		.max {color:#CCCCCC;}
		.sort-btn{
			display: block;
			width:96px;
			height:26px;
			float: right;
		}
	}
	.other{
		// margin-left:5px;
		.cs_other{
			margin-top:4px;
			width:30%;
		}
	}
	.other-txt{
		margin-left:5px;
		width:45%;
	}
	.bea{background:#EAEAEA;}
	.grade{
		font-weight: bold;
		input{
			width:50px;
			margin-right:5px;
		}
	}
	.yellow-txt{color:#FBB140;}
}
/*错误背景*/
.error{background: #FEF0B5;}
/*单行文本框*/
.txt-uniline{
	width:96%;
	margin-bottom:10px;
}

/*多行文本框*/
.txt-Multiline{
	width:96%;
	height:130px;
	resize: none;
}
/*副标题*/
.subhead{
	margin-left:5%;
}
.opt-guide{
	display:inline-block;
	margin-left:5%;
}
.opt-info{
	display:inline-block;
	margin-left:5%;
}
/*分割线*/
.q-divide{
	width:100%;
	height:1px;
	@include inline-block;
	border-top:1px #ccc solid;
}
/*下拉菜单*/
select{
	width:100%;
	padding:2%;
	margin-bottom:10px;
}
/*图片*/
.img-content{
	@include clearfix;
}
.img-box{
	background:#fff;
	padding:3px;
	@include single-box-shadow;
	width:100px;
	height:70px;
	float: left;
	margin:15px;
	img{
		display: block;
		width:100px;
		height:70px;
	}
}
.media-preview-con {
	min-height: 105px;
	@include clearfix;
}
.footer{
	height:50px;
	background: #141414;
	.prev{
		float: left;
		width:30px;
		height:37px;
		margin-left:25px;
		margin-top:5px;
		@include inline-block;
	 	@include od-button-sprite(m_prev);	
	}
	.prev.disabled,
	.prev[disabled] {
		@include od-button-sprite(m_prev_disabled);	
	}
	.footer-divide{
		float: left;
		width:1px;
		height:40px;
		border-right:1px #2B2B2B solid;
		border-left:1px #080809 solid;
		margin:0 20px;
		margin-top:10px;
	}
	.next{
		float: left;
		padding:0 15px;
		@include one-line(28px);
		background: #FCCA19;
		font-weight: bold;
		font-size: 16px;
		@include border-radius(4px);
		text-align: center;
		margin-top:12px;
		text-decoration: none;
		&:active{
			background: #FFBC17;
			border-color:#FFA63F;
		}
		&[disabled], &[disabled]:hover, &[disabled]:active {
			background: #ccc;
			border-color: #bbb;
			cursor: default;
		}		
	}
	.newanswer-btn,.signout-btn{
		border:0px;
		float: right;
		padding:0 15px;
		@include one-line(28px);
		background: #FCCA19;
		font-weight: bold;
		font-size: 16px;
		@include border-radius(4px);
		text-align: center;
		margin-top:12px;
		margin-right:10px;
		text-decoration: none;		
	}
	.resume{
		float: right;
		color: #999;
		margin:12px 20px 0 0;
		&:active{color:#999;}
		text-decoration: none;
	}
}


/*填写完成*/
.yellow-txt{color:#FBB140;}
.finished-page{
	@include clearfix;
	padding:15px;
}
.edit-finish{
	width:100%;
	display: block;
	text-align: center;
	background: #5691f0;
	padding:7px 0;
	margin:15px 0;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	@include border-radius(4px);
	&:active{
		background: #FFBC17;
		border-color:#FFA63F;
	}
}
.edit-finish.disabled,
.edit-finish[disabled] {
  border:1px #9B9C9F solid;
  cursor: default;
  background-image: none;
  background: #E9EAEA;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color:#999;
  text-decoration: none;
}

/******************************************自响应布局************************************************/
@media screen and (max-width:320px){
	.other{
		input[type="text"]{
			width:20%;
		}
	}
	.spread{
		min-height: 40%;
	}
}
@media screen and (max-width:240px){
	.bg{
		.sort-item{
			input[type="text"]{
				width:20%;
			}
		}
	}
	.other{
		input[type="text"]{
			width:20%;
		}
	}
	.top-btn,.bottom-btn{
		width:26px;
		height:17px;
		margin-top:6px;
		float: right;
		cursor:default;
	}
	.top-btn{@include od-button-sprite(top_s);}
	.bottom-btn{@include od-button-sprite(bottom_s);}
	.footer{
		.prev{
			float: left;
			width:24px;
			height:30px;
			margin-left:15px;
			margin-top:10px;
			@include inline-block;
		 	@include od-button-sprite(m_prevs);	
		}
		.prev.disabled,
		.prev[disabled] {
			@include od-button-sprite(m_prevs_disabled);	
		}
		.footer-divide{margin:0 10px;}
	}	
}
@media screen and (max-width:240px){
	.sort_other{width:20%;}
	.q-content{
		.grade{
			font-weight: bold;
			input{
				width:40px;
				margin-right:5px;
			}
		}
		.other-txt{
			width:30%;
		}
	}
	.share-link{
		width:56%;
		margin-right:5%
	}
	.copy-link{
		width:30%;
		font-size: 12px;
	}
}
@media screen and (max-height:240px){
	.spread{
		min-height: 60%;
	}
	.top-btn,.bottom-btn{
		width:26px;
		height:17px;
		margin-top:6px;
		float: right;
		cursor:default;
	}
	.top-btn{@include od-button-sprite(top_s);}
	.bottom-btn{@include od-button-sprite(bottom_s);}
	.footer{
		.prev{
			float: left;
			width:24px;
			height:30px;
			margin-left:15px;
			margin-top:10px;
			@include inline-block;
		 	@include od-button-sprite(m_prevs);	
		}
		.prev.disabled,
		.prev[disabled] {
			@include od-button-sprite(m_prevs_disabled);	
		}
		.footer-divide{margin:0 10px;}
	}
	.copy-link{
		font-size: 12px;
	}
}
