//=require ui/widgets/od_popup

@import "common";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
strong{
	font-weight: bold;
}
a{
	text-decoration: underline;
}
body{
	font-size: 14px;
	line-height: 2em;
}
.page{
	width:90%;
	margin:0 auto;
}
.title{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	background: #141414;
	padding:14px;
}
.describe{
	background: #F7F7F8;
	text-indent: 2em;
	// border-bottom:1px #ccc dotted;
	margin:15px 0;
	padding-bottom:15px;
}
.gift-time{
	.tip{
		color: #999;
	}
}
.login-panel{
	input{
		width:94%;
		font-size: 16px;
		padding:3%;
		margin-top:10px;
		&:focus{
			background: -webkit-gradient(linear, left top, left bottom, from(#C3C3C3), to(#F7F7F8), color-stop(0.1, #F7F7F8));
		}
	}
	a.btn{
		width:100%;
		display: block;
		text-align: center;
		background: #FCCA19;
		border:1px #FBB140 solid;
		padding:7px 0;
		margin:15px 0;
		font-weight: bold;
		font-size: 16px;
		text-decoration: none;
		@include border-radius(4px);
		&:active{
			background: #FFBC17;
			border-color:#FFA63F;
		}
	}
	a.disabled,
	a[disabled] {
	  border:1px #9B9C9F solid;
	  cursor: default;
	  background-image: none;
	  	background: #E9EAEA;
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	  color:#999;
	  text-decoration: none;
	}
	p.tip{
		width:100%;
		height:28px;
		margin-bottom: 10px;
		> span{
			display:inline-block;
			width:49%;
			text-align:center;
			background: #F7F7F8;
		}
		span.fl{
			float:left;
			#left_time{
				margin-left: .5em;
			}			
		}
		span.fr{
			float:right;
			#reward_info{
				margin-left:.5em;
				color:#ff6600;
			}
		}		
	}
	.rtype{
		margin:20px 0px;
	}
	.type_info{
		overflow: hidden;
		width:inherit;
		height:auto;
		> div {
			width:30%;
			text-align: center;
			height:auto;
			display:inline-block;
			float:left;
			img{
				height:auto;
				width:inherit;
				border:1px solid black;
			}			
		}
		> div.r_cash{
			width:50%;
		}
		> div.slideBox{
			width:100%;
			height:auto;
			position: relative;
			overflow:hidden;
			.bd{
				list-style:none;
				 position:relative; 
				 height:100%; 
				 z-index:0; 
				 li{
				 	zoom:1; 
				 	vertical-align:middle;
				 	img{
				 		width:50%;
				 		height:auto;
				 	}
				 }
			}
			.prev,.next{
				position:absolute; 
				left:3%; top:50%; 
				margin-top:-25px; 
				display:block; 
				width:36px; 
				height:36px; 
				background:url(/assets/od-quillme/prev_s.png) no-repeat; 
				filter:alpha(opacity=50);opacity:0.5;   
			}
			.next{
				 left:auto; 
				 right:3%;
				 background:url(/assets/od-quillme/next_s.png) 
				 // background-position:8px 5px;
			}
			.prevStop{ 
				display:none;  
			}
			.nextStop{ 
				display:none;  
			}
		}
	}
}




.copyright{
	font-size: 12px;
	color: #999;
	text-align: right;
	margin-top:40px;
}
.yellow-txt{color:#FBB140;}
.error{color:red;}