<div class='address-slt'>
	<select class='address-province'><option value='-1'>- 加载中 -</option></select>
	<select class='address-city'><option value='-1'>- 加载中 -</option></select>
	<select class='address-town'><option value='-1'>- 加载中 -</option></select>
	<input type='text' class='address-detail' placeholder="（详细地址）" />
	<input type='text' class='address-postcode' placeholder="（邮编）" />
</div>