<div class='od-item'>
	<em class="drag-btn {{#if hideDrag}}drag-btn-hide{{/if}}"></em><!-- 
	--><div></div><!-- 
	-->{{#if hideRemove}} {{else}}<button class="close-btn close-btn-hide" title="删除"></button>{{/if}}
</div>