<div id="od_login" class="m10">
<button class="btn_close3 r mt5 mr5" title="关闭"></button>
	<div class="od_login_top">
		<div class="logo"></div>
		<p class="rel">
			<em class="icon icon-mail l"></em>
			<input type="text" id="userName" name="userName" placeholder="请输入登录邮箱" />
		</p>
		<p class="rel mt10">
			<em class="icon icon-i l"></em>
			<input type="password" id="password" name="password" placeholder="请输入密码" />
		</p>
		<p class="warning red-txt mt10 f12">{{message}}</p>
		<p class="pw-checkBtn white-txt mt10">
			<label for="remember-pw">
				<input type="checkbox" name="remember-pw" id="remember-pw" />记住密码
			</label>
			<a href="/password/find" class="forget-password white-txt">忘记密码</a>
			<button class="od-button login">登 录</button>
		</p>
	</div>
	<div class="od_login_bottom">
		<a href="/signup" class="register">注 册</a><span class="interval-line">|</span>
		<ul class="other-login">
			<li class="l"><a class="other-login-icon icon-sina" href="javascript:void(0);"></a></li>
			<li class="l"><a class="other-login-icon icon-tencent" href="javascript:void(0);"></a></li>
			<li class="l"><a class="other-login-icon icon-qq" href="javascript:void(0);"></a></li>
			<li class="l"><a class="other-login-icon icon-renren" href="javascript:void(0);"></a></li>
			<li class="l"><a class="other-login-icon icon-kaixin001" href="javascript:void(0);"></a></li>
		</ul>
		<a href="/signin" class="more">更多</a>
	</div>
</div>