<div class="od-uploadtip">
	<div class="layer_bg">
		<div class="layer_main">
			<div class="popup_panel be5">
				<ul class="toggle-btn">
					<li class="toggle-btn-y-l toggle">
						<button title="本地" class="active"><em class="font_bendi"></em></button>
					</li>
					<li class="toggle-btn-y-r toggle">
						<button title="链接"><em class="font_lianjie"></em></button>
					</li>
				</ul>
				<button class="btn_close2 r mt5 mr5" title="关闭"></button>
			</div>
			<div class="popup_content">
				<div class="localMedia">
					<div class="popup_show">
						<div class="upload_type"></div>
						<div class="first-line">
							<div class="buttonStyle" id="button{{type}}">
								<span id="spanButtonPlaceHolder{{type}}"></span>
								<div class="temp-button"></div>
								<div class="add-font"></div>
							</div>

						</div>
						<div class="second-line">
												
						</div>
						<div class="pagination">
							<span class="firstPage" style="display:none"></span>
							<span class="previous pre" title="上一页"></span>
							<span class="current"></span>
							<span class="total"></span>						
							<span class="next nx" title="下一页"></span>
						</div>
					</div>
					<div class="dashed-line"></div>
					<div class="chosen-video">
						<div class="chosen-show">
							<div class="f-title">
								<span>上传文件</span>
								<div class="title-div"></div>
							</div>
							<button class='od-button finish-btn'>确定</button>
						</div>
						<div class="upload-bar">
							<div id="fsUploadProgress{{type}}" class="fsUpload">
							</div>
						</div>
					</div>
				</div>
				<div class="internetMedia">
					<div class="upload_type">链接{{title}}</div>
					<div class="link-container"></div>
				
					<div >
						<input class="link_address" type="text" />
						<button class='od-button btn_linkOk'>确定</button>
					</div>
					<form class='cl'></form>
				</div>
			</div>
		</div>
	</div>
</div>