<div class='od-progress'>
	<span class='od-progress-back' style='width: {{back_width}}px'><div class='od-progress-front' style='width: {{front_width}}px'></div></span>
	<b class='od-progress-value' style='color: {{color}}'></b>
</div>