<div class="od-popup">
    <div class="layer_bg">
        <div class="layer_main blackBorder"><!-- redBorder -->
            <div class="popup_panel blackBg"><!-- redBg --> 
                <h1 class="l ml5 blackTxt">{{title}}</h1> <!-- whiteTxt -->
                <button class="close btn_close2 r mt5 mr5" title="关闭"></button>
            </div>
            <div class="popup_content">
                
            </div>
        </div>
    </div>
</div>