<div class='od-rich-input'>
	{{#if multiline}}
	<textarea></textarea>
	{{else}}
	<input type="text" />
	{{/if}}
	<div class='od-rich-input-btns'>
		<button class="image-btn"></button>
		<button class="video-btn"></button>
		<button class="audio-btn"></button>
	</div>
</div>