<div>
	<div id="s_survey" style="display:none;">
		<div class="share_cont">
			<h1>推广问卷</h1>
			<div class="share_tit" style="display:none;">
				成功邀请1人参与答题，即可获得<span><span class="p_num">200</span>积分</span>！
			</div>
			<div class="method">方法一：推广到这些渠道</div>
				<div class="weibo">
					<a href="javascript:void(0);" class="SinaWeibo" ><img 	src="/assets/image/sample/sina.png" width="20" height="20" /></a>
					<a href="javascript:void(0);" class="TencentWeibo"><img 	src="/assets/image/sample/tecent.png" width="20" height="20" /></a>
					<a href="javascript:void(0);" class="Douban"><img 	src="/assets/image/sample/dou.png" width="20" height="20" /></a>
					<!-- <a href="javascript:void(0);"><img src="/assets/image/sample/sou.png" 	width="20" height="20" /></a> -->
				</div>
				<div class="method second">方法二：复制链接推广到论坛、QQ、贴吧等</div>
				<input type="text" class="share_url" id="s_url"/><button id="c_survey">复 制</button>
				<div class="share-notice">
					<i></i>
					<span>复制成功,您可以按住键盘ctrl + v 在需要的地方进行粘贴</span>
				</div>
		</div>
	</div>
	
	
	<div id="share_survey" style="display:none;">
		<div class="share_l">
			<h2>登录分享才可以获得积分哦!<a href="/account/sign_up">立即注册</a></h2>
			<div class="share_point" style="display:none;"></div>
			<div class="form">
				<div class="err_notice"></div>
				<div>
					<label for="username" class="for_in">用户名:</label>
					<input type="text" name="username" id="username" />
				</div>
				<div class="pass">
					<label for="password" class="for_in">密  码:</label>
					<input type="password" name="password" id="password" />
				</div>
				<div class="ano">
					<input type="checkbox" name="remember" id="remember" />
					<label for="remember" class="rem">记住我</label>
					<a href="/account/forget_password">忘记密码? </a>
					<div style="clear:both;"></div>
				</div>			
				<div>
					<button class="share_s_btn"><span>登</span>录</button>
				</div>									
			</div>
		</div>
	      
		<div class="share_m"></div>
		<div class="share_bor">
			<h2>不登录,免费分享!</h2>
			<div class="method">方法一：推广到这些渠道</div>
				<div class="weibo">
					<a href="javascript:void(0);" class="SinaWeibo"><img 	src="/assets/image/sample/sina.png" width="20" height="20" /></a>
					<a href="javascript:void(0);" class="TencentWeibo"><img 	src="/assets/image/sample/tecent.png" width="20" height="20" /></a>
					<a href="javascript:void(0);" class="Douban"><img 	src="/assets/image/sample/dou.png" width="20" height="20" /></a>
					<!-- 
					<a href="javascript:void(0);"><img src="/assets/image/sample/sou.png" 	width="20" height="20" /></a> -->
				</div>
				<div class="method second">方法二：复制链接推广到论坛、QQ、贴吧等</div>
				<input type="text" class="share_url" id="survey_url"/><button id="copy_survey">复 	制</button>
				<div class="share-notice" style="display:none;">
					<i></i>
					<span>复制成功,您可以按住键盘ctrl + v 在需要的地方进行粘贴</span>
				</div>
		</div>
	</div>
</div>	