<button class="od-white-button">
	<em class="op-white-btn-l"></em><b class="op-white-btn-c">{{#if icon}}<em class="icon od-icon-{{icon}}"></em>{{/if}}<span>{{text}}</span></b><em class="op-white-btn-r"></em>
</button>