<% content_for :head do %>
	<script type="text/javascript">
		window.l_prizes = <%= raw @lottery["prizes"].to_json %>
	</script>
<% end %>
<div class="title"><h5>编辑抽奖活动</h5></div>
<%= render "form" %>

<% content_for :foot do %>
	<%= javascript_include_tag "pages/admin/lotteries-bundle" %>
<% end %>