<!-- content for head -->
<% content_for :head do %>
	<%= javascript_include_tag "pages/admin/lottery_index-bundle" %>
	<%= stylesheet_link_tag "pages/admin/lotteries-bundle", :media => "all" %>
<% end %>

<!-- put html code below -->

<div>
	<%= notice_auto %>
	<div class="title"><h5>抽奖活动管理</h5></div>
	<div class="widget first">
    <div class="head"><h5 class="iFrames">抽奖活动列表</h5></div>
    <div>
  		<%= render "lotteries" %>
  	</div>
  </div>
</div>