<!-- content for head -->

<div class="main inner-page">
	<div class="content-account-box redBorder">
		<h3 class="content-left-title whiteTxt f14 b redBg">兑换礼品</h3>
		<div class='help-con'>
			<h2 id='rule'>礼品兑换规则</h2>
			<ol>
				<li>通过积分兑换礼品。</li>
				<li>兑换礼品后会扣除相应的积分。</li>
				<li>选择礼品后提交您的配送信息，以便我们配送奖品。</li>
			</ol>
			<h3>礼品包括以下3种：</h3>				
			<h4>实物礼品：各类精心挑选的礼物，如装饰品、玩具、首饰、电子产品等；</h4>
			<h4>现金红包：面值不等的现金大礼包；</h4>	
			<h4>虚拟礼品：如手机充值卡、Q币、游戏点卡、电影票兑换券等。</h4>
			<h4>根据您的积分和需要自行选择。</h4>

			<h2 id='flow'>礼品兑换流程</h2>
			<ol>
				<li>当您拥有一定积分后，点击标题栏“礼品兑换”的“礼品列表”，进入礼品兑换页面；</li>
				<li>选择礼品，并提交礼品订单，系统会从您的账户中扣除相应积分；</li>
				<li>点击“礼品兑换”的“我的订单”按钮，可查看您的礼品订单；</li>
				<li>管理员审核礼品订单；</li>
				<li>如果订单被拒绝，相应积分将退回您的账户，并给出拒绝理由；</li>
				<li>如果订单被通过审核，我们会在第一时间为你配送礼品，虚拟礼品直接发送至您的手机号，实物礼品通过快递的方式配送至您所提供的地址，现金红包将转账至您的个人账户。</li>
			</ol>

			<h2 id='qualification'>礼品兑换资格</h2>
			<h3>通过您的积分来兑换礼品。</h3>
		</div>
	</div>
</div>

