<!-- content for head -->
<div class="main inner-page">
	<div class="content-account-box redBorder">
		<h3 class="content-left-title whiteTxt f14 b redBg">积分规则</h3>
		<div class='help-con'>
			<h2 id='reward'>积分的作用</h2>
			<ol>
				<li>积分可以直接兑换实物礼品、现金红包、虚拟礼品；</li>
				<li>积分可在“抽奖列表”里兑换抽奖号，进行抽奖。</li>
			</ol>
			<h2 id='get_reward'>如何获得积分</h2>
			<ol>
				<li>参加积分类型的问卷调查（回答积分调研区的问卷，获得积分）</li>
				<li>推荐好友填写问卷</li>
				<li>通过介绍好友加入<%= corp_name %>社区。您只需要点击标题栏的“我的好友”，进入好友推荐页面，将我们的网站推荐给您的好友，就可以获得更多积分，兑换更多礼品和抽奖机会。</li>
			</ol>
		</div>
	</div>
</div>

