<!-- content for head -->
<div class="main inner-page">
	<div class="content-account-box redBorder">
		<h3 class="content-left-title whiteTxt f14 b redBg">参加调研</h3>
		<div class='help-con'>
			<h2>调研类型</h2>
			<h3>您可参与的调研问卷</h3>
			<p>登录后，点击标题栏“我的调研”的“调查列表”按钮，进入您可参与的问卷调研专区。</p>
			<h3>问卷的三种调研专区</h3>
			<p>在“调研列表”页，我们的调研分为“抽奖调研”、“积分调研”、“免费调研”三个专区，您可以参加3种形式的问卷调研。</p>
			<h3>三种调研专区详解</h3>
			<h4 id='lottery_survey'>抽奖调研专区</h4>
			<p>该专区显示您可回答的抽奖问卷的列表。回答此类问卷您将获得某个抽奖活动的抽奖号，在规定的开奖期间可通过抽奖号进行抽奖。</p>
			<h4 id='point_survey'>积分调研专区</h4>
			<p>该专区显示您可回答的积分问卷的列表。回答此类问卷您可以获得积分奖励。</p>
			<h4 id='free_survey'>免费调研专区</h4>
			<p>此专区的问卷为公益型问卷，您可以根据自己的喜好回答问卷，贡献您的观点。</p>
		
			<h2 id='spread'>推广调研</h2>
			<h3>推广调研专区</h3>
			<p>登录后，点击标题栏“我的调研”的“推广调研”按钮，进入推广调研专区。此专区内显示您可推广的问卷链接。</p>
			<h3>推广调研的方法</h3>
			<p>将“推广调研专区”内的问卷所对应的链接分享给好友，推荐好友参加问卷调查。</p>
			<h3>推广调研的奖励</h3>
			<p>每成功推荐一位好友答题，您将获得相应“积分”的奖励。推荐越多，获得的奖励越多。</p>
		</div>
	</div>
</div>