@import "od-quillme/icons/*.png";
.share_cont{
  width:488px;
  height:220px;
  padding-left:22px;
	@include border-radius(4px);
  h1{
    color:#333;
    margin:15px 0px;  
    font-size: 16px;
  }
  .share_tit{
    width:460px;
	@include one-line(24px);
    background:#fff7eb;
    text-align:center;
    span{
      color:#ed1818;  
    }    
  }
  .weibo a{
    margin-right:10px;
  }
  .method{
    color:#999;
    font-size: 14px;
    margin:20px 0px 12px 0px;
  }
  input{
    width:360px;
    height:24px;
    padding:3px 4px 2px 4px;
    float:left;  
  }
  button{
    width:66px;
    height:32px;
	@include one-line(31px);
    background:#f14646;
    border:0px;
    margin-left:10px;
    font-size: 14px;
    color:#fff;
    cursor:pointer;        
    @include border-radius(4px);
    &:hover, &.hover{
    	background:$red1;
    }
    &:active, &.active{
		background:#d93631;
    }	              
  }
  .share-notice{
  	display:none;
  	margin-top:10px;
  	i{
  		float: left;
		display: inline-block;
		width: 20px;
		height: 20px;
		background: url(/assets/od-quillme/success.png) no-repeat;
  	}
  	span{
  		height:20px;
  		line-height:20px;
  		color:#666;
  	}
  }    
}


#share_survey{
	width:820px;
	height:auto;
	.share_l{
		float:left;
		margin:20px 0px 20px 20px;
		width:340px;
		h2{
			color:#666;
			font-size:14px;
			font-weight:bold;
			a{	
				margin-left:10px;
				color:#65ADF1;
				font-size: 14px;
			}
		}

		div.form{
			position:relative;
			color:#B3B3B3;
			margin-top:20px;
			.err_notice{
				border: 1px solid #f47474;
				text-align: center;
				font-size: 14px;
				left: 73px;
				display:none;
				color:#ec1717;
				height:30px;
  			  	background:#fff7eb;
  			  	line-height:30px;
				position:absolute;
				width: 228px;
				@include border-radius(4px);
				i{
					margin-right: 4px;
					top: 4px;
					position: relative;
					display:inline-block;
					width:20px;
					height:20px;
					background: image-url('/assets/od-quillme/faild.png') no-repeat;
				}
				span{
					height:20px;
					line-height:20px;
					a{
						color: #65ADF1;
					}
				}
			}
			input#remember{
				float:left;
				padding:0px;
				width: 14px;
				height: 14px;
				border: 1px solid #B3B3B3;
				margin-right: 5px;
				display: inline;
				border: 0px;
			}						
			input{
				width:208px;
				line-height: 18px;
				height:18px;
				padding: 5px 10px;
				color: #999;				
			}
			label.for_in{
				display:inline-block;
				text-align:right;
				width:60px;
				@include one-line(30px);
				font-size: 14px;	
				margin-right:10px;			
			}
			.pass{
				margin:20px 0px 10px 0px;
			}
			.ano{
				padding:0px 58px 0px 72px;
				input,label{
					float:left;
				}
				a{
					color:#B3B3B3;
					float:right;
				}
			}
			button{
				margin:13px 0px 0px 70px;
				width:230px;
				@include one-line(30px);
				color:#fff;
				background:$red;
				text-align:center;
				border:0px;
		  	font-size:14px;          
		  	@include border-radius(4px);
		  	cursor: pointer;
		  	letter-spacing: 5px;
		  	&:hover{
		  		background: $red1;
		  	}	        
		  	&:active{
		  		background: $red2;
		  	}    				
			}
  		button.disabled{
  			cursor:default;
				background:#E6E6E6;
				color:#B3B3B3; 
				&:hover{
					background:#e6e6e6;
					color:#b3b3b3;
				} 				
  		}			
		}
	}
	.share_m{
		width:8px;
		height:235px;
		float:left;
		background:url('/assets/od-quillme/share_line.png')
	}
	.share_bor{
		margin-bottom:20px;
		float:left;
  		width:380px;
  		height:auto;
  		padding-left:30px;
		@include border-radius(4px);
  		h2{
  		  color:#666;
  		  font-size:14px;
  		  font-weight:bold;
  		  margin:20px 0px 12px 0px;  
  		}
  		.share_tit{
  		  height:24px;
  		  background:#fff7eb;
  		  line-height:24px;
  		  text-align:center;
  		  span{
  		    color:#ed1818;  
  		  }    
  		}
  		.weibo a{
  		  margin-right:10px;
  		}
  		.method{
  		  color:#999;
  		  margin:21px 0px;
  		  font-size: 14px;
  		}
  		input{
  		  width:260px;
  		  padding:5px;
  		  float:left;  
  		}
  		button{
  		  width:66px;
  		  height:30px;
  		  font-size: 14px;
  		  background:$red;
  		  border:0px;
  		  margin-left:10px;
  		  color:#fff;
  		  cursor:pointer;         
  		  @include border-radius(4px);	
  		  &:hover{
  		  	background: $red1;
  		  }
  		  &:active{
  		  	background: $red2;
  		  }
  		}
  		.share-notice{
  			margin-top: 10px;
  			display:none;
  			i{
  				float: left;
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url(/assets/od-quillme/success.png) no-repeat;	
  			}
  			span{
  				height: 20px;
				line-height: 20px;
				color: #666;
  			}
  		}    
	}
}


input[type='text'],input[type='password'],textarea{
	border:1px solid #ccc;
	@include border-radius(4px);
}
input[type='text']:focus,
input[type='password']:focus,
textarea:focus {
  @include box-shadow(0 0 2px 1px rgba(140, 198, 63, 0.5));
  border-color: #8cc63f;
}
input[type='text'].error,
input[type='password'].error,
textarea.error {
  @include box-shadow(0 0 2px 1px rgba(236, 23, 23, 0.5));
  border-color: #ec1717;
}

.popup-close{@include icons-sprite(popup-close);}

.icon16{
	width:16px;
	height:16px;
	@include inline-block;
	margin:-2px 2px 0 0;
}


.icon16.open{@include icons-sprite(open);}
.icon16.close{@include icons-sprite(close);}
.icon16.f-qq{@include icons-sprite(f_qq);}
.icon16.f-sina{@include icons-sprite(f_sina);}


.icon16.hourglass{background: image-url('od-quillme/icons/hourglass.png') no-repeat left top;}
.icon16.clock{background: image-url('od-quillme/icons/clock.png') no-repeat left top;}
.icon16.research-people{background: image-url('od-quillme/icons/people.png') no-repeat left top;}