<% if @data[:hotest_gifts]['data'].length > 0  %>
  $('ul.gift-list').html("<%= escape_javascript(render :partial => 'gifts_list', :locals => { :gifts => @data[:hotest_gifts] }) %>") 
  <% if @data[:hotest_gifts]['total_page'].to_i > 1 %> 
    if($('div.pagination').length > 0 ){
      $('div.pagination').replaceWith("<%= escape_javascript(sample_paginator_ajax(@data[:hotest_gifts],@data[:sort_type],nil,@data[:point])) %>")   
    }else{
      $('ul.gift-list').after("<%= escape_javascript(sample_paginator_ajax(@data[:hotest_gifts],@data[:sort_type],nil,@data[:point])) %>") 
    } 
  <% else %>
     $('div.pagination').remove();
  <% end %>
<% else %>
  $('ul.gift-list').html('<div class="no_data"><div><img src="/assets/od-quillme/reg_fail.png" /><span> 您当前积分不足以兑换任何礼品,您可以<a href="/surveys">答题赚积分</a></span></div></div>')
  $('div.pagination').remove();
<% end %>