<% content_for :head do %>
<% end %>

<div class="design">
	<h3 class="orange">正文标题</h3>
	
		<span class="img"></span>
		<p>
			这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述
		</p>
		<p>
			这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这
		</p>
		<p>
			里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述这里是内容描述
		</p>
	
	<h3 class="orange">正文标题</h3>
	<h4 class="orange">列表详细描述列表详细描述列表详细描述列表详细描述</h4>
	<span class="img"></span>
	<ul>
		<li>这是列表内容</li>
		<li>这是列表内容这是列表内容</li>
		<li>这是列表内容这是列表内容这是列表内容</li>
		<li>这是列表内容这是列表内容</li>
		<li>这是列表内容</li>
		<li>这是列表内容</li>
		<li>这是列表内容</li>
	</ul>

	<h4 class="orange">列表详细描述列表详细描述列表详细描述列表详细描述列表详细描述列表详细描述列表详细描述列表详细描述</h4>
	<span class="img"></span>
	<ul>
		<li>这是列表内容</li>
		<li>这是列表内容这是列表内容</li>
		<li>这是列表内容这是列表内容这是列表内容</li>
		<li>这是列表内容这是列表内容</li>
		<li>这是列表内容</li>
		<li>这是列表内容</li>
		<li>这是列表内容</li>
	</ul>	
</div>
