<% content_for :head do %>
<%= javascript_include_tag "pages/quill/aboutus-bundle" %>
<%= stylesheet_link_tag "pages/quill/aboutus-bundle", :media => "all" %>
<% end %>
<div class="page">
	<h6 class="logo">优数调研</h6>
	<p class="logo-en-text">www.oopsdata.com</p>
	<p class="logo-cn-text">智能数据挖掘,智慧管理咨询</p>
	<p class="logo-cn-text">调查咨询与智能技术有机融合，战略策略与应用产品对接落地</p>

	<h3>公司简介</h3>

	<p class="text">优数调研是国内领先的在线数据挖掘与智慧管理咨询公司，依托于清华大学的跨学科研究团队，致力于促进传统民意调查、市场研究、管理咨询方法与IT技术的有机融合，打造卓越的智能数据挖掘与智慧管理咨询机构。</p>
	<p class="text">优数调研拥有自主知识产权的智能网络问卷调查系统、智能移动终端问卷调查系统、.智能神秘客暗访管理系统、智能网络舆情监测系统，创新数据采集和处理技术，充分发挥现代信息技术的优势，提供专业高效的民意调查和市场研究服务。研究领域覆盖广告和品牌研究)、市场营销研究、媒体研究、城市发展研究、旅游研究、满意度与忠诚度研究、数据采集与处理。</p>
	<p class="text">优数调研始终坚持借助IT技术创新管理咨询方法，运用现代信息技术服务于管理流程改进和管理效能提升，实现管理问题诊断-管理策略优化-管理工具设计-管理系统开发-管理效益倍增的全流程智慧管理咨询，并在智慧旅游管理、智能电力营销管理、智能市政管理、媒体大数据管理积累了丰富的经验。</p>
	<p class="text">我们的愿景坚定不移：促进传统民意调查、市场研究、管理咨询与现代IT技术的有机融合，不仅能够发现问题，提出解决问题的办法，更能够提供智能管理工具与产品，让优数调研成为能够给您带来倍增效益的战略合作伙伴。</p>

	<h3>工作团队</h3>
	<ul class="team">
		<li><span class="work" style="padding:0">全职研究人员</span><span class="number">36</span></li>
		<li><span class="work">全职技术人员</span><span class="number">17</span></li>
		<li><span class="work">专职督导</span><span class="number">18</span></li>
		<li style="border:none"><span class="work">专职访问员</span><span class="number">26</span></li>
		<li><span class="work" style="padding:0">兼职咨询专家</span><span class="number">178</span></li>
		<li><span class="work">兼职技术人员</span><span class="number">35</span></li>
		<li><span class="work">兼职督导</span><span class="number">？</span></li>
		<li style="border:none"><span class="work">兼职访问员</span><span class="number">？</span></li>
	</ul>
	<div class="team-describe">
		<p>优数调研通过组合跨学科、多技能的专业团队为您提供高效超值的服务。</p>
		<p>研究人员均获得硕士以上学位，并具有丰富的项目研究经验，形成了涵盖社会学，统计学，心理学，市场营销，经济学、管理学、传播学等跨学科的背景。技术人员均获得硕士以上学位，具有超过十个以上的IT项目开发和管理经验，形成了覆盖计算机、电子、人机交互、网络工程等多学科的技术开发团队。</p>
	</div>
	<div class="contact-us">
		<h3>联系我们</h3>
		<p>邮箱：market(at)oopsdata.com</p>
		<p>电话：400-6506-905</p>
		<p>地 址：中国北京市海淀区优数大厦 B 座 903</p>
	</div>

</div>

