      <div class="article-txt">
        <h2 class="title"><a href="javascript:void(0);" >这里是文章标题这里是文章标题这</a></h2>
        <span class="date">2013.5.1</span>
        <p class="fix">
          <span class="image"><img class="img-r" src="/assets/zine/1.png" alt=""></span>
          <span class="editArea">这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字</span>
        </p>
      </div>