<% content_for :head do %>
  <%= javascript_include_tag "pages/admin/gifts/form-bundle" %>
<% end %>
<% content_for :sidebar do %>
  <ul class="nav nav-list flowy-admin-sidenav">
    <li>
      <a href="/admin/gifts">
      <i class="icon-chevron-right"></i>
      礼品列表
      </a>
    </li>
    <li class="active">
      <a href="javascript:void(0);">
        <i class="icon-chevron-right"></i>
        编辑礼品
      </a>
    </li>
  </ul>
<% end %>

<%= render "form" %>

<% content_for :foot do %>

<% end %>
