<% content_for :head do %>
  <%= stylesheet_link_tag "pages/admin/gifts-bundle" %>
  <%= javascript_include_tag "pages/admin/gifts/form-bundle" %>
<% end %>

<% content_for :sidenav do %>
  <li>
    <a href="/admin/gifts">
    <i class="icon-chevron-right"></i>
    礼品列表
    </a>
  </li>
  <li class="active">
    <a href="/admin/gifts/new">
      <i class="icon-chevron-right"></i>
      新建礼品
    </a>
  </li>
<% end %>


<ul class="breadcrumb">
  <li><a href="#">礼品信息管理</a> <span class="divider">/</span></li>
  <li class="active">新建礼品</li>
</ul>

<%= notice_auto %>

<%= render "form" %>
<% content_for :foot do %>

<% end %>
