@import "common";
@import "compass/utilities/general/clearfix";
@import "activities/2014-6/ferris/*.png";

//摩天轮
 #ferris-wheel{
	width:350px;
	height:350px;
	position: relative;
 .ferris-wheel-box{
		width:350px;
		height:350px;
		top:100px;
		
		.ferris{
			width:350px;
			height:350px;
			position: absolute;
			top:0;
			left:0;
			z-index: 99;
			@include ferris-sprite(ferris1);
			-webkit-transition-property: -webkit-transform;
			-webkit-transition-duration: 1s;
			-moz-transition-property: -moz-transform;
			-moz-transition-duration: 1s;
			-webkit-animation: rotate 30s linear infinite;
			-moz-animation: rotate 30s linear infinite;
			-o-animation: rotate 30s linear infinite;
			animation: rotate 30s linear infinite;
			&.flash{
				@include ferris-sprite(ferris2);
			}
		}
		.holder{
			width:350px;
			height:350px;
			position: absolute;
			top:0;
			left:0;
			z-index: 99;
			@include ferris-sprite(holder);
		}
		a{
			width:175px;
			height:175px;
			line-height: 175px;
			float: left;
			text-align: center;
			color:#FFF;
			font-size: 17px;
			&.one{
				@include ferris-sprite(one);
				&:active{
					@include ferris-sprite(one_hover);
				}
				&.active{
					@include ferris-sprite(one_active);
					cursor: default;
				}
			}
			&.two{
				@include ferris-sprite(two);
				&:active{
					@include ferris-sprite(two_hover);
				}
				&.active{
					@include ferris-sprite(two_active);
					cursor: default;
				}
			}
			&.three{
				@include ferris-sprite(three);
				&:active{
					@include ferris-sprite(three_hover);
				}
				&.active{
					@include ferris-sprite(three_active);
					cursor: default;
				}
			}
			&.four{
				@include ferris-sprite(four);
				&:active{
					@include ferris-sprite(four_hover);
				}
				&.active{
					@include ferris-sprite(four_active);
					cursor: default;
				}
			}
			&.five{
				width:40px;
				height:40px;
				display: block;
				position: absolute;
				@include ferris-sprite(five);
				z-index: 100;
				top:156px;
				left:156px;
			}
		}
	}
}

//旋转效果

@-webkit-keyframes rotate{from{-webkit-transform: rotate(0deg)}
to{-webkit-transform: rotate(360deg)}
}
@-moz-keyframes rotate{from{-moz-transform: rotate(0deg)}
to{-moz-transform: rotate(359deg)}
}
@-o-keyframes rotate{from{-o-transform: rotate(0deg)}
to{-o-transform: rotate(359deg)}
}
@keyframes rotate{from{transform: rotate(0deg)}
to{transform: rotate(359deg)}
}
.page{
	width:1100px;
	height:100%;
	background: #A2CA81;
	position: relative;
	z-index: 9;
	margin:0 auto;
	.page-inner{
		padding:40px 0;
	}
}
.header{
	width:100%;
	height:40px;
	line-height: 40px;
	cursor: default;
	color:#fff;
	background: #333;
	position: fixed;
	top:0;
	z-index: 999;
	font-size: 14px;
	a{
		color:#fff;
	}
	.header-box{
		height:40px;
		line-height: 40px;
		background: #333;
	}
	.bulletin{
		width:500px;
		height:40px;
		float: left;
		position: relative;
		overflow: hidden;
		ul{
			width:500px;
			position: absolute;
		}
	}
	.link{
		padding:0 15px;
		display: block;
		b{
				width:1px;
				height:1px;
				border:5px #fff solid;
				border-left-color:#333;
				border-right-color:#333;
				border-bottom-color:#333;
				display: inline-block;
				position: relative;
				top:4px;
				left:5px;
			}
		&.active{
			background: #fff;
			color:#333;
			cursor: default;
			b{
				border:5px #dbdbdb solid;
				border-left-color:#fff;
				border-right-color:#fff;
				border-bottom-color:#fff;
			}
		}
	}
	.share{
		float: right;
		position: relative;
		ul{
			width:150px;
			position: absolute;
			background: #fff;
			top:40px;
			right:0;
			display: none;
			li{
				margin:10px;
				a{
					color:#333;
					background: #f6f6f6;
					display: block;
					padding:0 10px;
					i{
						width:24px;
						height:24px;
						background: #fff;
						float: left;
						margin:8px 8px 0 0 ;
					}
				}
			}
		}
	}
	.questions{
		float: right;
		position: relative;
		ul{
			width:260px;
			position: absolute;
			background: #fff;
			top:40px;
			left:0;
			display: none;
			li{
				margin: 10px;
				span{
					color:#333;
					display: block;
					line-height: 1.6em;
					&.title{
						background: #f8f8f8;
						padding:3px 10px;
						color:#333;
					}
					&.text{
						padding:10px;
						padding-bottom:0;
						color:#999;
					}
				}
			}
		}
	}
}
.door{
	width:1100px;
}
.footer{
	width:100%;
	height:40px;
	line-height: 40px;
	cursor: default;
	color:#fff;
	background: #333;
	position: fixed;
	z-index: 999;
	bottom:0;
	font-size: 14px;
	a{
		color:#fff;
	}
	.copy{
		float: left;
	}
	.contact{
		float: right;
	}
	.footer-box{
		height:40px;
		background: #333;
	}
}
.bg1{
	background:#A2CA81 url('/assets/activities/2014-6/ferris/bg1.png') no-repeat center center;
}
.bg2{
	background:#A2CA81 url('/assets/activities/2014-6/ferris/bg2.png') no-repeat center center;
}
.bg3{
	background:#A2CA81 url('/assets/activities/2014-6/ferris/bg3.png') no-repeat center center;
}
.bg4{
	background:#A2CA81 url('/assets/activities/2014-6/ferris/bg4.png') no-repeat 0 -1631px;
}


