<li class='edit-quota'>
	<h4>配额 {{number}}</h4>
	<div>
		<div class='sum'>期望回收 <input type="text" class="amount" value="{{amount}}"/> 份</div>
		<ul class='questions'></ul>
		<div class="add-confirm">
			<a href="javascript:void(0);" class="add-btn">
				<span class='add-btn-left'><i class="icon-add">+</i></span>
				<span class="add-btn-right">选择配额约束问题</span>
			</a>
			<button class="od-button od-button-white cancel-editor">取消</button>
			<button class="od-button confirm-editor">完成编辑</button>
		</div>
	</div>
</li>