<table class='data-table'>
	<tr>
		<th class='index'>编号</th>
		<th class="name">姓名</th>
		<th class="mail">邮箱</th>
		<th class="city">所在地</th>
		<th class="start-time">开始填写时间</th>
		<th class="time">填写时长</th>
		<!-- <th class="view">查看问卷</th> -->
	</tr>
</table>