<div class='q-filler'>
	{{#if index}}
	<span class='q-idx'>{{index}}</span>
	{{/if}}
	<div class='q-title'></div>
	<div class='q-content'>
		<div class='table'></div>
		<div id='{{chart_id}}' class='chart'></div>
	</div>
</div>