<table cellspacing='0' cellpadding='0'>
	<tr>
		<th class='tt tl'>选项</th>
		<th class='tt tr'>选择人数</th>
	</tr>
	{{#each rows}}
	<tr>
		<td class='tl'></td>
		<td class='tr'>{{this}}</td>
	</tr>
	{{/each}}
	<tr>
		<th class='tb tl'>答题人数</th>
		<th class='tb tr'>{{total}}</th>
	</tr>
</table>