/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
.table_box {
	padding-left: 50px;
	padding-top: 20px;
}

.subtitle {
	font-size: 14pt;
}

.title {
	font-size: 16pt;
	font-weight: bold;
}

table {
	border: 1px #000 solid;
}

tr td {
	border:1px solid #000;
	border-top:1px solid #000;
}

tr th {
	border:1px solid #000;
	border-top:1px solid #000
}
