  <div class="content">
    <h4>智能数据挖掘 智慧管理咨询</h4>
    <div class="article" style="background:#f5f5f5;">
      <h3 >优数动态</h3>
      <div class="article-txt">
        <h2 class="title"><a href="javascript:void(0);" >这里是文章标题这里是文章标题这里是文章标题</a></h2>
        <span class="date">2013.5.1</span>
        <p class="fix">
          <span class="editArea">这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字这里是文字</span>
        </p>
      </div>
    </div>

    <div class="product-news fix" style="background:#f5f5f5;">
      <h3  style="margin-bottom:30px;">产品动态</h3>
      <div class="product-news-txt">
        <!-- 日期 -->
        <!--  -->
        <span class="product-news-date">
          <span class="month">03</span>
          <span class="day">20</span>
          <span class="year">2013</span>
        </span>
        <div class="article-txt l" style="width:530px;">
          <img class="img-r" src="/assets/zine/4.png" alt="">
          <h3 class="title"><a href="javascript:void(0);" class="editArea">这里是文章标题这里是文章标题这里是文章标题</a></h3>
          <p>这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述
          </p>
        </div>
      </div>

    </div>

    <div class="column_placeholder"></div>

    <div class="article" style="background:#f5f5f5;">
      <h3>关于我们</h3>
      <div class="article-txt">
        <p>优数咨询是国内领先的网络调研公司，拥有自主知识产权的网络问卷调查系统、研究报告自动导出系统、社交网络用户调研系统、神秘顾客暗访解决方和移动终端面访管理系统，为您开展问卷调查，筛选深度访谈和座谈会对象、开展神秘顾客暗访提供最为多样化的智能调研平台。</p>
        <p>优数咨询是国内领先的智慧管理咨询机构，致力于促进传统民意调查、市场研究、管理咨询方法与IT技术的有机融合，在智慧旅游管理、智慧电力营销管理、智慧市政管理等领积累了丰富的项目经验。</p>
      </div>
      <h3 style="margin-top:30px;">产品介绍</h3>
      <div class="article-txt">
        <h2 class="title"><a href="javascript:void(0);">OopsQ网络调研平台</a></h2>
        <p class="fix">
        OopsQ 智能网络调研平台致力于打造科学严谨的网络调研系统，借助社会化媒体、云计算、可视化分析等信息技术改变传统调研模式，从调研设计、样本筛选、数据采集、质量控制、数据分析、报告生成等方面提升调研的科学性和严谨性，让调研更精准、更科学。
        </p>
        <p>
          <a style="display:inline-block;margin-right:10px;" href="http://oopsdata.com/oopsr">OopsR 报告智能分析云平台</a>
          <a style="display:inline-block;margin-right:10px;" href="http://oopsdata.com/oopss">OopsS 社交网络用户调研系统</a>
          <a style="display:inline-block;margin-right:10px;" href="http://oopsdata.com/oopsi">OopsI 移动终端面访管理系统</a>
          <a style="display:inline-block;margin-right:10px;" href="http://oopsdata.com/oopsm">OopsM 神秘客暗访系统</a>
          <a style="display:inline-block;margin-right:10px;" href="http://oopsdata.com/travel">智慧旅游管理</a>
          <a style="display:inline-block;margin-right:10px;" href="http://oopsdata.com/electricity">智慧电力服务品质管理</a>
          <a style="display:inline-block;margin-right:10px;" href="http://oopsdata.com/city">智慧市政管理</a>
        </p>
      </div>
      <img style="margin-top:40px;" src="http://wenjuanba.com/assets/zine/5.png" alt="">
        <p><h2 class="title" style="font-size:16px;">联系我们</h2><br>
        电话：(+86)-010-8243-2259 <br>
        邮件：<a href="http://oopsdata.com/contact">sales@oopsdata.com</a></p>
    </div>
  </div>