//=require ui/widgets/od_popup

@import "common";
@import "od-button/*.png";
@import "compass/utilities/general/clearfix";

$url-od-selector: image-url("widgets/od-selector.png");
$url-od-selector-yellow: image-url("widgets/od-selector-yellow-1px.png");
$url-od-edit-question: image-url("editors/editors-question-bg.png");


.title-check{
	margin:13px 10px 0 0;
}
.pw{
	padding:10px 0 0 60px;
	label{
		display:block;
		margin:20px 0 10px 0;
		color:#666;
		span {
			color: #999;
		}
	}
	input[type='password'], input[type='text']{
		width:260px;
		padding:5px;
	}
	textarea{
		width:465px;
		height:110px;
		margin-top:10px;
		resize: none;
	}
	.od-button {
		margin-top: 15px;
		display: block;
		padding-left: 20px;
		padding-right: 20px;
	}
	/*数量*/
	#quantity{
		width:50px;
		margin:0 10px;
	}
}
#times{
	width:40px;
	margin:0 5px;
}
#ip{
	width:280px;
	color:#999;
}
#makekey{
	margin:19px 0 0 285px;
}
.pw-option{
	@include inline-block;
	width:784px;
	h2{
		border-top:1px #dbdbdb solid;
		@include one-line(50px);
		padding-left:30px;
		margin-left:3px;
		.list-check{margin:19px 10px 0 0;}
	}
}