<div id="lottery_login" style="display:none;">
  <div class="exc_box">
    <div class="exc_notices exc_left">
      <h3>欢迎回来！</h3>
      <div class='err_notice'></div>
      <div class="wel_cont">
        <div class="login_username">用户名：<br /><input type="text" name="username" value="" /></div>
        <div class="login_password">密码：<br /><input type="password" name="password" value="" /></div>
        <span>
          <input type="checkbox" name="remember"/>
          <span>记住我<a href="" target="_blank">忘记密码？</a></span>
        </span><br />
        <button class="login_btn"><span>登</span>录</button>
      </div>
    </div>
    <div class="exc_right">
      <button>注册</button>
    </div>
  </div>
</div>



<!-- <div id="recever" style="display:none;">
  <div class="exc_notices">
    <h1>补全收货人地址</h1>
    <div class="sub_infor">
      <div class="basic_document">
        <input class="name" name="receiver" type="text" placeholder="姓名" />
        <input class="phone_num" name="mobile" type="text" placeholder="电话" />
        <input class="postcode" name="postcode" type="text" placeholder="邮政编码" />
        <div style="clear:both;"></div>
      </div>
      <div class="address">
        <span class="add">所在地：</span>
        <span class="notice" style="display:none;color:#ec1717;">请输入正确的地址信息</span>
        <div id="recerver_address"></div>
      </div>
      <textarea name="street_info" placeholder="街道地址（不需要填写省/市/区）"></textarea>
      <div class="tj_sub">
        <%# if user_signed_in %>
        <div class="synchro">
          <input type="checkbox" name="info_sys"/><span>同步到个人资料</span>
        </div>
        <%# end %>
        <input class="sub_btn" type="button" value="提交" />
        <div style="clear:both;"></div>
      </div>
    </div>
  </div>
</div> -->

<!-- 住建委项目去除地址信息,只保留手机号码和姓名-->
<div id="recever" style="display:none;">
  <div class="exc_notices">
    <h1>填写个人信息</h1>
    <div class="sub_infor">
      <div class="basic_document">
        <input class="name" name="receiver" type="text" placeholder="姓名" />
        <input class="phone_num" name="mobile" type="text" placeholder="电话" />
        <div style="clear:both;"></div>
      </div>
      <div class="tj_sub">
        <input class="sub_btn" type="button" value="提交" />
        <div style="clear:both;"></div>
      </div>
    </div>
  </div>
</div>

<!-- 住建委项目去除地址信息,只保留手机号码和姓名-->
<!-- <div id="recever_confirm" style="display:none;">
  <div class="exc_notices">
    <h1>确认收货地址</h1>
    <div class="sub_infor">
      <div class="basic_document">
        收货人：<span name="receiver" class="recerver_info"></span>
        <span>手机：<span name="mobile" class="recerver_info"></span></span>
        邮编：<span name="postcode" class="recerver_info"></span>
        <span name="info_sys" class="recerver_info" style="display:none;"></span>
      </div>
      <div class="address">
        所在地：<span name="address" class="recerver_info"></span>
      </div>
      <div class="street_add">
        街道所在地：<span name="street_info" class="recerver_info"></span>
      </div>
      <div class="tj_sub">
        <input class="sub_btn con_sub_btn" type="button" value="继续提交" />
        <a href="javascript:void(0);" class="repair_address">我要修改</a>
        <div style="clear:both;"></div>
      </div>
    </div>
  </div>
</div> -->
<!-- 住建委项目去除地址信息,只保留手机号码和姓名-->
<div id="recever_confirm" style="display:none;">
  <div class="exc_notices">
    <h1>确认个人信息</h1>
    <div class="sub_infor">
      <div class="basic_document">
        收货人：<span name="receiver" class="recerver_info"></span>
        <span>手机：<span name="mobile" class="recerver_info"></span></span>
        <span name="info_sys" class="recerver_info" style="display:none;"></span>
      </div>
      <div class="tj_sub">
        <input class="sub_btn con_sub_btn" type="button" value="继续提交" />
        <a href="javascript:void(0);" class="repair_address">我要修改</a>
        <div style="clear:both;"></div>
      </div>
    </div>
  </div>
</div>


<div id="order_ok" style="display:none;">
  <div class="exc_notices">
    <h2><img src="/assets/od-quillme/order_s.png"/>恭喜您，订单提交成功！</h2>
    <div class="order_details">
      系统审核通过后我们会把奖品寄送到您的收货地址您可以进入个人中心<a href="/users/orders?scope=2">我的订单</a>中查看订单状态，
      如果您没有登录,您可以选择
       <div class="answer_look">
        <% if !user_signed_in %>
          <input class="answer close_f"  data="/account/sign_in" type="button" value="登录" />
          <input class="look_over close_f" data="/account/sign_out"  type="button" value="注册" />
          <div style="clear:both;"></div>
        <% else %>
          <input class="look_over close_f" data="/users/orders"  type="button" value="查看订单"  style="margin-left:100px;"/>
        <% end %>
      </div>
    </div>
  </div>
</div>