@import "common";
@import "compass/css3/inline-block";
@import "compass/utilities/general/clearfix";
.messages{
	padding-top:5px;
	padding-bottom:10px;
	@include clearfix;
	li{
		width:830px;
		margin:15px 0 10px 5px;
		padding:10px 30px;
		line-height:2em;
		cursor: pointer;
		p{
			width:660px;
			margin-left:20px;
			clear:both;
			color:#999;
		}
	}
}
.graybg{
	background:#f1f1f3;
	position:relative;
	top:12px;
}

.messages-bottom{
	width:760px;
	margin:0 auto;
	border-top:1px #dbdbdb dashed;
	#pagination {
		float:none;
		margin-left:350px;
	}
}