//=require ui/widgets/od_popup

@import "common";
@import "compass/css3/inline-block";

form{
	fieldset{
		width:860px;
		margin:0 auto;
		border-bottom:1px #dbdbdb dashed;
		padding-bottom:20px;
	}
	p{
		margin-bottom:20px;
	}
	legend {
		@include one-line(60px);
		margin-left:40px;
	}
	.inform-mail{
		padding:20px 0 20px 20px;
		display:block;
		.inform{
			margin:8px 8px 0 0;
		}
	}
	
}
.input-title{
	width:100px;
	@include inline-block;
	margin:-6px 10px 0 0;

}
.css-btn.red{
	color:#fff;
	background:#de4041;
	margin-right:30px;
}
.alertDiv{
	color:red;
	display:inline;
	margin-left: 5px;
}
.w500{width:500px;}
.w300{width:300px;}
.w200{width:200px;}
.dn{display:none;}