@import "common";
@import "login/other-login-icon/*.png";
@import "compass/utilities/general/clearfix";

.w896{
	width:856px;
	margin:0 auto;
	background:#fff;
	padding:30px 0 40px 0;
}
.login-left{
	width:310px;
	height:150px;
	padding:0 40px 0 20px;
	border-right:1px #de4041 solid;
	p{
		margin-top:10px;
		margin-top:15px;
		label{
			color: #666;
			width:80px;
			@include inline-block;
			text-align: right;
		}
	}
	.Rememb{
		margin:7px 5px 0 0;
	}
}
.login-right{
	width:400px;
	height:150px;
	padding:0 40px 0 40px;
}
.login-link a{
	text-decoration: underline;
	&:hover{color: #DE4041;}
}
input[type='text'], input[type='password'] {
	width:200px;
	height:24px;
	border: 2px #d93631 dashed;
	@include border-radius(15px);
	padding: 2px 6px;
	*padding:0px 6px 4px 6px;
	font-size:14px;
	line-height:1.5em;
	color:#999;
	&:focus {
		border-color: rgb(245, 192, 0);
		@include box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(245, 192, 0, .6));
		outline: none;
		color:#666;
	}
	
	&.error {
		border-color: rgb(255, 0, 0);
		@include box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(255, 0, 0, .6));
		outline: none;
		color: #f00;
	}
}
#remember_ckb{
	margin:10px 0 0 10px;
}
ul.other-login-link{
	width:300px;
  li{
	  width:120px;
	  margin:5px 30px 0 0 ;
	  @include one-line(40px);
	  float: left;
	  a{
		  color:#6d91a9;
		  display:block;
		  &:hover{font-weight:bold;}
	  }
  }
  .other-icon{
	  width:32px;
	  height:32px;
	  margin-top:-3px;
	  @include inline-block;
  }
  .sina_weibo{@include other-login-icon-sprite(sina_weibo);}
  .renren{@include other-login-icon-sprite(renren);}
  .t_weibo{@include other-login-icon-sprite(t_weibo);}
  .douban{@include other-login-icon-sprite(douban);}
  .qq{@include other-login-icon-sprite(qq);}
  .diandian{@include other-login-icon-sprite(diandian);}
  .gmail{@include other-login-icon-sprite(gmail);}
  .kaixin{@include other-login-icon-sprite(kaixin);}
}
.more-link{
	margin-top:105px;
}
