@import "common";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/utilities/general/clearfix";
strong{
	font-weight: bold;
}
a{
	text-decoration: underline;
}
body{
	font-size: 14px;
	line-height: 2em;
}
.page{
	width:90%;
	margin:0 auto;
}
.title{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	background: #141414;
	padding:14px;
}
.login-panel{
	input[type="text"],input[type="password"]{
		width:94%;
		font-size: 16px;
		padding:3%;
		margin-top:10px;
		&:focus{
			background: -webkit-gradient(linear, left top, left bottom, from(#C3C3C3), to(#F7F7F8), color-stop(0.1, #F7F7F8));
		}
	}
	.remember{
		@include clearfix;
		margin-top:5px;
		input[type="checkbox"]{
			@include inline-block;
			margin-top:-1px;
		}
		.home-page{
			float: right;
			color: #ffc800;
			text-decoration: none;
		}
	}
	a.btn{
		width:100%;
		display: block;
		text-align: center;
		background: #FCCA19;
		border:1px #FBB140 solid;
		padding:7px 0;
		margin:10px 0;
		font-weight: bold;
		font-size: 16px;
		text-decoration: none;
		@include border-radius(4px);
		&:active{
			background: #FFBC17;
			border-color:#FFA63F;
		}
	}
	a.disabled,
	a[disabled] {
	  border:1px #9B9C9F solid;
	  cursor: default;
	  background-image: none;
	  	background: #E9EAEA;
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	  color:#999;
	  text-decoration: none;
	}
}
.copyright{
	font-size: 12px;
	color: #999;
	text-align: right;
	margin-top:40px;
}
.error{color:red;}