@import "common";
@import "filler/blue/social/*.png";
@import "filler/blue/cpnt/*.png";
@import "compass/css3";

$light-blue: #c8d8e5;
$fresh-blue: #5c97ff;
$dark-blue:#14405b;
$msg-bg: #d0d9de;

#sf {
	background:image-url('filler/blue/bg.png');
	a { color: $fresh-blue; }
}
#sf_banner {
	background: #17181a;
	>.inner {
		.preview { color: $light-blue; }
		#progress_info { color: $light-blue; }
	}
}
.progress-con {
	height: 4px;
	background: #333;
	#progress-line { display: none; }
	#progress {
		background: #bcc4c6;
		@include border-radius(0px);
		> em { 
				background: $fresh-blue;
				@include border-radius(0px);
			 }
	}
}

#sf_main {
	padding: 30px 0;
	@include border-radius(0px);
	@include single-box-shadow(#222, 0px, 0px, 15px);
	>.error-con { background: $msg-bg; }
}
#sf_footer {
	color: #125778;
	a { 
		color: #125778;
		&:hover{color: #fff} 
	}
}

.welcome {
	>h1 { color: #000; }
	>h2 { color: #b3b3b3; }
}
.msg {
	background: $msg-bg;
	> em { background-image: image-url("filler/blue/icon/time.png"); }
	> span {
		a, > em { color: $dark-blue; }
	}
	&.time { >em { background-image: image-url("filler/blue/icon/time.png");}  }
	&.warn { >em { background-image: image-url("filler/blue/icon/warn.png");} }
	&.award { >em { background-image: image-url("filler/blue/icon/award.png");} }
}
.form {
	button {
		color: #fff;
		background: #14405b;
		border:none;
		&:hover { background: #1a4c6b; }
		&:active { 
			background: #0e4669;
			@include box-shadow(darken(#022842, 25%) 0 1px 4px 1px inset);
		}
		&[disabled], &[disabled]:hover, &[disabled]:active  {
			background: #666;
			color: #333;
			cursor: default;
		}
	}
}

#page_buttons {
	button {
		color: #333;
		background: #FC9200;
		&:hover { background: #FF991A; }
		&:active { 
			background: #ED8500;
			@include box-shadow(darken(#022842, 25%) 0 1px 4px 1px inset);
		}
		&[disabled], &[disabled]:hover, &[disabled]:active  {
			background: #666;
			color: #333;
			cursor: default;
		}
		&.light {
			background: #535C66;
			&:hover { 
				background: lighten(#535C66, 20%); 
			}
			&:active { 
				background: lighten(#535C66, 10%); 
				@include box-shadow(darken(#535C66, 10%) 0 1px 4px 1px inset);
			}
			&[disabled], &[disabled]:hover, &[disabled]:active  {
				background: #666;
				color: #333;
				cursor: default;
			}
		}
	}
}

/* questions fillers */

.q-filler {
	padding: 10px 50px 35px 50px;
	.q-idx {
		@include size(34px,32px);
		@include inline-block;
		line-height: 36px;
		@include cpnt-sprite(idx);
		color:#fff;
		margin:-18px 0 0 -3px;
	}
}


/* choice question */
label.cust-option:not(#foo) {
	&:hover { background: #c8d8e5; }
	> input:focus + span + p, > input:checked + span + p, &:hover > input + span + p { color: #333; }

	> input[type=radio] + span { @include cpnt-sprite(radio); }
	> input[type=checkbox] + span { @include cpnt-sprite(checkbox); }

	/* Checked styles */
	> input[type=radio]:checked + span { @include cpnt-sprite(radio1); }
	> input[type=checkbox]:checked + span { @include cpnt-sprite(checkbox1); }
	> input[type=checkbox]:hover:checked + span,
	> input[type=checkbox]:focus:checked + span,
	> input[type=checkbox]:checked + span:hover,
	> input[type=checkbox]:focus:checked + span { @include cpnt-sprite(checkbox1); }
	> input[type=radio]:hover:checked + span,
	> input[type=radio]:focus:checked + span,
	> input[type=radio]:checked + span:hover,
	> input[type=radio]:focus:checked + span { @include cpnt-sprite(radio1); }

	/* Hover & Focus styles */
	> input[type=checkbox]:hover + span,
	> input[type=checkbox]:focus + span,
	> input[type=checkbox] + span:hover { @include cpnt-sprite(checkbox_hover); }
	> input[type=radio]:hover + span,
	> input[type=radio]:focus + span,
	> input[type=radio] + span:hover { @include cpnt-sprite(radio_hover); }

	/* Active styles */
	> input[type=checkbox]:active + span,
	> input[type=checkbox] + span:hover:active { @include cpnt-sprite(checkbox_active); }
	> input[type=radio]:active + span,
	> input[type=radio] + span:hover:active { @include cpnt-sprite(radio_active); }
	> input[type=checkbox]:active:checked + span,
	> input[type=checkbox]:checked + span:hover:active { @include cpnt-sprite(checkbox1_active); }
	> input[type=radio]:active:checked + span,
	> input[type=radio]:checked + span:hover:active { @include cpnt-sprite(radio1_active); }

	/* Disabled styles */
	> input[type=checkbox]:disabled + span,
	> input[type=checkbox]:hover:disabled + span,
	> input[type=checkbox]:focus:disabled + span,
	> input[type=checkbox]:disabled + span:hover,
	> input[type=checkbox]:disabled + span:hover:active { @include cpnt-sprite(checkbox_disabled); }
	> input[type=radio]:disabled + span,
	> input[type=radio]:hover:disabled + span,
	> input[type=radio]:focus:disabled + span,
	> input[type=radio]:disabled + span:hover,
	> input[type=radio]:disabled + span:hover:active { @include cpnt-sprite(radio_disabled); }
	> input[type=checkbox]:disabled:checked + span,
	> input[type=checkbox]:hover:disabled:checked + span,
	> input[type=checkbox]:focus:disabled:checked + span,
	> input[type=checkbox]:disabled:checked + span:hover,
	> input[type=checkbox]:disabled:checked + span:hover:active { @include cpnt-sprite(checkbox1_disabled); }
	> input[type=radio]:disabled:checked + span,
	> input[type=radio]:hover:disabled:checked + span,
	> input[type=radio]:focus:disabled:checked + span,
	> input[type=radio]:disabled:checked + span:hover,
	> input[type=radio]:disabled:checked + span:hover:active { @include cpnt-sprite(radio1_disabled); }
}

/* matrix choice  */
.q-matrixchoice {
	.q-content {
		table {
			tr.alter {background: fade_out($fresh-blue, 0.5);; }
			th, td { border: 1px solid $light-blue; }
		}
	}
}
label.matrix-option:not(#foo) {
	> input[type=radio] + span { @include cpnt-sprite(radio); }
	> input[type=checkbox] + span { @include cpnt-sprite(checkbox); }

	/* Checked styles */
	> input[type=radio]:checked + span { @include cpnt-sprite(radio1); }
	> input[type=checkbox]:checked + span { @include cpnt-sprite(checkbox1); }
	> input[type=checkbox]:hover:checked + span,
	> input[type=checkbox]:focus:checked + span,
	> input[type=checkbox]:checked + span:hover,
	> input[type=checkbox]:focus:checked + span { @include cpnt-sprite(checkbox1); }
	> input[type=radio]:hover:checked + span,
	> input[type=radio]:focus:checked + span,
	> input[type=radio]:checked + span:hover,
	> input[type=radio]:focus:checked + span { @include cpnt-sprite(radio1); }

	/* Hover & Focus styles */
	> input[type=checkbox]:hover + span,
	> input[type=checkbox]:focus + span,
	> input[type=checkbox] + span:hover { @include cpnt-sprite(checkbox_hover); }
	> input[type=radio]:hover + span,
	> input[type=radio]:focus + span,
	> input[type=radio] + span:hover { @include cpnt-sprite(radio_hover); }

	/* Active styles */
	> input[type=checkbox]:active + span,
	> input[type=checkbox] + span:hover:active { @include cpnt-sprite(checkbox_active); }
	> input[type=radio]:active + span,
	> input[type=radio] + span:hover:active { @include cpnt-sprite(radio_active); }
	> input[type=checkbox]:active:checked + span,
	> input[type=checkbox]:checked + span:hover:active { @include cpnt-sprite(checkbox1_active); }
	> input[type=radio]:active:checked + span,
	> input[type=radio]:checked + span:hover:active { @include cpnt-sprite(radio1_active); }

	/* Disabled styles */
	> input[type=checkbox]:disabled + span,
	> input[type=checkbox]:hover:disabled + span,
	> input[type=checkbox]:focus:disabled + span,
	> input[type=checkbox]:disabled + span:hover,
	> input[type=checkbox]:disabled + span:hover:active { @include cpnt-sprite(checkbox_disabled); }
	> input[type=radio]:disabled + span,
	> input[type=radio]:hover:disabled + span,
	> input[type=radio]:focus:disabled + span,
	> input[type=radio]:disabled + span:hover,
	> input[type=radio]:disabled + span:hover:active { @include cpnt-sprite(radio_disabled); }
	> input[type=checkbox]:disabled:checked + span,
	> input[type=checkbox]:hover:disabled:checked + span,
	> input[type=checkbox]:focus:disabled:checked + span,
	> input[type=checkbox]:disabled:checked + span:hover,
	> input[type=checkbox]:disabled:checked + span:hover:active { @include cpnt-sprite(checkbox1_disabled); }
	> input[type=radio]:disabled:checked + span,
	> input[type=radio]:hover:disabled:checked + span,
	> input[type=radio]:focus:disabled:checked + span,
	> input[type=radio]:disabled:checked + span:hover,
	> input[type=radio]:disabled:checked + span:hover:active { @include cpnt-sprite(radio1_disabled); }
}
/* sort question */
.q-sort {
	.q-content {
		li { 
			> em {
				@include cpnt-sprite(drag); 
			}
			> .sort-index {
				&.max {
					color: #808080;
				}
			}

			&:hover {
				background: #c8d8e5;
				>.sort-index {
					color: $fresh-blue;
				}
				>em {
					@include cpnt-sprite(drag_hover);
				}
			}
		}
	}
}
input[type="text"]{
	&:focus {
	border-color: #4B7FB1;
	outline: none;
	}
}