@import "common";
@import "compass/utilities/general/clearfix";

.address-slt {
	@include clearfix;
	width: 510px;

	select, input {
		float: left;
		margin-right: 15px;
		margin-bottom: 15px;
		display: none;
		@include one-line(24px);
		font-size: 13px;
	}
	select, input {
		width: 150px;
	}
	input.address-detail {
		width: 310px;
	}
}