<div id="being-hit" class="inner-page">
	<div class="dashed-box">
	    <div class="dashed-box-inner">
	    	<div class="dashed-box-inner-top">
					<h3 class="box-title">正在热播</h3>
				</div>
				<ul>
					<li>

					</li>
					<li>
					</li>
					<li>
					</li>
					<li>
					</li>
					<li>
					</li>
					<li>
					</li>
					<li>
					</li>
					<li>
					</li>
					<li>
					</li>
					<li>
					</li>
					<li>
					</li>
				</ul>
	    </div>
	</div>
</div>

<div id="upcoming" class="inner-page">
	<div class="dashed-box">
	    <div class="dashed-box-inner">
	    	<div class="dashed-box-inner-top">
					<h3 class="box-title">即将上映</h3>
				</div>
				<ul>
					<li>
					</li>
				</ul>
	    </div>
	</div>
</div>
