@import "common";
@import "compass/css3/inline-block";
@import "compass/utilities/general/clearfix";

.blank-item {
	clear: both;

	.od-item {
		margin: 0;
	}

	.item-detail {
		clear: both;
		margin-top: -14px;
		margin-left: 20px;
		margin-bottom: 10px;
		padding: 10px 5px;
		width: 545px;
		background: #f3f3f3;
		vertical-align: top;
	}

	.detail-column {
		@include inline-block;
		width: 120px;
		vertical-align: top;
		padding: 0 5px;
	}

	h1 {
		color: $blue;
		margin: 0;
		padding: 0;
		padding-bottom: 5px;
		// display:none;
	}

	.min-max, .number-blank-min-max, .number-blank-unit-edit {
		padding: 5px 0;
		color: #333;
	}

	.tiny-ipt {
		width: 25px;
		text-align: center;
		padding: 0;
	}
	.number-blank-unit-edit {
		.tiny-ipt {
			width: 50px;
		}
	}

	.time-blank-slt-con {
		padding: 5px;
		@include clearfix;
	}
}