<ul class="login" style="display:none;">
	<li>
		<a class="user-head-box" href="/users/setting">
			<span class="userhead">
				<img src="" alt="username" class="avatar">
			</span>
			<span class="username"></span>
			<i class="triangle"></i>
		</a>
		<ul id="account-pull-down" class="dn">
			<li>
				<a class="my-survey" href="/users/surveys"><i class="icon survey"></i>我的调研</a>
			</li>
			<li>
				<a class="credits-log" href="/users/points"><i class="icon 	credits"></i>积分记录</a>
			</li>
			<li>
				<a class="my-orders" href="/users/orders"><i class="icon orders	"></i>我的订单</a>
			</li>
			<li>
				<a class="account-setting" href="/users/setting"><i class="icon account"></i>账户设置</a>
			</li>
		</ul>
	</li>
	<li>
		<a class="integral-btn" href="/users/points" >
			<i class="icon integral"></i>
			<span></span>
		</a>
	</li>
	<li>
		<a class="inform-btn"  href="/users/notifications" >
			<i class="icon inform"></i>
			<span>
				通知（0）
			</span>
		</a>
	</li>
	<li>
		<a class="quit"href="/sign_out" class="quit-btn">退出</a>
	</li>
</ul>


