<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<title>邮件</title>
	<link href="/assets/email.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="mail fix">
		<div class="logo">
			<img src="/assets/email/logo.png" alt="优数调研">
		</div>
		<div class="content">
			<p>尊敬的<strong class="username"><% if @user.blank? %>用户<% else %> <%=@user.username%> <% end %></strong>你好!</p>
			<br />
			<%=yield %>
			<i class="divide"></i>
			<div class="explain">
				<p>如果错误地接受到了这条信息，且没有注册优数调研账户，请直接忽略本邮件。</p>
			</div>
		</div>
		<div class='team'>
			<a class='team-a' href="http://www.oopsdata.com">优数调研</a>
		</div>
	</div>
</body>
</html>