<% content_for :app_head do %>
  <%= stylesheet_link_tag    "layouts/express-layout" %>
  <%= yield :head %>
<% end %>

<% content_for :app_content do %>
  <div class="header">
    <div class="container">
      <a href="javascript:void(0);" class="logo"></a>
      <a href="/doc/design" class="help"><i class="icon-help"></i>帮助中心</a>
    </div>
    <div style="clear:both"></div>
    <div class="shadow"></div>
  </div>    
    <%= yield %>

<div class="page">
  <div class="footer">
    <div class="container">
      
      <div class="footer-left l">
        <div class="logo2"></div>
        <ul>
          <li><a href="javascript:void(0);">关于我们</a></li>
          <li><a href="javascript:void(0);">联系我们</a></li>
          <li><a href="/doc/design">帮助中心</a></li>
          <li><a href="javascript:void(0);">注册协议</a></li>
        </ul>
        <p>
          <span>版权所有 &copy; 2012-2016</span>    <a href="javascript:;">清研科技</a>  <span>京ICP备 13048388 号</span>
        </p>
      </div>
      <div class="footer-right r">
        <img class="qr-code" src="/assets/home/qr-code.png" alt="二维码">
        <div class="contact">
          <ul>
            <li>
              <i class="icon phone"></i>
              <span class="contact-title">010-82525685 转 838</span>
              <span class="contact-text">周一至周五 8:30-5:30</span>
            </li>
            <li>
              <i class="icon email"></i>
              <span class="contact-title">market@manyi.me</span>
              <span class="contact-text">发送意见反馈</span>
            </li>
            <li>
              <i class="icon weibo"></i>
              <span class="contact-title"><a href="http://weibo.com/diaoyanjia" target="_blank">@满意么</a></span>
              <span class="contact-text">关注最新动态</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= render :template => 'layouts/app' %>