<% content_for :head do %>
  <%= javascript_include_tag "pages/admin/samples/attributes-bundle" %>
<% end %>

<% content_for :sidebar do %>

  <ul class="nav nav-list flowy-admin-sidenav">
    <li>
      <a href="/admin/samples/attributes">
      <i class="icon-chevron-right"></i>
      样本属性列表
      </a>
    </li>
    <li class="active">
      <a href="javascript:vodi(0);">
      <i class="icon-chevron-right"></i>
      编辑样本属性
      </a>
    </li>
    <li>
      <a href="/admin/statistics/<%= params[:id] %>">
      <i class="icon-chevron-right"></i>
      查看该属性样本统计
      </a>
    </li>    
  </ul>
<% end %>

<%= render "attr_form" %>
